@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.sp_Analisis_Agua_Clorinacion>
@using Newtonsoft.Json;
@{ 
    string siOcultar = "";
    if (ViewBag.siOcultar)
    {
        siOcultar = "hidden";
    }
}
<table class="table table-striped table-bordered" style="font-size:12px">
    <thead>
        <tr>
            <th>ANALISTA</th>
            <th>CISTERNA</th>
            <th>HORA</th>
            <th>STD</th>
            <th>DT</th>
            <th>CL</th>
            <th @siOcultar>U. MODIFICACION</th>
            <th @siOcultar>F. MODIFICACION</th>
        </tr>
    </thead>
    <tbody style="font-size:11px">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.UsuarioIngresoLog.ToUpper()
                </td>
                <td>
                    @item.NombreCisterna.ToUpper()
                </td>
                <td>
                    @item.Hora.ToString("HH:mm")
                </td>
                <td>
                    @item.STD
                </td>
                <td>
                    @item.DT
                </td>
                <td>
                    @if (item.CL >= 0.3M && item.CL <= 1.5M)
                    {
                        <span class="badge badge-success">@item.CL.ToString("0.00")</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">@item.CL.ToString("0.00")</span>
                    }
                </td>
                <td @siOcultar>
                    @item.UsuarioModificacionLog
                </td>
                <td @siOcultar>
                    @{ DateTime date = Convert.ToDateTime(item.FechaModificacionLog);}
                    @if (date != DateTime.MinValue)
                    {
                        @date.ToString("dd-MM-yyyy HH:mm")
                    }

                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" style="text-align:right">PROMEDIO</td>
            <td>
                @{decimal v = Model.Where(a => a.STD != 0)
                              .Select(a => a.STD)
                              .DefaultIfEmpty(0)
                              .Average();}
                @v.ToString("0.00")
            </td>
            <td>
                @{decimal dt = Model.Where(a => a.DT != 0)
                               .Select(a => a.DT)
                               .DefaultIfEmpty(0)
                               .Average();}
                @dt.ToString("0.00")
            </td>
            <td>
                @{decimal cl = Model.Where(a => a.CL != 0)
                                 .Select(a => a.CL)
                                 .DefaultIfEmpty(0)
                                 .Average();
                    }
                @if (cl >= 0.3M && cl <= 1.5M)
                {
                    <span class="badge badge-success">@cl.ToString("0.00")</span>
                }
                else
                {
                    <span class="badge badge-danger">@cl.ToString("0.00")</span>
                }
            </td>
            <td @siOcultar></td>
            <td @siOcultar></td>
        </tr>
        </tfoot>
</table>
