@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.MAPEO_PRODUCTO_TUNEL>

<table class="table">
    <tr>           
        <th>
            @Html.DisplayNameFor(model => model.PesoProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrdenFabricacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoLimpieza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacion)
        </th>
      
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdMapeoProductoTunel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PesoProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrdenFabricacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoLimpieza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacion)
        </td>       
    </tr>
}

</table>
