@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaMapeoProductoTunel>
@using Newtonsoft.Json;
<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th>
                Peso
            </th>
            <th>
                O. Fabricación
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lote)
            </th>
            <th>
                Limpieza
            </th>
            <th>
                Talla
            </th>
            <th>
                Barco
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var json = JsonConvert.SerializeObject(item);
            <tr onclick="SeleccionarControl(@json)">
                <td>
                    @Html.DisplayFor(modelItem => item.PesoProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrdenFabricacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoLimpieza)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Talla)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Barco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacion)
                </td>
            </tr>
        }
    </tbody>
</table>
