@model Asiservy.Automatizacion.Datos.Datos.CC_MATERIAL_QUEBRADIZO_CTRL

@{
    ViewBag.Title = "ControlMaterialQuebradizo";
}

<style>
    input, select, textarea {
        max-width: 100%;
    }

    .selectbox {
        background: #fff;
        color: #1d3b4a;
        padding: 5px 8px;
        line-height: 18px;
        border-radius: 4px;
        border-width: 0 1px 4px;
        cursor: pointer;
        border: 1px solid #ddd;
    }

    .box_filters {
        float: right;
    }

    .itemFilter {
        float: left;
        margin-right: 4px;
    }

    .btnWait {
        cursor: no-drop !important;
    }

    ._bloque {
        margin-bottom: 10px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    fieldset {
        border: 1px solid #ddd !important;
        margin: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: #f5f5f5;
        padding-left: 10px !important;
    }

    legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px 5px 5px 10px;
        background-color: #ffffff;
    }

    .img {
        margin: 10px auto;
        border-radius: 5px;
        border: 1px solid #999;
        padding: 13px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

        .img img {
            width: 100%;
        }

    @@media all and (min-width: 500px) and (max-width: 1000px) {
        .img {
            margin: 20px auto;
            border-radius: 5px;
            border: 1px solid #999;
            padding: 13px;
            width: 300px;
            height: 300px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .img img {
        width: 100%;
    }
</style>

<div class="row text-uppercase">
    <div class="col-12  text-md-left text-center">
        <h6 style="float:left">Control de Material Quebradizo<label id="lblAprobadoPendiente" class="badge badge-danger"></label></h6>
        <div class=" box_filters ">
            <div class="itemFilter">
                <input type="date" name="name" value="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="CargarCabecera()" id="txtFecha" class="form-control" />
            </div>
            <div class="itemFilter">
                <a href="#" id="btnModalGenerarRegistro" title="Consultar registro" class="btn btn-primary btn-sm"><i onclick="CargarCabecera()" id="iconSearch" class="fas fa-search"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="row text-uppercase" >
    
        <div id="divBotonCrear" class="col-md-1 col-12 float-left">
            <label class="" id="lblAcciones">Nuevo</label>
            <div class="form-group">
                <button data-toggle="tooltip" data-placement="top" title="Crear nuevo registro" class="btn" id="btnModalGenerarRegistro" onclick="ModalIngresoCabecera()" style="border-color:#2c3e50" type="button">
                    <img style="width:100%" src="~/Content/icons/add24.png" />
                </button>
            </div>
        </div>
        <div class="col-md-2 col-12 col-sm-12">
            <label>Turno</label>
            <div class="form-group">
                @if (ViewBag.Turno != null)
                {
                    @Html.DropDownList("selectTurno", new SelectList(ViewBag.Turno, "Codigo", "Descripcion"), new { @Class = "form-control", @onchange = "CargarCabecera()" });
                }
                else
                { <label class="badge badge-danger">No existen turnos</label>}
            </div>
        </div>
   
</div>

<div class="card col-md-12" id="divMostrarCabecera" hidden>
    <div class="row">
        <div class="col-md-3 col-12 col-sm-12" style="float:left">
            <div class="form-group">
                <label>FECHA</label>
                <input type="date" name="name" disabled value="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="OnChangeTextBox(0)" id="txtFechaCabeceraVer" class="form-control" />
            </div>
        </div>

        <div class="col-md-7 col-12 col-sm-12 " style="float:left">
            <div class="form-group">
                <label>OBSERVACION</label>
                <textarea type="text" name="name" disabled value="" onchange="OnChangeTextBox()" id="txtObservacionVer" class="form-control text-uppercase" rows="2"></textarea>
            </div>
        </div>

        <div class="col-md-2 col-12 col-sm-12 text-center">
            <div class="form-group">
                <label>ACCIONES</label><br />
                <button data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn" id="btnModalEliminar" onclick="EliminarConfirmar()" style="border-color:#2c3e50" type="button">
                    <img style="width:100%" src="~/Content/icons/cancel24.png" />
                </button>
                <button data-toggle="tooltip" data-placement="top" title="Editar" class="btn" id="btnModalEditar" onclick="ActualizarCabecera(true)" style="border-color:#2c3e50" type="button">
                    <img style="width:100%" src="~/Content/icons/edit24.png" />
                </button>
            </div>
        </div>
    </div>
</div>
<hr />

@* BOTON INGRESAR DETALLE *@
<div class="row" id="divBotonCrearDetalle">
    <div class="col-md-1 col-2 col-sm-2" style="margin:0px">
        <button data-toggle="tooltip" data-placement="top" title="Crear nuevo detalle" class="btn" id="btnModalGenerarRegistroDetalle" onclick="ModalIngresoDetalle()" style="border-color:#2c3e50" type="button">
            <img style="width:100%" src="~/Content/icons/add24.png" />
        </button>
    </div>      
    
    <div class="col-md-3 col-6 col-sm-6" style="padding-left:0px">
        <label class="" id="lblAcciones">NUEVO DETALLE</label>
    </div>
</div>
<br />

@*MODAL MOSTRAR TABLA DETALLE*@
<div id="divMostarTablaDetallesVer" class="table-responsive">
</div>

@*MODAL ELIMINAR REGISTRO CABECERA*@
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modalEliminarControl">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
                <input type="hidden" id="txtEliminarDetalle" name="name" value="" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" onclick="EliminarCabeceraSi()" id="modal-detalle-si">Si</button>
                <button type="button" class="btn btn-outline-primary" onclick="EliminarCabeceraNo()" id="modal-detalle-no">No</button>
            </div>
        </div>
    </div>
</div>

@*MODAL ELIMINAR REGISTRO DETALLE*@
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modalEliminarControlDetalle">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabelDetalle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" onclick="EliminarDetalleSi()" id="modal-detalle-si">Si</button>
                <button type="button" class="btn btn-outline-primary" onclick="EliminarDetalleNo()" id="modal-detalle-no">No</button>
            </div>
        </div>
    </div>
</div>

@* MODAL PARA EL INGRESO NUEVO REGISTRO CABECERA*@
<div class="modal" tabindex="-1" id="ModalIngresoCabecera" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">CONTROL</h6>
                <button type="button" class="close" data-dismiss="modal" onclick="LimpiarModalIngresoCabecera()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-12 col-sm-12">
                        <div class="form-group">
                            <label>FECHA</label>
                            <input type="date" name="name" value="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="OnChangeTextBox(0)" id="txtIngresoFecha" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-sm-12">
                        <label>TURNO</label>
                        <div class="form-group">
                            @if (ViewBag.Turno != null)
                            {
                                @Html.DropDownList("selectTurnoIngresar", new SelectList(ViewBag.Turno, "Codigo", "Descripcion"), new { @Class = "form-control" })
                            }
                            else
                            { <label class="badge badge-danger">No existen turnos</label>}

                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-sm-12">
                        <div class="form-group">
                            <label>OBSERVACION</label>
                            <textarea type="text" name="name" value="" maxlength="100" id="txtIngresoObservacion" class="form-control text-uppercase" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="ValidarDatosVacios(0)" id="btnGenerarControlRegistro">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="LimpiarModalIngresoCabecera()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@* MODAL PARA EL INGRESO/EDITAR NUEVO DETALLE *@
<div class="modal" tabindex="-1" id="ModalIngresoDetalle" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">CREAR NUEVO DETALLE</h6>
                <button type="button" class="close" data-dismiss="modal" onclick="LimpiarDetalle()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-12 col-sm-12">
                        <label>VERIFICACION</label>
                        <div class="form-group">
                            @Html.DropDownList("selectVerificacion", new SelectList(ViewBag.VerificacionLista, "id", "Nombre", 1), new { @class = "form-control text-uppercase", @onchange = "ArmarTablaIngreso()" })
                        </div>
                    </div>
                </div>
                <div class="table-responsive" id="divMostrarTablaIngresoDetalle">
                </div>
            </div>
        </div>
    </div>
</div>

@* MODAL PARA EL INGRESO/EDITAR ACCION CORRECTIVA DETALLE *@
<div class="modal" tabindex="-1" id="modalAccionCorrectiva" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Fotos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="SalirAccicionCorrectiva()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-12 col-sm-12">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" onclick="GuardarAccionCorrectiva()" id="btnAccionCorrectiva">Agregar</button>
                            <button data-toggle="tooltip" data-placement="top" title="Nueva Foto" class="btn" id="btnNuevo" onclick="NuevaFoto()" style="border-color:#2c3e50; padding:0px" type="button">
                                <img style="width:100%" src="~/Content/icons/clear24.png" />
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-sm-12">
                        <div class="form-group">
                            <label>Acción Correctiva</label>
                            <input class="form-control" id="txtAccionCorrectiva" onchange="OnChangeTextBoxAccion()" maxlength="200" type="text" size="500" name="name" value="" autocomplete="off" />
                        </div>
                    </div>
                    <div id="divInputLoad" class="col-md-12 col-12 col-sm-12">
                        <label>Adjuntar imagen</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="file-upload" onclick="OnChangeTextBoxAccion()" accept="image/*">
                            <label class="custom-file-label" for="customFile" onclick="OnChangeTextBoxAccion()" id="lblfoto">Seleccione archivo</label>
                        </div>
                        <br />
                        <div class="text-center" style="justify-content:center">
                            <br />
                            <div id="file-preview-zone" style="height:auto">
                            </div>
                            <br />
                        </div>
                    </div>

                </div>
                <div id="divListarFotos" class="table-responsive"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" disabled hidden id="btncargandoimg">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Espere...
                </button>

                <button type="button" class="btn btn-secondary" onclick="SalirAccicionCorrectiva()" data-dismiss="modal" id="btncancelarguardarfoto">Salir</button>
            </div>
        </div>
    </div>
</div>

@*MODAL ELIMINAR REGISTRO ACCION CORRECTIVA*@
<div class="modal" style="background-color:rgba(224, 224, 235, .4)" id="modalEliminarAccionCorrectiva" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="accionCorrectiva"></h5>
                <button type="button" class="close" onclick="EliminarAccionCorrectivaNo()" aria-label="Close"><span >&times;</span></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" onclick="EliminarAccionCorrectiva()" id="btnEliminarSi">Si</button>
                <button type="button" class="btn btn-outline-primary" onclick="EliminarAccionCorrectivaNo()" id="btnEliminarNo">No</button>
            </div>
        </div>
    </div>
</div>