@model List<Asiservy.Automatizacion.Datos.Datos.sp_Reporte_CloroCisternaDescongeladoBandeja>
@using Newtonsoft.Json
<div class="table-responsive">
    <input hidden id="Nregistros" value="@ViewBag.NumeroRegistros" />
    <input type="hidden" id="ideliminar" />
    <table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
        <thead>
            <tr>
                <th>#</th>
                <th>Fecha</th>
                <th>Observaciones</th>
                <th>Aprobado Por</th>
                <th>Fecha Aprovación</th>
            </tr>
        </thead>
        <tbody style="font-size:14px">
            @if (Model != null)
            {
                int cont = 0;
                foreach (var m in Model)
                {
                    cont++;
                    var json = JsonConvert.SerializeObject(m);
                    <tr onclick="SeleccionarBandeja(@json)">
                        <td>@cont</td>
                        <td>@m.Fecha.ToString("dd-MM-yyyy")</td>
                        <td>@m.Observaciones</td>
                        <td>@m.AprobadoPor</td>
                        <td>@m.FechaAprobacion</td>
                    </tr>                   
                }
            }
                </tbody>
    </table>
    <center> <h5 id="MensajeRegistros" class="text-warning" style="display:none"> No Existen Solicitudes Pendientes para Mover Personal</h5></center>
</div>

<script src="~/Scripts/General/dataTableJS.js"></script>

