@model List<Asiservy.Automatizacion.Datos.Datos.CC_CLORO_CISTERNA_DESCONGELADO>
@using  Asiservy.Automatizacion.Datos.Datos;
@using Newtonsoft.Json
<div class="table-responsive">
    <table class="table-hover table-bordered table-striped table text-uppercase" style="cursor: pointer" id="tblDataTable">
        <thead style="font-size:12px">
            <tr>
                <th>FECHA</th>
                <th>OBSERVACÓN</th>
                <th>APROBADO POR</th>
                <th>FECHA APROBACIÓN</th>
                <th>TURNO</th>
                <th>ESTADO</th>
            </tr>
        </thead>
        <tbody style="font-size:11px">
            @if (Model != null)
            {
                foreach (var m in Model)
                {
                    var json = JsonConvert.SerializeObject(m);
                    <tr onclick="SeleccionarBandeja(@json)">
                        <td>@m.Fecha.ToString("dd-MM-yyyy")</td>
                        <td style="white-space:normal">
                            @if (!string.IsNullOrEmpty(m.Observaciones))
                            {
                                @m.Observaciones.ToUpper()
                            }
                        </td>
                        <td>@m.AprobadoPor</td>
                        <td>
                            @{ DateTime date = Convert.ToDateTime(m.FechaAprobacion);}
                            @if (date != DateTime.MinValue)
                            {
                                @date.ToString("dd-MM-yyyy")
                            }
                        </td>
                        @{ var turno = (from x in ViewBag.Turno as List<CLASIFICADOR>
                                         where x.Codigo == m.Turno.ToString()
                                         select new { x.Descripcion }).FirstOrDefault();
                        }
                        <td>
                            @if (turno != null)
                            {
                                @turno.Descripcion
                            }
                        </td>
                        @if (m.EstadoReporte == true)
                        {
                            <td><span class="badge badge-success">APROBADO</span></td>}
                        else
                        {
                            <td><span class="badge badge-danger">PENDIENTE</span></td>}
                    </tr>
                }
            }
        </tbody>
    </table>

</div>
<script src="~/Scripts/General/dataTableJS.js"></script>

