@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.sp_CloroCisternaDescongelado>

<table class="table table-bordered">
    <thead style="font-size:14px">
        <tr>           
            <th>
                HORA
            </th>
            <th>
                PPM CLORO
            </th>
            <th>
                CISTERNA
            </th>
            <th>
                OBSERVACION
            </th>
            
        </tr>
    </thead>
    <tbody style="font-size:12px">
        @foreach (var item in Model)
        {
            <tr style="page-break-inside: avoid;">
                
                <td>
                    @item.HoraDet.ToString("HH:mm")
                </td>
                <td>
                    @if (item.Ppm_CloroDet >= 0.3M && item.Ppm_CloroDet <= 1.5M)
                    {
                        <span class="badge badge-success">@item.Ppm_CloroDet</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">@item.Ppm_CloroDet</span>
                    }
                </td>
                <td>
                    @item.IdCisternaDet
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ObservacionDet))
                    {
                        @item.ObservacionDet.ToUpper()
                    }
                    else
                    {
                        @item.ObservacionDet
                    }
                </td>               
            </tr>
        }
    </tbody>
</table>
