@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaControlEnfundadoDetalle>


<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>            
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                <label>Fundas</label>
            </th>
            <th>
                <label>Acción</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>             
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    <input type="number" id="Fundas-@item.Cedula" class="form-control" name="name" value="@item.Fundas", onclick="Clear(this.id)" />
                </td>
                <td class="text-left">
                    <div class="custom-control custom-switch">
                        @Html.CheckBox("Check" + item.Cedula, item.Fundas > 0, new { @onchange = "checkControlEnfundado(this.id,'" + item.Cedula + "','" + item.IdControlEnfundadoDetalle + "')", @class = "custom-control-input" })
                        <label class="custom-control-label" for=@("Check"+item.Cedula) id="LabelFecha"></label>
                    </div>

                    @*<label class="btn btn-dark text-xs-center" id="labelCheck-@item.Cedula">
                        @Html.CheckBox("Check" + item.Cedula, item.Fundas > 0, new { @onchange = "checkControlEnfundado(this.id,'" + item.Cedula + "','" + item.IdControlEnfundadoDetalle + "')" })

                    </label>*@
                    @if (item.Fundas > 0)
                    {
                        <script>
                        $("#Fundas-@item.Cedula").prop("readonly", true);
                        //$("#labelCheck-@item.Cedula").css("background", "#28B463");
                        </script>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/Scripts/General/dataTableJS.js"></script> 