@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spReporteControlEnfundadoPorEnfundadora>

<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                <label>Nombre</label>
            </th>

            @{ var ListadoHoras = Model.Select(x => x.Hora).Distinct();
                foreach (var x in ListadoHoras)
                {
                    <th>
                        @x
                    </th>
                }
            }

            <th>
                Total Fundas
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioIngresoLog)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.UsuarioModificacionLog)
            </th>


        </tr>
    </thead>
    <tbody>
        @{
            var ListadoCedulas = Model.Select(x => x.Cedula).Distinct();
        }
        @foreach (var item in ListadoCedulas)
        {
            int totalFundas = 0;

            <tr>
                <td>
                    @item
                </td>
                <td>
                    @Model.FirstOrDefault(x=>x.Cedula==item).nombre
                </td>
                @{
                    

                }
                @foreach (var x in ListadoHoras)
                {
                    var Fundas = Model.FirstOrDefault(y => y.Cedula == item && y.Hora ==x);
                    <td>
                        @if(Fundas!=null){
                            @Fundas.Fundas
                            totalFundas = totalFundas + Fundas.Fundas;
                        }
                        else{
                            @:-
                        }
                    </td>
                }

                <td>
                    @totalFundas
                </td>
                    <td>
                        @Model.FirstOrDefault(x => x.Cedula == item).UsuarioIngresoLog
                    </td>

                    <td>
                        @Model.FirstOrDefault(x => x.Cedula == item).UsuarioModificacionLog
                    </td>


            </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/General/dataTableJS.js"></script> 