@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spReporteControlEnfundadoPorHora>


<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th>
                <label>Id</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lote)
            </th>
            <th>
                <label>Funda Teórica</label>
            </th>
            <th>
                <label>Peso</label>
            </th>
            <th>
                <label>Enfundadoras</label>
            </th>
            <th>
                <label>Total Fundas Teoricas</label>
            </th>
            <th>
                <label>Total Fundas</label>
            </th>
            <th>
                <label>Avance</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funda)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.UsuarioIngresoLog)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TerminalIngresoLog)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngresoLog)
            </th>

        </tr>
    </thead>
    <tbody>
        @{ 
            int MaxHora = Model.Max(x => x.Hora.Hour);
            int MinHora =  Model.Min(x=> x.Hora.Hour);
            int TotalHoras = MaxHora-MinHora;
            int TotalEmpacadoras = Model.Sum(x=> x.TotalEnfundadora??0);
            int TotalFundas = Model.Sum(x=> x.TotalFunda??0);
        }
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdControlEnfundado)
            </td>
            <td>
                @item.Fecha.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lote)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TeoricoFunda)
            </td>
            <td>
                @item.PesoProducto Kg
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalEnfundadora)
            </td>
            <td>
                @{
                    int fundasteoricas = item.TeoricoFunda * item.TotalEnfundadora ?? 0;
                }
                @fundasteoricas
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalFunda)
            </td>

            <td>
                @{
                    double avance = 0;
                    if(item.TotalFunda!=null && item.TotalFunda>0)
                    {
                        int tf = item.TotalFunda ?? 0;
                        avance = Math.Round(((double)tf / (double)fundasteoricas),2);
                    }
                }
                @avance
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioIngresoLog)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerminalIngresoLog)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngresoLog)
            </td>

        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td>@TotalHoras Horas</td>
            <td></td>
            <td></td>
            <td></td>
            <td>@TotalEmpacadoras Enfundadoras</td>
            <td>@TotalFundas </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
    </tfoot>
</table>



<script src="~/Scripts/General/dataTableJS.js"></script> 