@model List<Asiservy.Automatizacion.Datos.Datos.spConsultarAuditoriaSangreDiaria>

<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th>
                Cédula
            </th>
            <th>
                Nombres
            </th>
            <th>
                Línea
            </th>
            <th>
                Hora
            </th>
            <th>
                Porcentaje
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="CargarAuditoria('@item.Fecha','@item.Cedula', '@item.Porcentaje','@item.Nombres','@item.IdControlAuditoriaSangre')">
                
                <td>
                    @item.Cedula
                </td>
                <td>
                    @item.Nombres
                </td>
                <td>
                    @item.Linea
                </td>
                <td>
                    @item.Hora
                </td>
                <td>
                    @item.Porcentaje
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/General/dataTableJS.js"></script>
