@model List<Asiservy.Automatizacion.Datos.Datos.spReporteAuditoriaSangre>

<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th>
                Cédula
            </th>
            <th>
                Nombres
            </th>
            <th>
                Linea
            </th>
            <th>
                Veces
            </th>
            <th>
                Observación
            </th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var color = item.Veces == 1 ? "transparent" : item.Veces == 2 ? "#F7F266" : "#F9866E";
        <tr style="background-color:@color">
            <td>
                @item.Cedula
            </td>
            <td>
                @item.NOMBRES
            </td>
            <td>
                @item.Linea
            </td>
            <td>
                @item.Veces
            </td>
            <td>
                @item.Observacion
            </td>
        </tr>

        }
    </tbody>
</table>
