
@{
    ViewBag.Title = "CloroAguaAutoClave";
}

<style>
    input, select, textarea {
        max-width: 100%;
    }

    .btn-link:hover {
        color: white;
        text-decoration: underline;
    }
</style>

@*<h4>Cloro en Agua de AutoClave <label id="lblAprobadoPendiente" class="badge"> </label></h4>*@


<div class="row">
    <div class="col-md-12 ">
        <h4 class="text-md-left text-center text-uppercase" style="float:left">Cloro en Agua de AutoClave <label id="lblAprobadoPendiente" class="badge"> </label></h4>
        <div class="col-md-3 col-12 col-sm-12 float-right text-right">
            @if (ViewBag.Link == null)
            {
                <a style="text-decoration:underline;" href="@ViewBag.Link" class="form-label disabled">Ir al Reporte</a>
            }
            else
            {<a style="text-decoration:underline;" href="@ViewBag.Link" class="form-label">Ir al Reporte</a>}
        </div>
    </div>
</div>



<hr />
<div class="card shadow" id="divCabecera" style="padding:10px">
    <div class="row" id="divCabecera1">
        <input type="hidden" id="txtIdCloroAguaAutoclave" name="name" value="0" />
        <div class="col-md-2 col-6 col-sm-6">
            <div class="form-group">
                <label>Fecha</label>
                <input type="date" class="form-control" id="txtFecha" name="name" onchange="ConsultarControl()" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            </div>
        </div>
        <div class="col-md-2 col-6 col-sm-6">
            <div class="form-group">
                <label>Turno</label>
                @Html.DropDownList("selectTurno", new SelectList(ViewBag.Turnos, "Codigo", "Descripcion"), "Seleccione", new { @class = "form-control", @onchange = "ConsultarControl()" })
            </div>
        </div>

        <div class="col-md-3 col-6 col-sm-6">
            <div class="form-group">
                <label>Hora</label>
                <input type="datetime-local" class="form-control" id="txtHora" name="name" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
            </div>
        </div>
        <div class="col-md-2 col-4 col-sm-6">
            <div class="form-group">
                <label>
                    Parada
                    <span class="badge badge-secondary">+100</span>
                </label>
                <input type="text" class="form-control" id="txtParada" autocomplete="off" min="0" name="name" value="" />
            </div>
        </div>
        <div class="col-md-2 col-4 col-sm-6">
            <div class="form-group">
                <label>Autoclave</label>
                @if (ViewBag.AutoClaves != null)
                {
                    @Html.DropDownList("selectAutoclave", new SelectList(ViewBag.AutoClaves, "Codigo", "Descripcion"), "Seleccione", new { @class = "form-control" })
                }
                else
                {
                    <select class="form-control" id="selectAutoclave">
                        <option value="">Sin registros, Clasificador(Grupo:019)</option>
                    </select>
                }

            </div>
        </div>

        <div class="col-md-3 col-4 col-sm-6">
            <div class="form-group">
                <label>Conserva</label>
                <select class="form-control" id="selectConserva">
                    <option value="">Seleccione</option>
                    <option value="P">Pouch</option>
                    <option value="L">Latas</option>
                </select>
            </div>
        </div>

        <div class="col-md-4 col-8 col-sm-6">
            <div class="form-group">
                <label>Producto</label>
                <input type="text" maxlength="100" class="form-control" autocomplete="off" id="txtProducto" min="0" name="name" value="" />
            </div>
        </div>
        <div class="col-md-2 col-4 col-sm-6">
            <div class="form-group">
                <label>
                    Temperatura(ºC)
                    <span class="badge badge-secondary">+-100.00</span>
                </label>
                <input type="text" class="form-control" id="txtTemperatura" max="" autocomplete="off" min="0" name="name" value="" />
            </div>
        </div>
        <div class="col-md-2 col-6 col-sm-6">
            <div class="form-group">
                <label>
                    Cloro(ppm)
                    <span class="badge badge-secondary">+100.00</span>
                </label>
                <input type="text" class="form-control" id="txtCloro" autocomplete="off" min="0" name="name" value="" />
            </div>
        </div>
        <div class="col-md-12 col-6 col-sm-6">
            <div class="form-group">
                <label class="label-control"> Observacion</label>
                <input type="text" size="250" maxlength="250" autocomplete="off" class="form-control" id="txtObservacion" name="name" value="" />
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12 col-12 text-center">
        <label class="">Acciones</label>

        <div class="form-group">
            @*<input type="button" name="name" value="Consultar" id="btnConsultar" class="btn btn-primary" onclick="CargarReporteAvance()" />*@
            <button data-toggle="tooltip" data-placement="top" title="Generar" class="btn" id="btnGenerar" onclick="GuardarControl()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/add24.png" />
            </button>

            @*<input type="button" name="name" value="Consultar" id="btnConsultar" class="btn btn-primary" onclick="CargarReporteAvance()" />*@
            <button data-toggle="tooltip" data-placement="top" title="Nuevo" class="btn" id="btnNuevo" onclick="NuevoControl()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/clear24.png" />
            </button>



        </div>
    </div>
</div>


<div id="divCabecera2" hidden>
    <div class="card shadow">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div id="spinnerCargando" hidden class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <div id="chartCabecera2" class="table-responsive"></div>
        </div>
    </div>
</div>

<div id="ModelCargarEmpleados">
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modalEliminarControlDetalle">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="txtEliminarDetalle" name="name" value="" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">¿Eliminar este control de cloro en agua de autoclave?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id="modal-detalle-si">Si</button>
                <button type="button" class="btn btn-outline-primary" id="modal-detalle-no">No</button>
            </div>
        </div>
    </div>
</div>




<div class="modal" tabindex="-1" role="dialog" id="modalEditar">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Cloro Agua Autoclave</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Hora</label>
                            <input type="datetime-local" class="form-control" id="txtHora2" name="name" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                        </div>
                    </div>
                    <div class="col-md-2 col-4 col-sm-6">
                        <div class="form-group">
                            <label>
                                Parada
                                <span class="badge badge-secondary">+100</span>
                            </label>
                            <input type="number" class="form-control" id="txtParada2" autocomplete="off" min="0" name="name" value="" />
                        </div>
                    </div>
                    <div class="col-md-2 col-4 col-sm-6">
                        <div class="form-group">
                            <label>Autoclave</label>
                            @if (ViewBag.AutoClaves != null)
                            {
                                @Html.DropDownList("selectAutoclave2", new SelectList(ViewBag.AutoClaves, "Codigo", "Descripcion"), "Seleccione", new { @class = "form-control" })
                            }
                            else
                            {
                                <select class="form-control" id="selectAutoclave2">
                                    <option value="">Sin registros, Clasificador(Grupo:019)</option>
                                </select>
                            }

                        </div>
                    </div>

                    <div class="col-md-4 col-4 col-sm-6">
                        <div class="form-group">
                            <label>Conserva</label>
                            <select class="form-control" id="selectConserva2">
                                <option value="">Seleccione</option>
                                <option value="P">Pouch</option>
                                <option value="L">Latas</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-5 col-8 col-sm-6">
                        <div class="form-group">
                            <label>Producto</label>
                            <input type="text" maxlength="100" class="form-control" autocomplete="off" id="txtProducto2" min="0" name="name" value="" />
                        </div>
                    </div>
                    <div class="col-md-4 col-4 col-sm-6">
                        <div class="form-group">
                            <label>
                                Temperatura ºC
                                <span class="badge badge-secondary">+-100.00</span>
                            </label>
                            <input type="number" class="form-control" id="txtTemperatura2" autocomplete="off" min="0" name="name" value="" />
                        </div>
                    </div>
                    <div class="col-md-3 col-6 col-sm-6">
                        <div class="form-group">
                            <label>
                                Cloro
                                <span class="badge badge-secondary">+100.00</span>
                            </label>
                            <input type="text" class="form-control" id="txtCloro2" autocomplete="off" min="0" name="name" value="" />
                        </div>
                    </div>
                    <div class="col-md-12 col-6 col-sm-6">
                        <div class="form-group">
                            <label class="label-control"> Observación</label>
                            <input type="text" size="250" autocomplete="off" class="form-control" id="txtObservacion2" name="name" value="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="GuardarControlEdita()">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>