@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.CC_CLORO_AGUA_AUTOCLAVE>

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autoclave)
        </th>
        <th>
           Conserva
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temperatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cloro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacion)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Hora.ToShortTimeString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autoclave)
        </td>
        <td>
            @if (item.TipoConserva == "L")
            {
                @:LATA
            }
            else
            {
                @:POUCH

            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Temperatura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cloro)
        </td>
        <td style="white-space:normal">
            @Html.DisplayFor(modelItem => item.Observacion)
        </td>
    </tr>
}

</table>
