@model Asiservy.Automatizacion.Datos.Datos.sp_Control_Cuchillos_Preparacion
@using Newtonsoft.Json;

@{
    ViewBag.Title = "ControlCuchilloPreparacion";
}

<style>
    input, select, textarea {
        max-width: 100%;
    }

    .selectbox {
        background: #fff;
        color: #1d3b4a;
        padding: 5px 8px;
        line-height: 18px;
        border-radius: 4px;
        border-width: 0 1px 4px;
        cursor: pointer;
        border: 1px solid #ddd;
    }

    .box_filters {
        float: right;
    }

    .itemFilter {
        float: left;
        margin-right: 4px;
    }

    .btnWait {
        cursor: no-drop !important;
    }

    ._bloque {
        margin-bottom: 10px;
    }
    #tblDataTableCargarDetalle td {
        white-space: normal;
        font-size:10px;
        text-transform:uppercase;
    }
</style>

<div class="row ">
    <div class="col-md-12 ">
        <h5 class="text-md-left text-center text-uppercase" style="float:left">Control de Cuchillo Preparación <label id="lblAprobadoPendiente" class="badge badge-danger"></label></h5>
        <div class="col-md-3 col-12 col-sm-12 float-right text-right">
            @if (ViewBag.Link == null)
            {
                <a style="text-decoration:underline;" href="@ViewBag.Link" class="form-label disabled" >Ir al Reporte</a>
            }
            else
            {<a style="text-decoration:underline;" href="@ViewBag.Link" class="form-label" >Ir al Reporte</a>}
        </div>
    </div>
</div>

<div class="row text-uppercase">
    <div class="col-md-1 col-12 col-sm-12" id="divBotonNuevo">
        <label class="" id="lblAcciones">Nuevo</label>
        <div class="form-group">
            <button data-toggle="tooltip" data-placement="top" title="Crear nuevo registro" class="btn" id="btnGenerarRegistro" onclick="NuevoRegistroCabecera()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/add24.png" />
            </button>
        </div>
    </div>

    <div class="col-md-2 col-12 col-sm-12 text-uppercase">
        <label>Turno</label>
        <div class="form-group">
            @Html.DropDownList("selectTurno", new SelectList(ViewBag.Turno, "Codigo", "Descripcion"), new { @Class = "form-control", @onchange = "CargarCabecera()" })
        </div>
    </div>

    @*<div class="box_filters">
            <br />
            <div class="itemFilter">
                <input type="date" name="name" value="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="CargarCabecera()" id="txtFechaFiltro" class="form-control" />
            </div>
            <div class="itemFilter">
                <a onclick="CargarCabecera()" href="#" id="btnBuscarFecha" class="btn btn-primary btn-sm"><i id="iconSearch" class="fas fa-search"></i></a>
            </div>
        </div>*@
    <div class="col-md-4 col-12 col-sm-12 text-md-center ">
        <br />
        <div class="box_filters col-sm-12">
            <div class="itemFilter  col-sm-8">
                <div class="form-group" id="divfechaap">
                    <input type="hidden" id="fechacontrol" value="" />
                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        <input readonly type="text" class="form-control datetimepicker-input" value="@DateTime.Now.ToString("dd-MM-yyyy")" data-target="#datetimepicker1" id="txtFechaFiltro" />
                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itemFilter col-sm-1">
                <a onclick="CargarCabecera(0)" href="#" id="btnBuscarFecha" class="btn btn-primary btn-sm"><i id="iconSearch" class="fas fa-search"></i></a>
            </div>
        </div>
    </div>
</div>

@* DIV CABECERA CUANDO SE SELECCIONA EL DETALLE *@
<div class="card" hidden id="divCabecera">
    <div class="row text-uppercase">
        <div class="col-md-3 col-12 col-sm-12" hidden>
            <div class="form-group">
                <label>Fecha</label>
                <input type="date" name="name" value="@DateTime.Now.ToString("dd-MM-yyyy")" onchange="CargarCabecera()" id="txtFecha" class="form-control" />
            </div>
        </div>
        <div class="col-md-8 col-12 col-sm-12">
            <div class="form-group">
                <label>Observación</label>
                <textarea type="text" name="name" value="" id="txtObservacion" class="form-control text-uppercase" rows="2"></textarea>
            </div>
        </div>
        <div class="col-md-3 col-12 col-sm-12 text-md-center text-center">
            <label class="" id="lblAcciones">Acciones</label>
            <div class="form-group">
                <button data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn" id="btnModalEliminar" onclick="EliminarConfirmar()" style="border-color:#2c3e50" type="button">
                    <img style="width:100%" src="~/Content/icons/cancel24.png" />
                </button>
                <button data-toggle="tooltip" data-placement="top" title="Editar" class="btn" id="btnModalEditar" onclick="ActualizarCabecera(true)" style="border-color:#2c3e50" type="button">
                    <img style="width:100%" src="~/Content/icons/edit24.png" />
                </button>
                <button data-toggle="tooltip" hidden data-placement="top" title="Atras" class="btn" id="btnAtras" onclick="AtrasControlPrincipal()" style="border-color:#2c3e50" type="button">
                    <img style="width:100%" src="~/Content/icons/atras24.png" />
                </button>
            </div>
        </div>
    </div>
</div><br />
@* CARGAR TABLA CON DATOS HORA *@
<div class="row text-uppercase" id="divIngresoHora" hidden>
    <div class="col-md-12 col-12 col-sm-12 text-md-left text-center text-uppercase">
        <label class="" id="lblAcciones">Nueva Hora</label>
        <div class="form-group">
            <button data-toggle="tooltip" data-placement="top" title="Nueva hora" class="btn" id="btnGenerarRegistro" onclick="NuevoRegistroHora(0)" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/add24.png" />
            </button>
        </div>
    </div>
</div>
@*<div class="card">*@

<div class="table-responsive card" id="divHora">

</div>
@*</div>*@
<div class="modal" tabindex="-1" id="modalIngresoHora" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">NUEVA HORA</h5>
                <button type="button" class="close" data-dismiss="modal" onclick="limpiarHora()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-12 col-sm-12">
                        <div class="form-group">
                            <label>HORA</label>
                            <input type="datetime-local" name="name" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" onchange="ValidarHora()" id="txtHora" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-sm-12">
                        <div class="form-group">
                            <label>DESCRIPCION</label>
                            <textarea type="text" name="name" value="" maxlength="200" id="txtDescripcion" class="form-control text-uppercase" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="GuardarHora()" id="btnGenerarControlRegistro">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="limpiarHora()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
@*MODAL ELIMINAR Hora COFIRMAR*@
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modalHoraEliminar">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="txtEliminarDetalle" name="name" value="" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">¿Desea eliminar esta Hora?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" onclick="EliminarHoraSi()" id="modal-detalle-si">Si</button>
                <button type="button" class="btn btn-outline-primary" onclick="EliminarHoraNo()" id="modal-detalle-no">No</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL AGREGAR CUCHILOS A LA CABECERA -->
@* MODAL MOSTRAR BOTON AGREGAR*@
<div id="divIngresarDetalleHora" hidden>
    <div class="row">
        <div class="col-md-12 col-12 col-sm-12">
            <div class="row">
                <div class="col-md-12 col-sm-3 col-4">
                    <label>ASIGNAR CUCHILLO</label>
                    <div class="form-group">
                        <button data-toggle="tooltip" data-placement="top" title="Crear Registro Cuchillo" class="btn" id="btnModalGenerarDetalle" onclick="ModalGenerarDetalle()" style="border-color:#2c3e50" type="button">
                            <img style="width:100%" src="~/Content/icons/add24.png" />
                        </button>
                    </div>
                </div>
            </div>
            <div class="body">
                <div id="divTableEntregaProductoDetalle" class="table-responsive">

                </div>
            </div>
        </div>
    </div>
</div>


@* MODAL PARA EL INGRESO DE LOS CONTROLES CHECKBOX *@
<div class="modal" tabindex="-1" id="ModalIngresoDetalle" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">CUCHILLO DETALLE</h5>
                <button type="button" class="close" data-dismiss="modal" onclick="LimpiarDetalle()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-12 col-sm-12">
                        <div class="form-group">
                            <label>CÓDIGO CUCHILLO</label>
                            @Html.DropDownList("txtCodigoCuchillo", new SelectList(ViewBag.Cuchillos, "IdCuchilloPreparacion", "CodigoCuchillo"), "SELECCIONE...", new { @class = "form-control", @onchange = "ValidarCuchilloExiste(0)" })
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-sm-12">
                        <div class="form-group">
                            <label>EMPLEADO</label>
                            @Html.DropDownList("txtEmpleado", new SelectList(ViewBag.listaEmpleadoLinea, "CEDULA", "Nombres"), "SELECCIONE...", new { @class = "form-control", @onchange = "ValidarEmpleadoExiste(0)" })
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-sm-12">
                        <div class="form-group">
                            <label>OBSERVACIÓN</label>
                            <textarea type="text" name="name" value="" maxlength="200" id="txtObservacionDetalle" class="form-control text-uppercase" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 col-12 text-center" id="ModalCheckBox">
                        <div class="form-group">
                            <label>Estado</label>
                            <div class="custom-control custom-checkbox mb-3">
                                @Html.CheckBox("EstadoRegistro", false, new { @id = "CheckEstadoRegistroOp", @class = "custom-control-input", @onchange = "CambioEstado(this.checked)" })
                                <label class="custom-control-label" for="CheckEstadoRegistroOp" id="LabelEstado"></label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="GuardarControlDetalle(0)" id="btnGenerarControlDetalle">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="LimpiarDetalle()">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@*MODAL ELIMINAR CABECERA COFIRMAR*@
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modalEliminarControl">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="txtEliminarDetalle" name="name" value="" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">¿Desea eliminar este control?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" onclick="EliminarCabeceraSi()" id="modal-detalle-si">Si</button>
                <button type="button" class="btn btn-outline-primary" onclick="EliminarCabeceraNo()" id="modal-detalle-no">No</button>
            </div>
        </div>
    </div>
</div>

@*MODAL ELIMINAR DETALLE COFIRMAR*@
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modalEliminarDetalle">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="txtEliminarDetalle" name="name" value="" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">¿Desea eliminar este Detalle?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" onclick="EliminarDetalleSi()" id="modal-detalle-si">Si</button>
                <button type="button" class="btn btn-outline-primary" onclick="EliminarDetalleCabeceraNo()" id="modal-detalle-no">No</button>
            </div>
        </div>
    </div>
</div>

@* MODAL CARGAR DETALLE DE CUCHILLO *@
<div class="card">
    <div class="table-responsive" id="divCargarCuchillosDetalle" hidden>
        <table class="table table-bordered table-striped" style="width:100%" id="tblDataTableCargarDetalle">
            <thead style="font-size:12px;white-space:normal">
                <tr>
                    <th>CÓDIGO CUCHILLO</th>
                    <th>ESTADO</th>
                    <th>EMPLEADO</th>
                    <th>OBSERVACIÓN</th>
                    <th>USUARIO CREACIÓN</th>
                    <th>ACCIONES</th>
                    <th hidden>CEDULA</th>
                </tr>
            </thead>
            <tbody style="font-size:11px"></tbody>
        </table>
    </div>
</div>

@* MODAL PARA EL INGRESO NUEVO REGISTRO CABECERA*@
<div class="modal" tabindex="-1" id="ModalIngresoRegistroCabecera" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header text-uppercase">
                <h5 class="modal-title">Nuevo Registro</h5>
                <button type="button" class="close" data-dismiss="modal" onclick="LimpiarCabecera()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row text-uppercase">
                    <div class="col-md-12 col-12 col-sm-12">
                        <div class="form-group" id="divfechaap">
                            <input type="hidden" id="fechacontrol" value="" />
                            <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                <input readonly type="text" class="form-control datetimepicker-input" value="@DateTime.Now.ToString("dd-MM-yyyy")" data-target="#datetimepicker2" id="txtFechaIngresoCabecera" />
                                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-sm-12">
                        <label>TURNO</label>
                        <div class="form-group">
                            @Html.DropDownList("selectTurnoIngresar", new SelectList(ViewBag.Turno, "Codigo", "Descripcion"), new { @Class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-sm-12">
                        <div class="form-group">
                            <label>Observación</label>
                            <textarea type="text" name="name" value="" maxlength="200" id="txtObservacionCabecera" class="form-control text-uppercase" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="GuardarCabecera()" id="btnGenerarControlRegistro">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="LimpiarCabecera()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
