@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.CC_CONTROL_CUCHILLOS_PREPARACION>
@using Newtonsoft.Json;
<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead  style="font-size:12px">
        <tr>
            <th>
                FECHA
            </th>
            <th>
                HORA
            </th>
            <th>
                OBSERVACION
            </th>
            <th>APROBADO POR</th>
            <th>F. APROBADO</th>
            <th style="width:25%">
                <center> ESTADO APROBACION</center>
            </th>
        </tr>
    </thead>
    <tbody style="font-size:12px">
        @foreach (var item in Model)
        {
            var json = JsonConvert.SerializeObject(item);
        <tr onclick="SeleccionarCabecera(@json)">
            <td>
                @item.Fecha.ToString("dd-MM-yyyy")
            </td>
            <td>
                @item.Hora.ToString("HH:mm")
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.Observacion))
                {
                    @item.Observacion.ToUpper()
                }
            </td>
            <td>@item.AprobadoPor</td>
            <td>
                @{ DateTime date = Convert.ToDateTime(item.FechaAprobado);}
                @if (date.ToString() != "1/1/0001 12:00:00 AM")
                {
                    @date.ToString("dd-MM-yyyy")
                }
            </td>
            <td>
                @if (item.EstadoReporte == true)
                {
                    <center><span class="badge badge-success">APROBADO</span></center>
                }
                else
                {
                    <center><span class="badge badge-danger">PENDIENTE</span></center>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
