@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.sp_Reporte_Control_Cuchillos_Preparacion>
    <table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
        <thead>
            <tr>
                <th hidden>#</th>
                <th>
                    FECHA
                </th>
                <th>
                    HORA
                </th>
                @{
                    //Obtengo los Codigo del cuchillo para armar los TH
                    var listaCodigoCuchillo = (from p in Model
                                               select new { p.CodigoCuchillo }).Distinct().ToList();

                    var listaHora = (from ssi in Model
                                     group ssi by new { ssi.Hora, ssi.Fecha } into g
                                     select new { Hora = g.Key.Hora, Fecha = g.Key.Fecha }).ToList();
                    int con = 0;
                }

                @foreach (var itemCodigoCuchillo in listaCodigoCuchillo)
                {
                    <th>
                        <center>@itemCodigoCuchillo.CodigoCuchillo</center>
                    </th>
                    <th>EMPLEADO-@itemCodigoCuchillo.CodigoCuchillo</th>
                }
                <th>ESTADO APROBACION</th>
            </tr>
        </thead>
        <tbody style="font-size:14px">
            @foreach (var item in listaHora)
            {
                con++;
                bool estadoReporte = false;
                <tr>
                    <td hidden>@con</td>
                    <td>@item.Fecha.Replace("/","-")</td>
                    <td>@item.Hora</td>
                    @foreach (var lh in listaCodigoCuchillo)
                    {
                        var estado = (from c in Model
                                      where c.Fecha == item.Fecha && c.Hora == item.Hora && lh.CodigoCuchillo == c.CodigoCuchillo
                                      select new { Estado = c.Estado, c.CedulaEmpleado, c.EstadoReporte });

                        <td>
                            @foreach (var est in estado)
                            {
                                if (est.Estado == true)
                                {
                                    <center><span class="badge badge-success"><input type="checkbox" checked disabled id="vehicle2" name="Estado" value="Estado"></span></center>
                                }
                                else if (est.Estado == false)
                                {
                                    <center><span class="badge badge-danger"><input type="checkbox" disabled id="vehicle2" name="Estado" value="Estado"></span></center>
                                }
                            }

                        </td>
                        <td>
                            @foreach (var cedula in estado)
                            {
                                if (cedula.CedulaEmpleado.Contains('-'))
                                {
                                    var nombres = cedula.CedulaEmpleado.Split('-');
                                    <span>@nombres[1].ToUpper()</span>
                                }
                                estadoReporte = cedula.EstadoReporte;
                            }
                        </td>                        
                    }
                      <td>
                         <center>
                                @if (estadoReporte == true)
                                {
                                    <span class="badge badge-success">APROBADO</span>
                                }
                                else
                                {<span class="badge badge-danger">PENDIENTE</span>}
                        </center>
                      </td>
                </tr>
            }
        </tbody>
    </table>
    <script src="~/Scripts/General/dataTableJS.js"></script>

