@model  List<Asiservy.Automatizacion.Formularios.Models.MantenimientoPallet.PalletViewModel>

<table  id="tblDataTable" class="table table-striped table-hover">

    <thead>
        <tr>
            <th hidden>idPallet</th>
            <th hidden>CodProveedor</th>
            <th>Proveedor</th>
            <th>Pallet</th>
            <th>Envases</th>
            <th>Lámina</th>
            <th>Unidad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="cursor: pointer;" onclick="EditarPallet('@item.IdPallet','@item.IdProveedor','@item.Proveedor','@item.Numero_Pallet','@item.Envase','@item.Lamina','@item.Unidades')">
                <td hidden>@item.IdPallet</td>
                <td hidden>@item.IdProveedor</td>
                <td>@item.Proveedor</td>
                <td>@item.Numero_Pallet</td>
                <td>@item.Envase</td>
                <td> @item.Lamina</td>
                <td>@item.Unidades</td>
            </tr>
        }
    </tbody>
</table>
<script src="~/Scripts/General/dataTableJS.js"></script>
