@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaConsumoEnvasesFundas>

<table class="table table-bordered table-responsive-sm table-responsive-xl">
    <tr>

        <th>
            Tipo
        </th>
        @if (ViewBag.LineaNegocio == "ENLATADO")
        {
            <th>
                @Html.DisplayNameFor(model => model.Latas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tapas)
            </th>
        }
        else
        {
            <th>
                @Html.DisplayNameFor(model => model.Fundas)
            </th>
        }




    </tr>
    @{ 
        int TotalLatas = 0;
        int TotalTapas = 0;
        int TotalFundas = 0;
    }
    @foreach (var item in Model)
    {
        TotalLatas = TotalLatas + item.Latas ?? 0;
        TotalTapas = TotalTapas + item.Tapas ?? 0;
        TotalFundas = TotalFundas + item.Fundas ?? 0;
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.TipoConsumo)
            </td>
            @if (ViewBag.LineaNegocio == "ENLATADO")
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Latas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tapas)
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Fundas)
                </td>
            }
        </tr>
    }

        <tr>
            <th>Total</th>

            @if (ViewBag.LineaNegocio == "ENLATADO")
            {
                <th>@TotalLatas</th>
                <th>@TotalTapas</th>
            }
            else
            {
                <th>@TotalFundas</th>
            }

        </tr>
</table>
