@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaConsumoEnvasesFundas>

<table class="table table-bordered">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tapas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fundas)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.TipoConsumo)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tapas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fundas)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.TipoConsumo)
        </td>
      
    </tr>
}

</table>
