@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaConsumoProcedenciaPescado>

<table class="table table-bordered table-responsive-sm">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Procedencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lomo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Miga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacion)
        </th>

    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @item.Procedencia
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lomo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Miga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacion)
        </td>

    </tr>
    }

</table>
