@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaConsumoEnvasesFundas>

<table class="table table-bordered">
    <tr>

        <th>
            Tipo
        </th>
        @if (ViewBag.LineaNegocio == "ENLATADO")
        {
            <th>
                @Html.DisplayNameFor(model => model.Latas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tapas)
            </th>
        }
        else
        {
            <th>
                @Html.DisplayNameFor(model => model.Fundas)
            </th>
        }




    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.TipoConsumo)
        </td>
        @if (ViewBag.LineaNegocio == "ENLATADO")
        {
            <td>
                @Html.DisplayFor(modelItem => item.Latas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tapas)
            </td>
        }
        else
        {
            <td>
                @Html.DisplayFor(modelItem => item.Fundas)
            </td>
        }
    </tr>
}

</table>
