@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaProyeccionProgramacion>


<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Lote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdenFabricacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toneladas)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Destino)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.TipoLimpieza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Talla)
            </th>

            @if (ViewBag.EditaProduccion != null)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Lineas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoraProcesoInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoraProcesoFin)
                </th>
            }

            @if (ViewBag.EditaPreparacion!=null)
            {
                <th>
                    @Html.DisplayNameFor(model => model.TemperaturaFinal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoraCoccionInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoraCoccionFin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalCoches)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cocina)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoraEviceradoInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoraEviceradoFin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoraDescongeladoInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoraDescongeladoFin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Requerimiento)
                </th>
             }
                <th>
                    @Html.DisplayNameFor(model => model.Observacion)
                </th>
        
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
        <tr onclick="SeleccionarProyeccionProgramacion('@item.IdProyeccionProgramacion','@item.IdProyeccionProgramacionDetalle','@item.Lote','@item.OrdenFabricacion','@item.Toneladas','@item.CodDestino','@item.CodTipoLimpieza','@item.Observacion','@item.Especie','@item.Talla')">           
            <td>
                @Html.DisplayFor(modelItem => item.Lote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdenFabricacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Toneladas)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Destino)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TipoLimpieza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Talla)
            </td>

            @if (ViewBag.EditaProduccion != null)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Lineas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraProcesoInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraProcesoFin)
                </td>
            }
            @if (ViewBag.EditaPreparacion != null)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.TemperaturaFinal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraCoccionInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraCoccionFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCoches)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cocina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraEviceradoInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraEviceradoFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraDescongeladoInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraDescongeladoFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Requerimiento)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>


        </tr>
        }
    </tbody>
</table>
