@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaProyeccionProgramacion>
@using Newtonsoft.Json;

<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Lote)
            </th>
            @if (ViewBag.EditaProduccion == null)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Barco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Marea)
                </th>
                <th>
                    <label>Orden</label>
                </th>
            }
            <th>
                <label>KG</label>
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Destino)
            </th>

            <th>
                <label>Limpieza</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Talla)
            </th>

            @if (ViewBag.EditaProduccion != null || ViewBag.EditaPreparacion != null)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Lineas)
                </th>
                <th>
                    <label>Proceso Inicio</label>
                </th>
                <th>
                    <label>Proceso Fin</label>
                </th>
            }

            @if (ViewBag.EditaPreparacion != null)
            {
                <th>
                    <label>Temperatura</label>
                </th>
                <th>
                    <label>Coccion Inicio</label>
                </th>
                <th>
                    <label>Coccion Fin</label>

                </th>
                <th>
                    <label>Coches</label>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cocina)
                </th>
                <th>
                    <label>Receta</label>
                </th>
                <th>
                    <label>Evicerado Inicio</label>
                </th>
                <th>
                    <label>Evicerado Fin</label>

                </th>
                <th>
                    <label>Descongelado Inicio</label>

                </th>
                <th>
                    <label>Descongelado Fin</label>

                </th>
                <th>
                    <label>Requerimiento </label>
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Miga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Protocolo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>

        </tr>

    </thead>
    <tbody>
        @{
            string enfriado = JsonConvert.SerializeObject(ViewBag.ListadoEnfriado);
            string coccion = JsonConvert.SerializeObject(ViewBag.ListadoCoccion);
           
            int i = 1;
            int totalKilos = 0;
            int totalCoches = 0;
        }
        @foreach (var item in Model)
        {

            if (ViewBag.EditaProduccion != null)
            {
                string json = JsonConvert.SerializeObject(item);
                @:<tr onclick="SeleccionarProyeccionProgramacion(@json)">


                }
                else if (ViewBag.EditaPreparacion != null)
                {
                    string json = JsonConvert.SerializeObject(item);
                    @: <tr onclick="SeleccionarProyeccionProgramacion(@json,@enfriado,@coccion)">
                }
                else
                {
                    string json = JsonConvert.SerializeObject(item);
                    @:<tr onclick="SeleccionarProyeccionProgramacion(@json)">
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Lote)
                </td>
                if (ViewBag.EditaProduccion == null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Barco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marea)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrdenFabricacion)
                    </td>
                }
                    <td>
                        @Html.DisplayFor(modelItem => item.Toneladas)
                        @{
                            totalKilos = totalKilos + item.Toneladas ?? 0;
                        }
                    </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Destino)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TipoLimpieza)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Especie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Talla)
                </td>

                if (ViewBag.EditaProduccion != null || ViewBag.EditaPreparacion != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Lineas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoraProcesoInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoraProcesoFin)
                    </td>
                }
                if (ViewBag.EditaPreparacion != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.TemperaturaFinal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoraCoccionInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoraCoccionFin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalCoches)
                        @{
                            totalCoches = totalCoches + (item.TotalCoches ?? 0);
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cocina)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RecetaRoceado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoraEviceradoInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoraEviceradoFin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoraDescongeladoInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoraDescongeladoFin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Requerimiento)
                    </td>
                }
                    <td class="text-center">
                        @if (item.Miga == true)
                        {
                            <i class="fa fa-check-circle text-success" aria-hidden="true"></i>

                        }
                    </td>
                      <td class="text-center">
                        @if (item.Protocolo == true)
                        {
                            <i class="fa fa-check-circle text-success" aria-hidden="true"></i>

                        }
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacion)
                </td>


            @:</tr>
             i++;
                            }
    </tbody>
    <tfoot>
        <tr>
            @if (ViewBag.EditaProduccion == null)
            {
                <td style="display: none;"></td>
                <td colspan="2"><b>Total</b></td>
                <td></td>
            }
            <td></td>
            <td><b> @totalKilos KG</b></td>
            <td></td>
            <td></td>
            <td></td>
            @if (ViewBag.EditaProduccion != null || ViewBag.EditaPreparacion != null)
            {
                <td></td>
                <td></td>
                <td></td>
            }
            @if (ViewBag.EditaPreparacion != null)
            {
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              
                <td><b>@totalCoches</b></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              
            }

        </tr>

    </tfoot>
</table>
