@model List<Asiservy.Automatizacion.Formularios.Models.ProyeccionProgramacion.ProyeccionProgramacionViewModel>

<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th>
                Lote
            </th>
            <th>
                Toneladas
            </th>
            <th>
                Destino
            </th>
            <th>
                Tipo Limpieza
            </th>
            <th>
                Especie
            </th>
            <th>
                Talla
            </th>
            <th>
                Observación
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="EditarProyeccion('@item.IdProyeccion','@item.Lote','@item.FechaProduccion','@item.Tonelada','@item.CodDestino','@item.IdTipoLimpieza','@item.Observacion','@item.CodEspecie','@item.CodTalla');">
                <td>
                    @item.Lote
                </td>
                <td>
                    @item.Tonelada
                </td>
                <td>
                    @item.Destino
                </td>
                <td>
                    @item.TipoLimpieza
                </td>
                <td>
                    @item.Especie
                </td>
                <td>
                    @item.Talla
                </td>
                <td>
                    @item.Observacion
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/General/dataTableJS.js"></script> 