
@{
    ViewBag.Title = "ProyeccionProgramacion";
}
<style>
    input, select, textarea {
        max-width: 100%;
    }
</style>
<h4>Proyección Programación</h4>

<div class="row">
    @Html.Hidden("IdProyeccion")
    @{var Fecha = DateTime.Now.AddDays(1).ToString("yyyy-MM-dd"); }
    <div class="col-md-2 col-sm-6">
        <div class="form-group">
            <label>Lote:</label>
            <input type="text" class="form-control" name="name" value="" />
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="form-group">
            <label>Fecha:</label>
            <input type="date" class="form-control" name="name" value="@Fecha"  id="txtFechaProduccion" />
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="form-group">
            <label>Toneladas:</label>
            <input type="number" class="form-control" name="name" value="" />

        </div>
    </div>
    <div class="col-md-2 col-sm-6">
        <div class="form-group">
            <label>Destino:</label>
            @Html.DropDownList("Destino", (IEnumerable<SelectListItem>)ViewBag.Destino, "Seleccione", new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-2 col-sm-6">
        <div class="form-group">
            <label>Tipo Limpieza:</label>
            @Html.DropDownList("TipoLimpieza", (IEnumerable<SelectListItem>)ViewBag.TipoLimpieza, "Seleccione", new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-5 col-sm-6">
        <div class="form-group">
            <label>Observación:</label>
            <input type="text" class="form-control" maxlength="100" name="name" value="" />
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="form-group">
            <label>Especie:</label>
            @*@Html.DropDownList("Especie", (IEnumerable<SelectListItem>)ViewBag.Especie, "Seleccione", new { @class = "form-control" })*@
            @Html.DropDownList("Especie", new SelectList(ViewBag.Especie, "Codigo", "Descripcion"), "Seleccione", new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="form-group">
            <label>Talla:</label>
            @*@Html.DropDownList("Talla", (IEnumerable<SelectListItem>)ViewBag.Talla, "Seleccione", new { @class = "form-control" })*@
            @Html.DropDownList("Talla", new SelectList(ViewBag.Talla, "Codigo", "Descripcion"), "Seleccione", new { @class = "form-control" })
            @*@Html.DropDownList("Tallas", new SelectList(ViewBag.Tallas, "Codigo", "Descripcion"), "Seleccione", new { @class = "form-control", @id = "selectTalla" })*@

        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <br />
        <div class="form-group" id="DivButtons">
            <button data-toggle="tooltip" data-placement="top" title="Guardar" class="btn" id="GuardarProyeccion" onclick="IngresarProyeccionProgramacion()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/add24.png" />
            </button>
            <button data-toggle="tooltip" data-placement="top" title="Nuevo" class="btn" id="Limpiar" onclick="LimpiarBoton()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/clear24.png" />
            </button>
            @*<input type="button" value="Guardar" id="GuardarProyeccion" class="btn btn-primary" onclick="IngresarProyeccionProgramacion()" />
            <input type="button" value="Nuevo" id="Limpiar" class="btn btn-info" onclick="Limpiar()" />*@
        </div>

        <button hidden id="btnGenerarProyecion" type="button" class="btn btn-outline-success">Generar</button>


    </div>


</div>

<div id="DivProyeccion">

  
</div>


<script src="~/Scripts/General/dataTableJS.js"></script>
