
@{
    ViewBag.Title = "ProyeccionProgramacionEditar";
}

<h4>Proyección Programación </h4>
<br />
@{var Fecha = DateTime.Now.AddDays(1).ToString("yyyy-MM-dd"); }
<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="form-group">
            <label>Fecha de Proyección</label>  @Html.TextBox("FechaProduccion", null, new { @class = "form-control input-large", type = "date", @Value = Fecha, @onchange = "ConsultaProyProgramacion()" })
         </div>
    </div>
</div>
<br />
<div id="DivEditarProyeccion" class="table-responsive">

    <table class="table table-hover" id="tablaProyeccion" style="cursor: pointer">
        <thead>
            <tr>
                <th>
                    Lote
                </th>
                <th>
                    Toneladas
                </th>
                <th>
                    Destino
                </th>
                <th>
                    Tipo Limpieza
                </th>
                <th>
                    Especie
                </th>
                <th>
                    Talla
                </th>
                <th>
                    Observación
                </th>

                <th>
                    Líneas
                </th>
                <th>
                    Hora Inicio
                </th>
                <th>
                    Hora fin
                </th>
                <th>
                    Acción
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Proyeccion)
            {
                <tr>
                    <td>
                        @item.Lote
                    </td>
                    <td>
                        @item.Tonelada
                    </td>
                    <td>
                        @item.Destino
                    </td>
                    <td>
                        @item.TipoLimpieza
                    </td>
                    <td>
                        @item.Especie
                    </td>
                    <td>
                        @item.Talla
                    </td>
                    <td>
                        @item.Observacion
                    </td>
                    <td>@item.Lineas</td>
                    <td>@item.HoraInicio</td>
                    <td>@item.HoraFin</td>
                    <td>
                        <a href="#" onclick="AbrirModal('@item.IdProyeccion','@item.Observacion','@item.Lineas','@item.HoraInicio','@item.HoraFin');">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>



</div>            

            <div id="modaleditarpro"></div>
            <link href="~/Content/ProyeccionProgramacionCss/ProyeccionProgramacionEditar.css" rel="stylesheet" />
