@model List<Asiservy.Automatizacion.Formularios.Models.ProyeccionProgramacion.ProyeccionProgramacionViewModel>

<table class="table table-hover" id="tablaProyeccion" style="cursor: pointer">
    <thead>
        <tr>
            <th>
                Lote
            </th>
            <th>
                Toneladas
            </th>
            <th>
                Destino
            </th>
            <th>
                Tipo Limpieza
            </th>
            <th>
                Especie
            </th>
            <th>
                Talla   
            </th>
            <th>
                Observación
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr onclick="EditarProyeccion('@item.IdProyeccion','@item.Lote','@item.FechaProduccion','@item.Tonelada','@item.CodDestino','@item.IdTipoLimpieza','@item.Observacion');">
            <td>
                @item.Lote
            </td>
            <td>
                @item.Tonelada
            </td>
            <td>
                @item.Destino
            </td>
            <td>
                @item.TipoLimpieza
            </td>
            <td>
                @item.Especie
            </td>
            <td>
                @item.Talla
            </td>
            <td>
                @item.Observacion
            </td>
        </tr>
        }
    </tbody>
</table>

<script>
    $('#tablaProyeccion').DataTable({
    "language": {
        "sProcessing": "Procesando...",
        "sLengthMenu": "Mostrar _MENU_ registros",
        "sZeroRecords": "No se encontraron resultados",
        "sEmptyTable": "Ningún dato disponible en esta tabla",
        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix": "",
        "sSearch": "Buscar:",
        "sUrl": "",
        "sInfoThousands": ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
            "sFirst": "Primero",
            "sLast": "Último",
            "sNext": "Siguiente",
            "sPrevious": "Anterior"
        },
        "oAria": {
            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
    },
    "pageLength": 5,
    "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
    "pagingType": "full_numbers"

});
</script>