@model IEnumerable<Asiservy.Automatizacion.Formularios.Models.ProyeccionProgramacion.ProyeccionProgramacionViewModel>


<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaProduccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tonelada)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Destino)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TipoLimpieza)
            </th>
            <th>
                Especie
            </th>
            <th>
                Talla
            </th>
            <th>
                Observación
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lineas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraFin)
            </th>
            <th>
                Usuario Ingreso
            </th>
            <th> Usuario Modificación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Lote)
                </td>
                <td>
                    @item.FechaProduccion.Value.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tonelada)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Destino)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TipoLimpieza)
                </td>
                <td>
                    @item.Especie
                </td>
                <td>
                    @item.Talla
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lineas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraFin)
                </td>
                <td>
                    @item.UsuarioIngreso
                </td>
                <td> @item.UsuarioModificacion</td>
            </tr>
        }
    </tbody>
</table>

    <script src="~/Scripts/General/dataTableJS.js"></script> 