@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaProyeccionProgramacion>

@using System.Globalization;

@{
    /**/
    CultureInfo ci = new CultureInfo("Es-Es");
}

<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lote)
            </th>
            <th>
               Barco
            </th>
            <th>
               Marea
            </th>
            <th>
               Orden
            </th>
            <th>
               Kilos
            </th>
            @if (ViewBag.RolCamara == null)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Lineas)
                </th>
                <th>
                    Proceso Inicio
                </th>
                <th>
                    Proceso Fin
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Destino)
            </th>
            @if (ViewBag.RolCamara == null)
            {
                <th>
                    Limpieza
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Especie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Talla)
            </th>
            @if (ViewBag.RolCamara == null)
            {
                <th>
                    Temperatura
                </th>
                <th>
                    Cooción Inicio
                </th>
                <th>
                    Cooción Fin

                </th>
                <th>
                   Coches
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cocina)
                </th>
                <th>
                   Evicerado Inicio

                </th>
                <th>
                    Evicerado Fin

                </th>
            }
            <th>
                Descongelado Inicio

            </th>
            <th>
                Descongelado Fin
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Requerimiento)
            </th>
            <th>
                Receta
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>

            
            @if (ViewBag.rolAsistenteProduccion != null)
            {
                <th>
                    Fecha Ingreso
                </th>
                <th>
                  Usario Ingreso
                </th>
                <th>
                    Fecha Modificacion
                </th>
                <th>
                   Usuario Modificacion
                </th>
            }

            </tr>
    </thead>
    <tbody>
        @{ 
            TimeSpan timespan;
            DateTime time;
            string displayTime;
            int i = 1;
            int totalKilos = 0;
            int totalCoches = 0;
        }
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @i
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Lote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdenFabricacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Toneladas)
                @{
                    totalKilos = totalKilos + item.Toneladas ?? 0;
                }
            </td>
            @if (ViewBag.RolCamara == null)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Lineas)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.HoraProcesoInicio)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.HoraProcesoFin)

                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Destino)
            </td>
            @if (ViewBag.RolCamara == null)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.TipoLimpieza)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Especie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Talla)
            </td>
            @if (ViewBag.RolCamara == null)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.TemperaturaFinal)
                </td>
                <td>
                    @{
                        string HoraCoccionInicio = item.HoraCoccionInicio != null ? item.HoraCoccionInicio.Value.ToString("HH:mm") : "";
                    }
                    <label>@HoraCoccionInicio</label>
                </td>

                <td>
                    @{
                        string HoraCoccionFin = item.HoraCoccionFin != null ? item.HoraCoccionFin.Value.ToString("HH:mm") : "";
                    }
                    <label>@HoraCoccionFin</label>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCoches)
                    @{
                        totalCoches = totalCoches + (item.TotalCoches ?? 0);
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cocina)
                </td>
                <td>

                    @{
                        string HoraEviceradoInicio = item.HoraEviceradoInicio != null ? item.HoraEviceradoInicio.Value.ToString("HH:mm") : "";
                    }
                    <label>@HoraEviceradoInicio</label>
                </td>
                <td>


                    @{
                        string HoraEviceradoFin = item.HoraEviceradoFin != null ? item.HoraEviceradoFin.Value.ToString("HH:mm") : "";
                    }
                    <label>@HoraEviceradoFin</label>
                </td>
            }
            <td>

                @{
                    string HoraDescongeladoInicio = item.HoraDescongeladoInicio != null ? item.HoraDescongeladoInicio.Value.ToString("HH:mm") : "";
                }
                <label>@HoraDescongeladoInicio</label>
            </td>
            <td>
                @{
                    string HoraDescongeladoFin = item.HoraDescongeladoFin != null ? item.HoraDescongeladoFin.Value.ToString("HH:mm") : "";
                }
                <label>@HoraDescongeladoFin</label>
            </td>
            <td>
                @{
                    string Requerimiento = item.Requerimiento != null ? item.Requerimiento.Value.ToString("HH:mm") : "";
                }
                <label>@Requerimiento</label>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecetaRoceado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            @if (ViewBag.rolAsistenteProduccion != null)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.FechaIngresoLog)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioIngresoLog)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaModificacionLog)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioModificacionLog)
                </td>
            }
            </tr>
                
                i++;
            }
      
    </tbody>
    <tfoot>
        <tr>
            <td style="display: none;"></td>
            <td colspan="2"><b>Total</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td><b> @totalKilos KG</b></td>
            @if (ViewBag.RolCamara == null)
            {
                <td></td>
                <td></td>
                <td></td>
            }
            <td></td>
            @if (ViewBag.RolCamara == null)
            {
                <td></td>
            }
            <td></td>
            <td></td>
            @if (ViewBag.RolCamara == null)
            {
                <td></td>
                <td></td>
                <td></td>
                <td><b>@totalCoches</b></td>
                <td></td>
                <td></td>
            }
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
           
            @if (ViewBag.rolAsistenteProduccion != null)
            {
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            }

            </tr>

    </tfoot>
</table>
