
@model IEnumerable<Asiservy.Automatizacion.Formularios.Models.CALIDAD.CabeceraEvaluacionProductoEnfundadoViewModel>

<table class="table table-bordered table-hover" id="tblBandejaEvaluacion">
    <thead>
        <tr>

            <th>
                Fecha de producción
            </th>
            <th>
                Orden de fabricación
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lomo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Miga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trozo)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.NivelLimpieza)
            </th>
            <th>
                Marca
            </th>
            <th>
                Destino
            </th>
            <th>
                Proveedor
            </th>
            <th>
                Batch
            </th>
            <th>
                Lote
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>

         
            <th>
                Estado
            </th>

            <th>
                Aprobado por
            </th>
            <th>
                Fecha de aprobación
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr style="cursor:pointer" onclick="AbrirModalDetalle(@item.IdEvaluacionProductoEnfundado)">

                <td>
                    @item.FechaProduccion.Value.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrdenFabricacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente)
                </td>
                <td class="text-center">
                    @if (item.Lomo == true)
                    {
                        <i class="far fa-check-circle" style="color:green"></i>
                    }
                </td>
                <td class="text-center">
                    @if (item.Miga == true)
                    {
                        <i class="far fa-check-circle" style="color:green"></i>
                    }
                </td>
                <td class="text-center">
                    @if (item.Trozo == true)
                    {
                        <i class="far fa-check-circle" style="color:green"></i>
                    }
                </td>
            
               
                <td>
                    @Html.DisplayFor(modelItem => item.NivelLimpiezaDescripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Proveedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Batch)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lote)
                </td>
            
                <td>
                    @Html.DisplayFor(modelItem => item.Observacion)
                </td>
              

                <td class="text-center">
                    @if (item.EstadoControl == true)
                    {
                        <span class="badge badge-success">Aprobado</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">Pendiente</span>
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AprobadoPor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaAprobacion)
                </td>

            </tr>
        }

    </tbody>
</table>
