
@{
    ViewBag.Title = "ControlEvaluacionProductoEnfundado";
}
<style>
    .img {
        margin: 10px auto;
        border-radius: 5px;
        border: 1px solid #999;
        padding: 13px;
        /*width:420px;
  height:320px;*/
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

        .img img {
            width: 100%;
        }
    #divmin {
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: #00447A;
    }
    textarea {
        resize: none;
    }

    input, select, textarea {
        max-width: 100%;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    fieldset {
        border: 1px solid #ddd !important;
        margin: 0;
        xmin-width: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: #f5f5f5;
        padding-left: 10px !important;
    }

    legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        /*width: 35%;*/
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px 5px 5px 10px;
        background-color: #ffffff;
    }

    #lgnprod {
        width: 45%;
    }

    #lgndestino {
        width: 30%;
    }

    canvas {
        border: 1px solid black;
    }

    #ImgFirma {
        border: 1px solid black;
    }
    /*#pizarra {
        border: 1px solid black;
    }*/
</style>
<h4>Control Evaluación Producto Enfundado</h4>
<div class="card" id="divmin" style="cursor:pointer" onclick="SlideCabecera()">
    <center><i class="fas fa-arrow-alt-circle-down"></i></center>
</div>
<div class="card"  id="DivCabecera">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                Fecha de producción:
                <input type="date" class="form-control" id="txtFechaProduccion" onchange="ConsultarCabControl()" />
                <label id="msjErrorFechaProduccion" class="text-danger" hidden>Debe ingresar una fecha</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                Orden de Fabricación:

                <select id="cmbOrdeneFabricacion" class="form-control" onchange="DatosOrdenFabricacion()">
                    <option>Seleccione..</option>
                </select>
                <label id="msjErrorOrdenFabricacion" class="text-danger" hidden>Debe seelccionar una orden de fabricación</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                Cliente:
                <input type="text" id="txtCliente" class="form-control" disabled />
            </div>
        </div>
        <div class="col-md-4">
            <fieldset>
                <legend id="lgnprod">Tipo de producto</legend>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" id="Lomo" value="">Lomo
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" id="Miga" value="">Miga
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" id="Trozo" value="">Trozo
                            </label>
                        </div>
                        <label class="text-danger" id="msgerrortipoproducto" hidden>Debe seleccionar al menos un tipo de producto</label>
                    </div>
                </div>

            </fieldset>
        </div>
        <div class="col-md-4" style="margin-top:10px">
            <div class="form-group">
                <label>Destino:</label>
                <input type="text" id="txtDestino" class="form-control" disabled />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                Nivel de limpieza:
                @Html.DropDownList("cmbNivelLimpieza", (IEnumerable<SelectListItem>)ViewBag.NivelLimpieza, "Seleccione..", new { @class = "form-control" })
                <label class="text-danger" id="msgerrorniveldelimpieza" hidden>Debe seleccionar el nivel de limpieza</label>
            </div>
        </div>
        <div class="col-md-8" style="margin-top:10px">
            <fieldset>
                <legend id="lgndestino">Trazabilidad de empaque</legend>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Proveedor:</label>
                                    <input type="text" id="txtProveedor" class="form-control" />
                                    <label class="text-danger" id="msgerrorproveedor" hidden>Debe ingresar un proveedor</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Batch:</label>
                                    <input type="text" id="txtBatch" class="form-control" />
                                    <label class="text-danger" id="msgerrorbatch" hidden>Debe ingresar un batch</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Lote:</label>
                                    <input type="text" id="txtLoteProveedor" class="form-control" />
                                    <label class="text-danger" id="msgerrorloteproveedor" hidden>Debe ingresar un lote</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>
        </div>
        <div class="col-md-4" style="margin-top:5px">
            <div class="form-group">
                Marca:
                <input type="text" id="txtMarca" class="form-control" disabled />
            </div>
            <div class="form-group">
                Observación:
                <textarea id="Observacion" class="form-control" rows="5"></textarea>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <input type="button" class="btn btn-primary" value="Adjuntar imágenes" onclick="AbrirModalImagenes()"/>
        </div>
    </div>
    <br />
    <div class="row">
        <div class=" col-12 text-center">
            <button class="btn btn-primary" type="button" disabled hidden id="btnCargando">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Espere...
            </button>
            @*<button data-toggle="tooltip" data-placement="top" title="Consultar" class="btn" id="btnConsultar" onclick="ConsultarCabControl()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/ver24.png" />
            </button>*@
            <button data-toggle="tooltip" data-placement="top" title="Guardar" class="btn" id="btnGuardar" onclick="GuardarCabceraControl()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/save20.png" />
            </button>
            <button data-toggle="tooltip" data-placement="top" title="Limpiar" class="btn" id="btnLimpiar" onclick="LimpiarControles()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/clear24.png" />
            </button>
            <button data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn" id="btnEliminarCabeceraControl" onclick="ConfirmarEliminarCab()" style="border-color:#2c3e50" type="button" disabled>
                <img style="width:100%" src="~/Content/icons/cancel24.png" />
            </button>
        </div>
    </div>
</div>

<center>   <h4 id="mensajeRegistros" class="text-warning" hidden> No se encontraron Registros</h4></center>
<br />

<div class="card" id="CardDetalle" hidden>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#informacion" id="info">Información general de evaluación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#evaluacion" id="evalu">Evaluación organoléptica</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#verificacion" id="verif">Verificación de limpieza</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane container-fluid active" id="informacion">
                    <br />
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Hora</label>
                                <input type="datetime-local" id="txtHora" class=" form-control" />
                                <label id="msjHora" class="text-danger" hidden>Debe ingresar la hora</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Empacador/a</label>
                                @Html.DropDownList("cmbEmpacador", (IEnumerable<SelectListItem>)ViewBag.Empacadores, "Seleccione..", new { @class = "form-control" })
                                <label id="msjempacador" class="text-danger" hidden>Debe ingresar una línea</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Lote</label>
                                <select id="cmbLote" class="form-control" onchange="DatosLote()">
                                    <option>Seleccione..</option>
                                </select>
                                <label id="msjLote" class="text-danger" hidden>Debe seleccionar un lote</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Buque</label>
                                <input type="text" class="form-control" id="txtBuque" disabled />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane container-fluid fade" id="evaluacion">
                    <br />
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Sabor</label>
                                @Html.DropDownList("cmbSabor", (IEnumerable<SelectListItem>)ViewBag.Sabor, "Seleccione..", new { @class = "form-control" })
                                <label id="msjSabor" class="text-danger" hidden>Debe seleccionar un sabor</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Textura</label>
                                @Html.DropDownList("cmbTextura", (IEnumerable<SelectListItem>)ViewBag.Textura, "Seleccione..", new { @class = "form-control" })
                                <label id="msjTextura" class="text-danger" hidden>Debe seleccionar una textura</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Color</label>
                                @Html.DropDownList("cmbColor", (IEnumerable<SelectListItem>)ViewBag.Color, "Seleccione..", new { @class = "form-control" })
                                <label id="msjColor" class="text-danger" hidden>Debe seleccionar un color</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Olor</label>
                                @Html.DropDownList("cmbOlor", (IEnumerable<SelectListItem>)ViewBag.Olor, "Seleccione..", new { @class = "form-control" })
                                <label id="msjOlor" class="text-danger" hidden>Debe seleccionar una olor</label>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Moretones</label>
                                <input type="number" id="txtMoretones" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Hematomas profundos</label>
                                <input type="number" id="txtHematomas" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Proteínas</label>
                                @Html.DropDownList("cmbProteina", (IEnumerable<SelectListItem>)ViewBag.Proteina, "Seleccione..", new { @class = "form-control" })
                                <label id="msjProteina" class="text-danger" hidden>Debe seleccionar una proteina</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Trozos</label>
                                <input type="number" id="txtTrozos" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Migas</label>
                                <input type="number" id="txtMiga" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane container-fluid fade" id="verificacion">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Venas</label>
                                <input type="number" id="txtVenas" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Espinas</label>
                                <input type="number" id="txtEspinas" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Sangre</label>
                                <input type="number" id="txtSangre" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <label>Escamas</label>
                                <input type="number" id="txtEscamas" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <label>Piel</label>
                                <input type="number" id="txtPiel" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <label>Otros</label>
                                <input type="number" id="txtOtros" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><hr />
    <div class="row">
        <div class=" col-12 text-center">
            <button class="btn btn-primary" type="button" disabled hidden id="btnCargandoSubDetalle">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Espere...
            </button>
            @*<button data-toggle="tooltip" data-placement="top" title="Consultar" class="btn" id="btnConsultar" onclick="ConsultarCabControl()" style="border-color:#2c3e50" type="button">
                    <img style="width:100%" src="~/Content/icons/ver24.png" />
                </button>*@
            <button data-toggle="tooltip" data-placement="top" title="Guardar" class="btn" id="btnGuardarDetalle" onclick="GuardarDetalleControl()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/save20.png" />
            </button>
            <button data-toggle="tooltip" data-placement="top" title="Limpiar" class="btn" id="btnLimpiarDetalle" onclick="LimpiarDetalleControles()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/clear24.png" />
            </button>
            <button data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn" id="btnEliminarDetalleControl" onclick="ConfirmarEliminarDetalle()" style="border-color:#2c3e50" type="button" disabled>
                <img style="width:100%" src="~/Content/icons/cancel24.png" />
            </button>
        </div>
    </div>
    <br />
    <div id="DivDetalles" class="table-responsive">

    </div>
    @*<div id="FirmaControl">
            <br />
            <div id="DivCanvas">
                <center><canvas id="pizarra"></canvas></center>
            </div>
            <center> <input type="button" class="btn btn-primary"  value="LimpiarFirma" onclick="BorrarFirma()"/> </center>
        </div>*@
    <br />
    @*<div id="signature-pad" class="align-self-md-center align-self-sm-center" hidden>
        <button type="button" class="btn" data-action="clear" style="border-color:#2c3e50"><img style="width:100%" src="~/Content/icons/clear24.png" /></button>

        <div>
            <canvas width=400 height=200 id="firmacanvas"></canvas>
        </div>
        <div>
            <center> <button type="button" class="btn btn-primary" onclick="GuardarFirma()">Guardar Firma</button></center>
        </div>
    </div>
    <div id="div_ImagenFirma" class="align-self-md-center align-self-sm-center" hidden>


        <img id="ImgFirma" width="400" height="200" src="" />
        <div>
            <center> <button type="button" class="btn btn-primary" onclick="VolverAFirmar()">Rehacer Firma</button></center>
        </div>
    </div>*@

</div>


@*modal eliminar cabecera*@
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="ModalEliminarCabecera" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h6 class="modal-title">¿Esta seguro que desea eliminar el registro?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnsicab" onclick="EliminarCabecera()">Si</button>
                <button type="button" class="btn btn-primary" id="btnnocab" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
@*modal eliminar Detalle*@
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="ModalEliminarDetalle" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h6 class="modal-title">¿Esta seguro que desea eliminar el registro?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnsidet" onclick="EliminarDetalle()">Si</button>
                <button type="button" class="btn btn-primary" id="btnnodet" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
@*modal Agregar Imagenes*@
<div class="modal" tabindex="-1" id="ModalAgregarImagenes" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Imágenes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#fotoprod" id="fotoprodtab">Código de producto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#foto1" id="foto1tab">Producto foto 1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#foto2" id="foto2tab">Producto foto 2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#foto3" id="foto3tab">Producto foto 3</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane container-fluid active" id="fotoprod">
                                <br />
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="file-uploadcod" accept="image/*">
                                            <label class="custom-file-label" for="customFile">Seleccione archivo</label>
                                        </div>
                                        <br />
                                        <div class="text-center" style="justify-content:center">
                                            <div id="file-preview-zone1" style="height:auto">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane container-fluid fade" id="foto1">
                                <br />
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="file-upload1" accept="image/*">
                                            <label class="custom-file-label" for="customFile">Seleccione archivo</label>
                                        </div>
                                        <br />
                                        <div class="text-center" style="justify-content:center">
                                            <div id="file-preview-zone2" style="height:auto">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane container-fluid fade" id="foto2">
                                <br />
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="file-upload2" accept="image/*">
                                            <label class="custom-file-label" for="customFile">Seleccione archivo</label>
                                        </div>
                                        <br />
                                        <div class="text-center" style="justify-content:center">
                                            <div id="file-preview-zone3" style="height:auto">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane container-fluid fade" id="foto3">
                                <br />
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="file-upload3" accept="image/*">
                                            <label class="custom-file-label" for="customFile">Seleccione archivo</label>
                                        </div>
                                        <br />
                                        <div class="text-center" style="justify-content:center">
                                            <div id="file-preview-zone4" style="height:auto">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div id="divInputLoad" class="col-md-12 col-12 col-sm-12">
                        <label>Metales</label>
                        <div id="divFileUpload">
                            <input id="file-upload" type="file" accept="image/*" />
                        </div>
                        <br />
                        <div class="text-center" style="justify-content:center">
                            <div id="file-preview-zone" style="height:auto">
                            </div>

                        </div>
                    </div>*@

                </div>
            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="">Aceptar</button>
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>*@
            </div>
        </div>
    </div>
</div>
