@model IEnumerable<Asiservy.Automatizacion.Formularios.Models.Calidad.DetalleEvaluacionLomosMIgasBandejaViewModel>
@using Newtonsoft.Json;

<table class="table table-striped table-bordered table-hover" id="TableDetalle">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Linea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lote)
            </th>
      
            <th>
                @Html.DisplayNameFor(model => model.Sabor)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Textura)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Olor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moretones)
            </th>
        
           
            <th>
                @Html.DisplayNameFor(model => model.Proteinas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trozos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Espinas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sangre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Escamas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Piel)
            </th>
            <th>Total Individual</th>
        </tr>
    </thead>

    <tbody>
        @{ 
            int cont = 0;
        }
        @foreach (var item in Model)
        {
            
            var json = JsonConvert.SerializeObject(item);
            <tr onclick="ModificarDetalle(@json)" style="cursor:pointer">
                <td class="text-center">
                    @item.Hora.Value.ToString("dd-MM-yyyy HH:mm")
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Linea)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Buque)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Lote)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.CodSabor)
                </td>*@
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Sabor)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.CodTextura)
                </td>*@
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Textura)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.CodColor)
                </td>*@
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.CodOlor)
                </td>*@
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Olor)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Moretones)
                </td>

                @*<td>
                    @Html.DisplayFor(modelItem => item.CodProteinas)
                </td>*@
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Proteinas)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Trozos)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Venas)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Espinas)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Sangre)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Escamas)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Piel)
                </td>
                <td id="" class="text-center">
                    @{
                        var sum = item.Venas + item.Espinas + item.Sangre + item.Escamas + item.Piel;
                        cont++;
                    }
                    <label id="total@(cont)" class="badge badge-pill">@sum</label>

                    <script>
                        var suma =@Html.Raw(Json.Encode(sum));
                        var tdnombre=@Html.Raw(Json.Encode(item.Hora));
                        var contador =@Html.Raw(Json.Encode(cont));
                        //contador = contador - 1;
                        if (suma > TotalMaximo) {
                                //console.log("assadsd");
                                $('#total' + contador).removeClass('badge-success').addClass('badge-danger');
                            } else {
                                $('#total' + contador).removeClass('badge-danger').addClass('badge-success');
                            }
                        
                        //if ($('#cmbNivelLimpieza').val() == 1)
                        //{

                        //    if (suma > ParametrosLomosYMigas.Limpieza1.Total) {
                        //        console.log("assadsd");
                        //        $('#total' + contador).removeClass('badge-success').addClass('badge-danger');
                        //    } else {
                        //        $('#total' + contador).removeClass('badge-danger').addClass('badge-success');
                        //    }
                        //}
                        //if ($('#cmbNivelLimpieza').val() == 2) {

                        //    if (suma > ParametrosLomosYMigas.Limpieza2.Total) {

                        //        $('#total' + contador).removeClass('badge-success').addClass('badge-danger');
                        //    } else {
                        //        $('#total' + contador).removeClass('badge-danger').addClass('badge-success');
                        //    }
                        //}
                        //if ($('#cmbNivelLimpieza').val() == 3) {

                        //    if (suma > ParametrosLomosYMigas.Limpieza3.Total) {
                        //        $('#total' + contador).removeClass('badge-success').addClass('badge-danger');
                        //    }
                        //    else {
                        //        $('#total' + contador).removeClass('badge-danger').addClass('badge-success');
                        //    }
                        //}

                    </script>
                </td>

            </tr>
            
        }
    </tbody>

</table>
