@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.CC_VERIFICACION_POTENCIOMETRO>
@using Newtonsoft.Json;

<table class="table table-bordered table-hover">
    <tr>
        <th>
            Id
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NaCI1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NaCI2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NaCI3)
        </th>
        <th>
            Código
        </th>
        <th>
            Observación
        </th>

        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdVerificacionPotenciometroControl)
            </td>
            <td>
              @item.Fecha.ToString("dd-MM-yyyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NaCI1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NaCI2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NaCI3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
          
            <td>
                @{
                    string json = JsonConvert.SerializeObject(item);
                }
                <button id="btnActualizar" class="btn btn-link" onclick="EditarControl(@json)">Editar</button>
                @if (item.EstadoRegistro == "A")
                {
                    <button id="btnEliminar" class="btn btn-link" onclick="EliminarControl(@json)">Eliminar</button>
                }
            </td>
        </tr>
    }

</table>
