@model IEnumerable<Asiservy.Automatizacion.Formularios.AccesoDatos.Nomina.ModelViewDatosEmpleados>
<style>
    input.form-control, select.form-control, textarea.form-control {
        max-width: 100%;
    }

    
</style>
<div id="contenidoTabla">
    <table class="table-hover table-bordered table-striped table table-responsive" style="cursor: pointer" id="tblDataTable">
        <thead>
            <tr>

                <th>
                    <label>Area</label>
                </th>
                <th>
                    <label>Línea</label>
                </th>
                <th>
                    <label>Cargo</label>
                </th>
                <th>
                    <label>Cédula</label>
                </th>
                <th>
                    <label>Nombres</label>
                </th>
                <th>
                    <label>Driección</label>
                </th>
                <th>
                    <label>Barrio</label>
                </th>
                <th>
                    <label>Teléfono</label>
                </th>
                <th>
                    <label>Celular</label>
                </th>
                <th>
                    <label>Correo personal</label>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.AREA
                    </td>
                    <td>
                        @item.LINEA
                    </td>
                    <td>
                        @item.CARGO
                    </td>
                    <td>
                        @item.CEDULA
                    </td>
                    <td>
                        @item.NOMBRES
                    </td>
                    <td>
                        @item.DIRECCION
                    </td>
                    <td>
                        @item.BARRIO
                    </td>
                    <td>
                        @item.TELEFONO
                    </td>
                    <td>
                        @item.CELULAR
                    </td>
                    <td>
                        @item.CORREO
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm editarDatos"
                           data-nombres="@item.NOMBRES"
                           data-direccion="@item.DIRECCION"
                           data-barrio="@item.BARRIO"
                           data-telefono="@item.TELEFONO"
                           data-celular="@item.CELULAR"
                           data-correo="@item.CORREO"
                           data-codigodata="@item.CODTRA"
                           data-cedula="@item.CEDULA"
                           href="#">Editar datos</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>


<div class="modal fade" id="DatosEmpleado" tabindex="-1" role="dialog" aria-labelledby="DatosEmpleado" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModal"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="txtCodigoData" type="hidden" />
                <input id="txtCedula" type="hidden" />
                <div class="form-group">
                    <label for="txtDireccion">Dirección</label>
                    <input type="text" class="form-control campoSolicitud" id="txtDireccion" value="" />
                </div>
                <div class="form-group">
                    <label for="txtBarrio">Barrio</label>
                    <input type="text" class="form-control campoSolicitud" id="txtBarrio" value="" />
                </div>
                <div class="form-group">
                    <label for="txtTelefono">Teléfono</label>
                    <input type="text" class="form-control campoSolicitud" id="txtTelefono" value="" />
                </div>
                <div class="form-group">
                    <label for="txtCelular">Celular</label>
                    <input type="text" class="form-control campoSolicitud" id="txtCelular" value="" />
                </div>
                <div class="form-group">
                    <label for="txtCorreo">Correo</label>
                    <input type="text" class="form-control campoSolicitud" id="txtCorreo" value="" />
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-success" id="sincronizarDL" href="#">Sincronizar con DataLife</a>
            </div>
        </div>
    </div>
</div>