@model IEnumerable<Asiservy.Automatizacion.Formularios.Controllers.clsEmpleadoCliente>

<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th></th>
            <th>
                <label>Cédula</label>
            </th>
            <th>
                <label>Nombres</label>
            </th>
            <th>
                <label>Departamento</label>
            </th>
            <th>
                <label>Línea</label>
            </th>
            <th>
                <label>Recurso</label>
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="td_cedula cedula_@item.CEDULA" >
                    @if (!item.EXISTE_SAP)
                    {
                        <input type="checkbox" data-cedula="@item.CEDULA" class="checkEmpleado" id="chk_@item.CEDULA" name="" />
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CEDULA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBRE_EMPLEADO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DEPARTAMENTO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LINEA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RECURSO)
                </td>
                
            </tr>
        }
    </tbody>   

</table>

