@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.CC_CONDICION_PERSONAL_CONTROL>
@using Newtonsoft.Json

<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                Estado Reporte
            </th>
           
            <th>
               Fecha Ingreso
            </th>
            <th>
               Usuario Ingreso 
            </th>
            <th>
                Terminal Ingreso 
            </th>        
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var json = JsonConvert.SerializeObject(item);
            <tr onclick="SeleccionarBandeja(@json)">

                <td>
                    @item.Fecha.ToString("yyyy-MM-dd")
                </td>
                @if (item.EstadoReporte == true)
                {
                    <td><span class="badge badge-success">Aprobado</span></td>}
                else
                {
                    <td><span class="badge badge-danger">Pendiente</span></td>}

                <td>
                    @Html.DisplayFor(modelItem => item.FechaIngresoLog)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioIngresoLog)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TerminalIngresoLog)
                </td>             
               
            </tr>
        }
    </tbody>
</table>
