@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaCondicionesPersonal>
@using Asiservy.Automatizacion.Datos.Datos;


@{
    var modelCondiciones = (List<MANTENIMIENTO_CONDICION>)ViewBag.Condiciones;
    var Control = (CC_CONDICION_PERSONAL_CONTROL)ViewBag.Control;
    //   var condicionesJSON = JsonConvert.SerializeObject(ViewBag.Condiciones);
}


<table class="table table-bordered" cellspacing="4" cellpadding="4" style="cursor: pointer; width:100%" id="">
    <thead>
        <tr>
            <th width="10%">
                Hora
            </th>
            <th width="10%">
                Cedula
            </th>
            <th width="20%">
                Nombre
            </th>
            <th width="30%">
               Condición
            </th>
            <th width="30%">
                Observación
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td width="10%">
                    <label>@item.Hora</label>

                </td>
                <td width="10%">
                    <label>@item.Cedula</label>S
                </td>
                <td width="20%">
                    <label>@item.Nombre</label>
                </td>
                <td width="30%" style="white-space:normal">
                    <label>@item.Condicion</label>
                    @*<textarea rows="4" style="width:100%;  height:auto; resize:none" disabled> @Html.DisplayFor(modelItem => item.Condicion)</textarea>*@
                </td>
                <td width="30%" style="white-space:normal; font-size:11px">
                    @item.Observacion
                    @*<textarea  style="width:100%;max-height:100%; height:auto; resize:none" disabled> @Html.DisplayFor(modelItem => item.Observacion)</textarea>*@
                </td>
            </tr>
        }
    </tbody>

</table>
<hr />

<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="">
    <thead>
        <tr>
            <td>Condición</td>
            <td>Incumplimientos</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in modelCondiciones)
        {
            int cantidad = Model.Count(y => y.CodCondicion == x.IdMantenimientoCondicion.ToString());
            <tr>
                <td>@x.Descripcion</td>
                <td class="text-center"> <label id="txt_@x.IdMantenimientoCondicion">@cantidad</label> </td>
            </tr>
        }
    </tbody>
</table>

<br />
@if (Control.EstadoReporte)
{

    <table class="table table-borderless text-center">
        <tr>
            <td>
                <label style="border-bottom:solid 1px" id="txtUsuarioCreacion">@Control.UsuarioIngresoLog</label> <br />
                <label>Realizado Por</label><br />
                <label id="txtFechaCreacion">@Control.FechaIngresoLog</label>
            </td>
            <td>
                <label style="border-bottom:solid 1px" id="txtUsuarioAprobacion">@Control.AprobadoPor</label><br />
                <label>Aprobado Por</label><br />
                <label id="txtFechaAprobacion">@Control.FechaAprobacion</label>
            </td>
        </tr>
    </table>


}