@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaProductoTerminadoBandejaCC>
@using Newtonsoft.Json

<table class="table table-light table-striped table-hover" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>

            <th style="white-space:normal">
                Fecha Paletizado
            </th>
            <th style="white-space:normal">
                Fecha Producción
            </th>
            <th style="white-space:normal">
                Fecha Vencimiento
            </th>
         
            <th>
                O. Fabricación
            </th>
            <th>
                O. Venta
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th>
                Código
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etiqueta)
            </th>
            <th>
                Observación
            </th>
            <th>
                Linea de Negocio
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Linea)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.EstadoReporte)
            </th>*@

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var json = JsonConvert.SerializeObject(item);
            <tr onclick="SeleccionarBandeja(@json)">

                <td>
                    @item.FechaPaletizado.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @item.FechaProduccion.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @if (item.FechaVencimiento != null)
                    {
                        var fecha = item.FechaVencimiento.Value.ToString("yyyy-MM-dd");
                        @fecha
                    }

                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.OrdenFabricacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrdenVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoProducto)
                </td>
                <td style="white-space:normal">
                    @Html.DisplayFor(modelItem => item.Cliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Etiqueta)
                </td>
                <td style="white-space:normal">
                    @Html.DisplayFor(modelItem => item.Observacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LineaNegocio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Linea)
                </td>
                @*<td>
                    @{
                        if(item.EstadoReporte == null || item.EstadoReporte == false)
                        {
                            @:PENDIENTE
                        }
                        else
                        {
                            @:APROBADO
                        }

                    }
                </td>*@

            </tr>
        }
    </tbody>
</table>
