
@{
    ViewBag.Title = "EntregaProductoTerminado";
}

<h4>Entrega Producto Terminado</h4>
<style>
    input, select, textarea {
        max-width: 100%;
    }
</style>


@ViewBag.Linea
<hr />
<div class="row" id="divCabecera1">
    <div class="col-md-4 col-6 col-sm-6">
        <div class="form-group">
            <label>Fecha Producción</label>
            <input type="date" name="name" value="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="CargarOrdenFabricacion()" id="txtFecha" class="form-control" />
        </div>
    </div>
    <div class="col-md-4 col-6 col-sm-6">
        <div class="form-group">
            <label>Fecha Paletizado</label>
            <input type="date" name="name" value="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="CargarProductoTerminado()" id="txtFechaPaletizado" class="form-control" />
        </div>
    </div>
    <div class="col-md-4 col-12  text-md-left text-center">
        <label class="">Acciones</label>

        <div class="form-group">
            @*<input type="button" name="name" value="Consultar" id="btnConsultar" class="btn btn-primary" onclick="CargarReporteAvance()" />*@
            <button data-toggle="tooltip" data-placement="top" title="Generar" class="btn" id="btnModalGenerar" onclick="ModalGenerarControl(false)" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/add24.png" />
            </button>

            @*<input type="button" name="name" value="Consultar" id="btnConsultar" class="btn btn-primary" onclick="CargarReporteAvance()" />*@
            <button hidden data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn" id="btnModalEliminar" onclick="EliminarControl()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/cancel24.png" />
            </button>
            <button hidden data-toggle="tooltip" data-placement="top" title="Editar" class="btn" id="btnModalEditar" onclick="ModalGenerarControl(true)" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/edit24.png" />
            </button>
            <button hidden data-toggle="tooltip" data-placement="top" title="Bodegas" class="btn" id="btnBodegas" onclick="ModalBodegas()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/justificar24.png" />
            </button>
            <button hidden data-toggle="tooltip" data-placement="top" title="Atras" class="btn" id="btnAtras" onclick="AtrasControlPrincipal()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/atras24.png" />
            </button>


        </div>
    </div>

</div>
<hr />
<div class="d-flex justify-content-center">
    <div id="spinnerCargando" hidden class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div id="divCabecera2" hidden>
    <div class="card shadow">
        <div class="card-body">
            <div id="chartCabecera2" class="table-responsive"></div>
        </div>
    </div>
</div>

<div id="divDetalleProceso" hidden>
    <div class="row">

        <div class="col-md-6 col-12 col-sm-12">
            <div class="card shadow">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-2 col-sm-3 col-4">
                            <div class="form-group">
                                @*<input type="button" name="name" value="Consultar" id="btnConsultar" class="btn btn-primary" onclick="CargarReporteAvance()" />*@
                                <button data-toggle="tooltip" data-placement="top" title="Mostrar" class="btn" id="btnModalGenerar" onclick="ModalGenerarMaterial()" style="border-color:#2c3e50" type="button">
                                    <img style="width:100%" src="~/Content/icons/add24.png" />
                                </button>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-9 col-8">
                            <h4>Datos de Materiales</h4>

                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div id="chart">
                        <div class="d-flex justify-content-center">
                            <div id="spinnerCargandoDetalle" hidden class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>

                        <div id="divTableMaterial" class="table-responsive">

                        </div>

                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-6 col-12 col-sm-12">
            <div class="card shadow">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-2 col-sm-3 col-4">
                            <div class="form-group">
                                @*<input type="button" name="name" value="Consultar" id="btnConsultar" class="btn btn-primary" onclick="CargarReporteAvance()" />*@
                                <button data-toggle="tooltip" data-placement="top" title="Mostrar" class="btn" id="btnModalGenerar" onclick="ModalGenerarConsumoInsumoDetalle()" style="border-color:#2c3e50" type="button">
                                    <img style="width:100%" src="~/Content/icons/add24.png" />
                                </button>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-9 col-8">
                            <h4>Detalle del Proceso</h4>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div id="chart">
                        <div class="d-flex justify-content-center">
                            <div id="spinnerCargandoConsumoInsumoDetalle" hidden class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>

                        <div id="divTableEntregaProductoDetalle" class="table-responsive">

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-12 col-sm-12">
            <div class="card shadow">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-2 col-sm-3 col-4">
                            <div class="form-group">
                                @*<input type="button" name="name" value="Consultar" id="btnConsultar" class="btn btn-primary" onclick="CargarReporteAvance()" />*@
                                <button data-toggle="tooltip" data-placement="top" title="Mostrar" class="btn" id="btnModalGenerarTiemposMuertos" onclick="ModalGenerarTiemposMuertos()" style="border-color:#2c3e50" type="button">
                                    <img style="width:100%" src="~/Content/icons/add24.png" />
                                </button>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-9 col-8">
                            <h4>Tiempos Muertos</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="chart">
                        <div class="d-flex justify-content-center">
                            <div id="spinnerCargandoTiemposMuertos" hidden class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>

                        <div id="divTableTiemposMuertos" class="table-responsive">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="modal" tabindex="-1" id="ModalGenerarControl" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Control Consumo de Insumos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="txtIdEntregaProductoTerminado" name="name" value="0" />
                    <input type="hidden" id="txtLineaNegocio" name="name" value="@ViewBag.LineaNegocio" />

                    @*<div class="col-md-6 col-6 col-sm-6">
                            <div class="form-group">
                                <label>Fecha Orden Fabricación</label>
                                <input type="date" class="form-control" id="txtFechaOrdenFabricacion" onchange="CargarOrdenFabricacion()" name="name" value="@DateTime.Now.ToString("yyyy-MM-dd")" />

                            </div>
                        </div>*@
                    <div class="col-md-6 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Orden Fabricación</label>
                            @*<input class="form-control" id="txtOrdenFabricacion" type="text" name="name" value="0" />*@
                            <select class="form-control" id="txtOrdenFabricacion" onchange="CargarDatosOrdenFabricacion()"></select>
                            @*@Html.DropDownList("txtOrdenFabricacion", new SelectList(ViewBag.OrdenesFabricacion, "ORDEN_FABRICACION", "ORDEN_FABRICACION"), "seleccione", new { @class = "form-control", @Onchange = "CargarDatosOrdenFabricacion()" })*@
                        </div>
                    </div>

                    <div class="col-md-6 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Orden Venta</label>
                            <input class="form-control" id="txtOrdenVenta" disabled type="text" name="name" value="0" />
                        </div>
                    </div>
                    <div class="col-md-6 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Cod SAP</label>
                            <input class="form-control" id="txtCodigoMaterial" disabled type="text" name="name" value="0" />
                        </div>
                    </div>
                    <div class="col-md-6 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Cliente</label>
                            <input class="form-control" id="txtCliente" disabled type="text" name="name" value="0" />
                        </div>
                    </div>
                    <div class="col-md-6 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Producto</label>
                            <input class="form-control" id="txtProducto" disabled type="text" name="name" value="0" />
                        </div>
                    </div>
                    <div class="col-md-6 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Cod Producto</label>
                            <input class="form-control" id="txtCodigoProducto" maxlength="12" type="text" name="name" value="" />
                        </div>
                    </div>
                    <div class="col-md-6 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Etiqueta</label>
                            <input class="form-control" id="txtEtiqueta" type="text" name="name" value="" />
                        </div>
                    </div>
                    <div class="col-md-6 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Fecha Vencimiento</label>
                            <input class="form-control" id="txtFechaVencimiento" type="date" name="name" value="" />
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-sm-12">
                        <div class="form-group">
                            <label>Observacion</label>
                            <textarea class="form-control" cols="12" id="txtObservacion" maxlength="250" type="text" name="name" value=""></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="GenerarControlConsumo()" id="btnGenerarControlConsumo">Generar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modalEliminarControl">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="txtEliminarControl" name="name" value="" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Eliminar el Control</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id="modal-si">Si</button>
                <button type="button" class="btn btn-outline-primary" id="modal-no">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modalEliminarControlDetalle">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="txtEliminarDetalle" name="name" value="" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Eliminar el Detalle</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id="modal-detalle-si">Si</button>
                <button type="button" class="btn btn-outline-primary" id="modal-detalle-no">No</button>
            </div>
        </div>
    </div>
</div>


@* CONSUMO DE MATERIALES  *@
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modalEliminarConsumoMaterial">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="txtEliminarProcesoMaterial" name="name" value="0" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelMaterial">Esta seguro de Eliminar?</h4>

            </div>
            <div class="modal-body">
                <h5 id="pModalMaterial"></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id="modal-Material-btn-si">Si</button>
                <button type="button" class="btn btn-outline-primary" id="modal-Material-btn-no">No</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" id="ModalConsumoMaterial" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Materiales</h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="txtIdConsumoMaterial" name="name" value="0" />
                    <div class="col-12 col-sm-12 col-md-6">
                        <label>Material</label>
                        @Html.DropDownList("selectMaterial", new SelectList(ViewBag.Material, "Codigo", "Descripcion"), "Seleccione", new { @class = "form-control" })
                    </div>
                    <div class="col-md-6 col-6 col-sm-6">
                        <label>Recibido</label>
                        <input type="number" min="0" id="txtRecibido" class="form-control" name="name" value="0" />
                    </div>
                    <div class="col-md-6 col-6 col-sm-6">
                        <label>Desechado</label>
                        <input type="number" min="0" id="txtDesechado" class="form-control" name="name" value="0" />
                    </div>
                    <div class="col-md-6 col-6 col-sm-6">
                        <label>Usado</label>
                        <input type="number" min="0" id="txtUsado" class="form-control" name="name" value="0" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="GuardarConsumoMaterial()" id="">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>



@* MODAL DETALLE HORAS *@

<div class="modal" tabindex="-1" id="ModalGenerarEntregaProductoTerminadoDetalle" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Entrega de Producto Terminado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="txtIdEntregaProductoTerminadoDetalle" name="name" value="0" />
                    <div class="col-md-6 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Hora Inicio</label>
                            <input class="form-control" id="txtHoraInicioDetalle" type="datetime-local" name="name" value="0" />
                        </div>
                    </div>
                    <div class="col-md-6 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Hora Fin</label>
                            <input class="form-control" id="txtHoraFinDetalle" type="datetime-local" name="name" value="0" />
                        </div>
                    </div>
                    <div class="col-md-6 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Personal</label>
                            <input class="form-control" id="txtPersonal" type="number" min="0" name="name" value="0" />
                        </div>
                    </div>
                    <div class="col-md-6 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Turno</label>
                            <select class="form-control" id="selectTurno">
                                <option value="1">A</option>
                                <option value="2">B</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="GenerarControlConsumoDetalle()" id="btnGenerarControlConsumo">Generar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


@* CONSUMO DE ENVASES  *@
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modalEliminarConsumoDaniado">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="txtEliminarProcesoDaniado" name="name" value="0" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelDaniado">Esta seguro de Eliminar?</h4>

            </div>
            <div class="modal-body">
                <h5 id="pModalDaniado"></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id="modal-Daniado-btn-si">Si</button>
                <button type="button" class="btn btn-outline-primary" id="modal-Daniado-btn-no">No</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" id="ModalConsumoDaniado" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @if (ViewBag.LineaNegocio == "ENLATADO")
                {
                    <h4>Consumo de Envases </h4>
                }
                else
                {
                    <h4>Consumo de Fundas</h4>
                }
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="txtIdConsumoDaniado" name="name" value="0" />
                    <div class="col-12 col-sm-12 col-md-6">
                        <label>Motivo</label>
                        @Html.DropDownList("selectDaniado", new SelectList(ViewBag.Daniado, "Codigo", "Descripcion"), "Seleccione", new { @class = "form-control" })
                    </div>
                    <div class="col-md-6 col-6 col-sm-6">
                        <label>Cantidad</label>
                        <input type="number" min="0" id="txtCantidad" class="form-control" name="name" value="" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="GuardarConsumoDaniado()" id="">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@* TIEMPOS MUERTOS *@

<div class="modal" tabindex="-1" id="ModalConsumoTiemposMuertos" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Tiempos Muertos</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="txtIdConsumoTiemposMuertos" name="name" value="0" />
                    <div class="col-6 col-sm-12 col-md-12">
                        <label>Hora Para</label>
                        <input type="datetime-local" id="txtHoraPara" class="form-control" name="name" value="" />
                    </div>
                    <div class="col-6 col-sm-12 col-md-12">
                        <label>Hora Reinicio</label>
                        <input type="datetime-local" id="txtHoraReinicio" class="form-control" name="name" value="" />
                    </div>

                    <div class="col-12 col-sm-12 col-md-12">
                        <label>Causa</label>
                        <textarea id="txtObservacionTiemposMuertos" maxlength="250" class="form-control"></textarea>
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="GuardarConsumoTiemposMuertos()" id="">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modalEliminarTiemposMuertos">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="txtEliminarTiemposMuertos" name="name" value="" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelTiemposMuertos">Eliminar Tiempo Muerto?</h4>
            </div>
            <div class="modal-body">
                <p id="pModalTiemposMuertos"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id="modal-TiemposMuertos-btn-si">Si</button>
                <button type="button" class="btn btn-outline-primary" id="modal-TiemposMuertos-btn-no">No</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" id="ModalBodegas" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bodegas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Control Calidad</label>
                            <input class="form-control" id="txtControlCalidad" disabled type="text" name="name" value="" />
                        </div>
                    </div>
                    <div class="col-md-6 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Unidades Rechazadas</label>
                            <input class="form-control" id="txtRechazadas" disabled type="text" name="name" value="" />
                        </div>
                    </div>
                    <div class="col-md-6 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Unidades Reproceso</label>
                            <input class="form-control" id="txtReproceso" disabled type="text" name="name" value="" />
                        </div>
                    </div>
                    <div class="col-md-6 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Unidades con Defecto</label>
                            <input class="form-control" id="txtDefectos" disabled type="text" name="name" value="" />
                        </div>
                    </div>
                    <div class="col-md-6 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Cajas Entregadas</label>
                            <input class="form-control" id="txtEntregadas" disabled type="text" name="name" value="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>