@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaProductoTerminadoDetalle>

<table class="table table-bordered">
    <tr>       
        <th>
            @Html.DisplayNameFor(model => model.Turno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Personal)
        </th>
        <th>
           Inicio
        </th>
        <th>
           Fin
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>       
        <td>
            @Html.DisplayFor(modelItem => item.Turno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Personal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraFin)
        </td>       
    </tr>
}

</table>
