@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.CC_MANTENIMIENTO_CISTERNA>
@using Newtonsoft.Json;

<table class="table table-light table-striped table-hover" id="tblDataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCisterna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>

            <th>
                Fecha Creación
            </th>

            <th>
                Fecha Modificación
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    @{
        var filtroActivos = (from x in Model
                             where x.EstadoRegistro == "A"
                             select new { x.IdCisterna, x.Descripcion, x.FechaIngresoLog, x.FechaModificacionLog }).ToList();
    }
    <tbody style="font-size:14px">
        @foreach (var item in filtroActivos)
        {

            string fecha = item.FechaIngresoLog.ToString("dd-MM-yyyy HH:mm");
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCisterna)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>

                <td>
                    @fecha
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.FechaModificacionLog)
                </td>

                <td>
                    @{string json = JsonConvert.SerializeObject(item);
                    }
                    <button id="btnActualizar" class="btn btn-link" onclick="ActualizarCabecera(@json)">Editar</button>
                    <button id="btnEliminar" class="btn btn-link" onclick="EliminarConfirmar(@json)">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/Scripts/General/dataTableJS.js"></script>