@model IEnumerable<Asiservy.Automatizacion.Formularios.AccesoDatos.App.Comunicados>
@using Newtonsoft.Json;

<div class="row">
   
</div>

<table>
    <tr>
        @foreach (var item in Model)
        {
            string json = JsonConvert.SerializeObject(item.Contenido);
          
                <td>
                    <div class="card border-primary mb-3" style="max-width: 18rem; cursor:pointer" onclick="SeleccionarComunicado(@json)">
                        <div class="card-header text-primary" style="background-color:#42abfa33"> <b>@item.NombreCategoria</b></div>
                        <div class="card-body text-primary" style="font-size:12px">
                            <p class="card-text">@item.Asunto</p>
                            <p class="card-text">@item.FechaComunicado</p>
                        </div>
                    </div>
                </td>
          }
    </tr>
</table>

@*<table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Asunto)
                </th>
                <th>
                    Fecha
                </th>
                <th>
                    Categoría
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string json = JsonConvert.SerializeObject(item.Contenido);
                <tr onclick="SeleccionarComunicado(@json)">
                    <td>
                        @Html.DisplayFor(modelItem => item.Asunto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaComunicado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreCategoria)
                    </td>

                </tr>
            }
        </tbody>
    </table>*@
