@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.CC_OPERATIVIDAD_DETECTOR_METAL>

<style>
    .img {
        margin: 10px auto;
        border-radius: 5px;
        /*border: 1px solid #999;*/
        padding: 13px;
        /*width:420px;
  height:320px;*/
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

        .img img {
            width: 100%;
        }

    @@media all and (min-width: 500px) and (max-width: 1000px) {
        .img {
            margin: 20px auto;
            border-radius: 5px;
            border: 1px solid #999;
            padding: 13px;
            width: 300px;
            height: 300px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .img img {
        width: 100%;
    }
</style>
<script>
  
</script>
<div class="row">

    @foreach (var item in Model)
    {

        <div class="col-md-4 col-12 col-sm-12 text-center">
            <div class="card shadow" style="margin-bottom:10px; border:medium double">
                @if (item.Imagen != null)
                {
                    <div class="card-header text-center" style="background:#DCDCDC">
                        <img src="~/Content/Img/@item.Imagen" id="@item.IdOperatividadDetectorMetal" class="card-img-top" alt="...">
                    </div>
                }

                <div class="card-body" style="background:#F0F8FF">
                    @*<h5 class="card-title">@item.</h5>*@
                    <p class="card-text" style="color:black">@item.Novedad</p>
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                </div>
            </div>
        </div>
        if (item.Imagen != null)
        {
            <script>
        validarImg('@item.Rotacion','@item.IdOperatividadDetectorMetal','@item.Imagen');
            </script>
        }
    }
</div>
