@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.CC_ANALISIS_QUIMICO_PRODUCTO_SEMIELABORADO_TIPO>


<table class="table table-bordered table-striped">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.TipoProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalProceso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistaminaProceso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HumedadProceso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalEmpaque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistaminaEmpaque)
            </th>



            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            string Tipo = item.TipoProducto == "L" ? "Lomo" : item.TipoProducto == "M" ? "Miga" : item.TipoProducto == "T" ? "Trozo" : item.TipoProducto;
            <tr>

                <td>
                   @Tipo
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalProceso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HistaminaProceso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HumedadProceso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalEmpaque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HistaminaEmpaque)
                </td>


                <td>
                    <a href="#" onclick="EditarSubDetalle()">Editar</a>|
                    <a href="#">Eliminar</a>|

                </td>
            </tr>
        }
    </tbody>

</table>
