@model List<Asiservy.Automatizacion.Datos.Datos.SPSubdetalleAnalisisQuimicoProductoSe>
@using Newtonsoft.Json
@using Asiservy.Automatizacion.Datos.Datos
@using Asiservy.Automatizacion.Formularios.Models.CALIDAD

<table class="table table-bordered" id="tblReporte">
    <thead style="font-size:0.8rem">
        <tr>
            <th>

            </th>
            @foreach (var Areas in ViewBag.Areas as List<Area>)
            {
                <th colspan="@Areas.Total" class="text-center">
                    ÁREA @Areas.AreaNombre
                </th>
            }
        </tr>
        <tr>
            <th>TIPO PRODUCTO</th>
            @{
                var Json = JsonConvert.SerializeObject(ViewBag.Parametros);
                List<ParametrosViewModel> Dparametros = JsonConvert.DeserializeObject<List<ParametrosViewModel>>(Json);
                List<TipoProducto> DTipoProd = ViewBag.TipoProducto as List<TipoProducto>;
            }
            @foreach (var parametros in Dparametros)
            {
                <th class="text-uppercase text-center">@parametros.NombreParametro</th>
            }
        </tr>
    </thead>
    <TBODY>
        @foreach (var item in ViewBag.TipoProducto as List<TipoProducto>)
        {
            <tr>
                <td>@item.TipoProductoNombre</td>
                @foreach (var Areas in ViewBag.Areas as List<Area>)
                {
                    var pr = Dparametros.Where(x => x.CodArea == Areas.CodArea).ToList();
                    foreach (var param in pr)
                    {
                        var parametro = (from r in Model
                                         where r.CodArea==Areas.CodArea && r.CodTipoProducto==item.CodTipoProd &&r.ParametroLaboratorio==param.ParametroLaboratorio
                                         select r).ToList();
                        <td style="padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:0px">

                            <table width="100%" style="height:100%">
                                @foreach (var filas in parametro)
                                {
                                    <tr style="border: hidden">
                                        <td width="100%" style="border: hidden" class="text-right">@filas.Cantidad</td>
                                    </tr>
                                }
                            </table>
                        </td>
                    }
                }

            </tr>
        }
    </TBODY>
</table>