@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.CC_MANTENIMIENTO_REACTIVO>
@using Newtonsoft.Json;
@using Asiservy.Automatizacion.Datos.Datos

<table class="table table-light table-striped table-bordered" id="tblDataTable">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Descripción
            </th>
            <th>
                Unidad de Medicicón
            </th>
            <th>
               Valor predeterminado
            </th>
            <th>
                Fecha Creación
            </th>

            <th>
                Fecha Modificación
            </th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody style="font-size:14px">
        @foreach (var item in Model)
        {
            DateTime fecham = Convert.ToDateTime(item.FechaModificacionLog);

            string fecha = item.FechaIngresoLog.ToString("dd-MM-yyyy HH:mm");
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdReactivo)
            </td>
            <td>
                @item.Descripcion
            </td>
            <td>@item.Abreviatura</td>
            <td>@item.ValorPredeterminado</td>
            <td>
                @fecha
            </td>

            <td>
                @if (fecham.ToString() != "1/1/0001 12:00:00 AM")
                {
                    @fecham.ToString("dd-MM-yyyy HH:mm")
                }
            </td>
            <td>
                @if (item.EstadoRegistro == "A")
                {
                    <span class="badge badge-success">ACTIVO</span>
                }
                else
                {
                    <span class="badge badge-danger">INACTIVO</span>
                }
            </td>
            <td>

                @{
                    var x = new CC_MANTENIMIENTO_REACTIVO
                    {
                        IdReactivo = item.IdReactivo,
                        Descripcion = item.Descripcion,
                        Abreviatura = item.Abreviatura,
                        EstadoRegistro = item.EstadoRegistro
                    };
                    string json = JsonConvert.SerializeObject(x);
                }
                <button id="btnActualizar" class="btn btn-link" onclick="ActualizarCabecera(@json)">Editar</button>
                @if (item.EstadoRegistro == "A")
                {
                    <button id="btnEliminar" class="btn btn-link" onclick="InactivarConfirmar(@json)">Inactivar</button>
                }
                else
                {
                    <button id="btnEliminar" class="btn btn-link" onclick="ActivarConfirmar(@json)">Activar</button>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
