@model IEnumerable<Asiservy.Automatizacion.Formularios.Models.ControlCocheLinea.ControlCocheLineaViewModel>

<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdControlCocheLinea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coches)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DescripcionLinea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Talla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="SelectControlCoche('@item.IdControlCocheLinea','@item.Fecha.ToString("yyyy-MM-dd")','@item.HoraInicio','@item.HoraFin','@item.Linea','@item.Talla','@item.Observacion','@item.Coches')">
                <td>
                    @Html.DisplayFor(modelItem => item.IdControlCocheLinea)
                </td>
                <td>
                    <label>@item.Fecha.ToString("yyyy-MM-dd")</label>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coches)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DescripcionLinea)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Talla)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacion)
                </td>


            </tr>
        }
    </tbody>
</table>
