@model Asiservy.Automatizacion.Datos.Datos.CONTROL_COCHE_LINEA

@{
    ViewBag.Title = "ControlCocheLinea";
}

<style>
    input, select, textarea {
        max-width: 100%;
    }
</style>

<h4>Control Coche Por Linea</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <div class="row">


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-2 col-sm-4 col-2">
            <div class="form-group">
                <label>Id</label>
                <input type="text" name="name" id="txtIdControlCoche" value="0" class="form-control" readonly />
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label" })
                @{var FechaActual = DateTime.Now.ToString("yyyy-MM-dd"); }
                <input type="date" id="txtFecha" name="name" value="@FechaActual" class="form-control" />
                <span class="field-validation-valid text-danger" hidden id="txtValidaFecha"> Ingrese la Fecha </span>

            </div>
        </div>

        <div class="col-md-2 col-sm-4 col-4">
            <div class="form-group">
                @Html.LabelFor(model => model.HoraInicio, htmlAttributes: new { @class = "control-label" })
                <input type="time" id="txtHoraInicio" name="name" value="" class="form-control" />
                <span class="field-validation-valid text-danger" hidden id="txtValidaHoraInicio"> Ingrese la Hora </span>

            </div>
        </div>

        <div class="col-md-2 col-sm-4 col-4">
            <div class="form-group">
                @Html.LabelFor(model => model.HoraFin, htmlAttributes: new { @class = "control-label" })
                <input type="time" id="txtHoraFin" name="name" value="" class="form-control" />
                <span class="field-validation-valid text-danger" hidden id="txtValidaHoraFin"> Ingrese la Hora </span>

            </div>
        </div>

        <div class="col-md-1 col-sm-4 col-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Coches, htmlAttributes: new { @class = "control-label" })
                <input type="number" id="txtCoches" class="form-control" name="name" value="0" />
                <span class="field-validation-valid text-danger" hidden id="txtValidaCoche">Ingrese #Coches </span>

            </div>
        </div>

        <div class="col-md-2 col-sm-4 col-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Linea, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DropDownList("Lineas", new SelectList(ViewBag.Lineas, "Codigo", "Descripcion"), "Seleccione", new { @class = "form-control", @id = "selectLineas" })
                <span class="field-validation-valid text-danger" hidden id="txtValidaLinea">Selecciones una linea </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="offset-md-1 col-2">
            <div class="form-group">
                @Html.LabelFor(model => model.Talla, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DropDownList("Tallas", new SelectList(ViewBag.Tallas, "Codigo", "Descripcion"), "Seleccione", new { @class = "form-control", @id = "selectTalla" })
                <span class="field-validation-valid text-danger" hidden id="txtValidaTalla">Selecciones una talla </span>
            </div>
        </div>

        <div class="col-md-8 col-10">
            <div class="form-group">
                @Html.LabelFor(model => model.Observacion, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Observacion, new { htmlAttributes = new { @class = "form-control", @id = "txtObservacion" } })
                @Html.ValidationMessageFor(model => model.Observacion, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="button" disabled hidden id="btnGuardarCargando">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Espere...
        </button>
        @*<input type="button" name="name" id="btnGuardar" value="Guardar" onclick="GuardarControl()" class="btn btn-primary" />
        <input type="button" name="name" id="btnNuevo" value="Nuevo" onclick="Nuevo()" class="btn btn-info" />*@
      
        <button data-toggle="tooltip" data-placement="top" title="Generar" class="btn" id="btnGuardar" onclick="GuardarControl()" style="border-color:#2c3e50" type="button">
            <img style="width:100%" src="~/Content/icons/add24.png" />
        </button>
        <button data-toggle="tooltip" data-placement="top" title="Nuevo" class="btn" id="btnNuevo" onclick="Nuevo()" style="border-color:#2c3e50" type="button">
            <img style="width:100%" src="~/Content/icons/clear24.png" />
        </button>
    </div>


    <hr />
    <div class="d-flex justify-content-center">
        <div id="spinnerCargando" hidden class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="table-responsive" id="DivTableControlCoche">

    </div>
</div>
}

