@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaReporteControlCochePorLineas>
@using Asiservy.Automatizacion.Formularios.Models.Seguridad
@{ 
    var lineas = (List<Clasificador>) ViewBag.Lineas;


}

<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>

            <th>
                <label>Hora Inicio</label>
            </th>
            <th>
                <label>Hora Fin</label>
            </th>
            @foreach (var l in lineas)
            {
                <th colspan="3">
                   @l.Descripcion
                </th>
            }

        </tr>
    </thead>
    <tbody>
        @{  int TotalL1 = 0;
            int TotalL2 = 0;
            int TotalL3 = 0;
            int TotalL4 = 0;
            int TotalL5 = 0;
            int Total = 0;
        }


        @foreach (var item in Model)
        {           
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.HoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFin)
            </td>

            @foreach (var l in lineas)
            {
                var x = Model.FirstOrDefault(y => y.HoraInicio == item.HoraInicio && l.Codigo == y.Linea);
                if (x != null)
                {
                    <th>
                        @x.Lote
                    </th>
                    <th>
                        @x.Talla
                    </th>
                    <th>
                        @x.Coches
                    </th>
                }
                else
                {
                    <th></th>
                    <th></th>
                    <th></th>
                }
            }
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2"> Total</td>            
            <td class="text-center">@TotalL1</td>
            <td class="text-center">@TotalL2</td>
            <td class="text-center">@TotalL3</td>
            <td class="text-center">@TotalL4</td>
            <td class="text-center">@TotalL5</td>
            <td class="text-center">@Total</td>
        </tr>
    </tfoot>
</table>


    <script src="~/Scripts/General/dataTableJS.js"></script> 