@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaReporteControlCochePorLineas>


<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>

            <th>
                <label>Hora Inicio</label>
            </th>
            <th>
                <label>Hora Fin</label>

            </th>
            <th class="text-center">
                <label>Linea 1</label>

            </th>
            <th class="text-center">
                <label>Linea 2</label>

            </th>
            <th class="text-center">
                <label>Linea 3</label>

            </th>
            <th class="text-center">
                <label>Linea 4</label>

            </th>
            <th class="text-center">
                <label>Linea 5</label>

            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Total)
            </th>

        </tr>
    </thead>
    <tbody>
        @{  int TotalL1 = 0;
            int TotalL2 = 0;
            int TotalL3 = 0;
            int TotalL4 = 0;
            int TotalL5 = 0;
            int Total = 0;
        }
        @foreach (var item in Model)
        {

            TotalL1 = TotalL1 + int.Parse(item.Linea1.Split('|')[0]);
            TotalL2 = TotalL2 + int.Parse(item.Linea2.Split('|')[0]);
            TotalL3 = TotalL3 + int.Parse(item.Linea3.Split('|')[0]);
            TotalL4 = TotalL4 + int.Parse(item.Linea4.Split('|')[0]);
            TotalL5 = TotalL5 + int.Parse(item.Linea5.Split('|')[0]);
            Total = Total + item.Total??0;
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.HoraInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraFin)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Linea1)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Linea2)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Linea3)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Linea4)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Linea5)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2"> Total</td>            
            <td class="text-center">@TotalL1</td>
            <td class="text-center">@TotalL2</td>
            <td class="text-center">@TotalL3</td>
            <td class="text-center">@TotalL4</td>
            <td class="text-center">@TotalL5</td>
            <td class="text-center">@Total</td>
        </tr>
    </tfoot>
</table>


    <script src="~/Scripts/General/dataTableJS.js"></script> 