@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaReporteControlCochePorLineas>


<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>

            <th>
                <label>Hora Inicio</label>
            </th>
            <th>
                <label>Hora Fin</label>

            </th>
            <th class="text-center">
                <label>Linea 1</label>

            </th>
            <th class="text-center">
                <label>Linea 2</label>

            </th>
            <th class="text-center">
                <label>Linea 3</label>

            </th>
            <th class="text-center">
                <label>Linea 4</label>

            </th>
            <th class="text-center">
                <label>Linea 5</label>

            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Total)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.HoraInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraFin)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Linea1)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Linea2)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Linea3)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Linea4)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Linea5)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
            </tr>
        }
    </tbody>
</table>


    <script src="~/Scripts/General/dataTableJS.js"></script> 