@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.PERIODO>


<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th>
                <label>Id</label>
            </th>
            <th>
                Descripción
            </th>

            <th>
                Fecha Desde
            </th>
            <th>
                Fecha Hasta
            </th>
            <th>
                Estado
            </th>
            <th>
                Fecha Ingreso
            </th>
            <th>
                Usuario Ingreso
            </th>
            <th>
                Terminal Ingreso
            </th>
            <th>
               Fecha Modificación
            </th>
            <th>
                Usuario Modificación
            </th>
            <th>
                Terminal Modificación
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr onclick="SeleccionPeriodo('@item.IdPeriodo','@item.Descripcion','@item.Estado','@item.FechaDesde.ToString("yyyy-MM-dd")','@item.FechaHasta.ToString("yyyy-MM-dd")')">
            <td>
                @Html.DisplayFor(modelItem => item.IdPeriodo)
            </td>
            <td>
                @item.Descripcion.ToUpper()
            </td>
           
            <td>
                @item.FechaDesde.ToString("dd-MM-yyyy")
            </td>
            <td>
                @item.FechaHasta.ToString("dd-MM-yyyy")
                
            </td>
            <td>
                @if (item.Estado == "B")
                {
                <label>BLOQUEADO</label>
                } else {

                <label>ABIERTO</label>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngresoLog)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioIngresoLog)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerminalIngresoLog)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaModificacionLog)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioModificacionLog)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerminalModificacionLog)
            </td>

        </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/General/dataTableJS.js"></script> 