@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.PERIODO>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPeriodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngresoLog)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioIngresoLog)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TerminalIngresoLog)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaModificacionLog)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioModificacionLog)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TerminalModificacionLog)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPeriodo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaIngresoLog)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioIngresoLog)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TerminalIngresoLog)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaModificacionLog)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioModificacionLog)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TerminalModificacionLog)
                </td>

            </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/General/dataTableJS.js"></script> 