@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.CC_HIGIENE_COMEDOR_COCINA_MANT>
@using Newtonsoft.Json;

<table class="table table-bordered" id="tblDataTable">
    <thead style="font-size:12px">
        <tr>
            <th>
                NOMBRE
            </th>
            <th>
                CATEGORIA
            </th>
            <th>
                OBSERVACIÓN
            </th>
            <th>
                FECHA CREACIÓN
            </th>
            <th>
                USUARIO CREACIÓN
            </th>
            <th>
                ESTADO
            </th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody style="font-size:11px">
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Nombre.ToUpper()
            </td>
            <td>
                @item.Categoria.ToUpper()
            </td>
            @if (!string.IsNullOrEmpty(item.Observacion))
            {
                <td>@item.Observacion.ToUpper()</td>
            }
            else
            {
                <td></td>
            }
            <td>
                @item.FechaIngresoLog.ToString("dd-MM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioIngresoLog)
            </td>
            <td>
                @if (item.EstadoRegistro == "A")
                {
                    <span class="badge badge-success">ACTIVO</span>
                }
                else
                {
                    <span class="badge badge-danger">INACTIVO</span>
                }
            </td>
            <td>
                @{
                    var json = JsonConvert.SerializeObject(item);
                }
                <button id="btnActualizar" class="btn btn-link" onclick="ActualizarCabecera(@json)">Editar</button>
                @if (item.EstadoRegistro == "A")
                {
                    <button id="btnEliminar" class="btn btn-link" onclick="InactivarConfirmar(@json)">Inactivar</button>
                }
                else
                {
                    <button id="btnEliminar" class="btn btn-link" onclick="ActivarConfirmar(@json)">Activar</button>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
<script src="~/Scripts/General/dataTableJS.js"></script>

