@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaClasificador>

<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
               Cod. Grupo
            </th>
            <th>
                Grupo 
            </th>
            <th>
               Código
            </th>
            <th>
                Descripción
            </th>
            <th>
                Estado
            </th>
            <th>
                Fecha Ingreso
            </th>
            <th>
                Usuario Ingreso
            </th>
            <th>
                Terminal Ingreso
            </th>
            <th>
                Fecha Modificación
            </th>
            <th>
                Usuario Modificación
            </th>
            <th>
                Terminal Modificación
            </th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr onclick="SeleccionClasificador('@item.IdClasificador','@item.Grupo','@item.Codigo','@item.Descripcion','@item.EstadoRegistro')">
                    <td>
                        @Html.DisplayFor(modelItem => item.IdClasificador)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grupo)
                    </td>
                    <td style="white-space:normal">
                        @if (item.GrupoNombre != null) {
                            @item.GrupoNombre.ToUpper()
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td style="white-space:normal">
                        @item.Descripcion.ToUpper()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoRegistro)
                    </td>
                    <td>
                        @if(item.FechaIngresoLog != null)
                        {
                        @item.FechaIngresoLog.Value.ToString("dd-MM-yyyy HH:mm");
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UsuarioIngresoLog)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TerminalIngresoLog)
                    </td>
                    <td>
                        @if(item.FechaModificacionLog != null)
                        {
                            @item.FechaModificacionLog.Value.ToString("dd-MM-yyyy HH:mm");
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UsuarioModificacionLog)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TerminalModificacionLog)
                    </td>

                </tr>
            }
        }
    </tbody>
</table>



<script src="~/Scripts/General/dataTableJS.js"></script>