@model List<Asiservy.Automatizacion.Formularios.Models.Seguridad.OpcionRolViewModel>


<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">

    <thead>
        <tr>
            <th>Id Opción Rol</th>
            <th hidden>Id Opción</th>
            <th>Nombre Opción</th>
            <th hidden>Id Rol</th>
            <th>Nombre Rol</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="EditarFilaOpRol('@item.IdOpcionRol','@item.IdRol','@item.IdOpcion','@item.Estado');">
                <td>@item.IdOpcionRol</td>
                <td hidden>@item.IdOpcion</td>
                <td>@item.NombreOpcion (@item.Clase) - @item.Formulario</td>
                <td hidden>@item.IdRol</td>
                <td>@item.NombreRol</td>
                <td>@item.Estado</td>
            </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/General/dataTableJS.js"></script>