@model List<Asiservy.Automatizacion.Datos.Datos.ROL>

    <table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">

        <thead>
            <tr>
                <th>ID Rol</th>
                <th>Descripción</th>
               
                <th>
                    <label>Estado Registro</label>
                </th>
                <th>
                    <label>Fecha Ingreso</label>

                </th>
                <th>
                    <label>Usuario Ingreso</label>

                </th>
                <th>
                    <label>Terminal Ingreso</label>

                </th>
                <th>
                    <label>Fecha Modificación</label>

                </th>
                <th>
                    <label>Usuario Modificación</label>

                </th>
                <th>
                    <label>Terminal Modificación</label>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr id="trFila" onclick="EditarFilaRol('@item.IdRol','@item.Descripcion','@item.EstadoRegistro')">
                <td>@item.IdRol</td>
                <td>@item.Descripcion.ToUpper()</td>
                <td>@item.EstadoRegistro</td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCreacionLog)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioCreacionLog)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TerminalCreacionLog)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaModificacionLog)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioModificacionLog)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TerminalModificacionLog)
                </td>
            </tr>
            }
        </tbody>
    </table>

    <script src="~/Scripts/General/dataTableJS.js"></script>