@model List<Asiservy.Automatizacion.Formularios.Models.Seguridad.OpcionRolViewModel>
<link href="~/Content/DataTables/media/css/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTables/media/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTables/media/js/jquery.dataTables.js"></script>
<script src="~/Scripts/DataTables/media/js/dataTables.bootstrap4.min.js"></script>

<div>
    <table id="TablaOpcionRol" class="table table-hover table-bordered" style="cursor: pointer">
        <thead>
            <tr>
                <th>Id Opción Rol</th>
                <th hidden>Id Opción</th>
                <th>Nombre Opción</th>
                <th hidden>Id Rol</th>
                <th>Nombre Rol</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr onclick="EditarFilaOpRol('@item.IdOpcionRol','@item.IdRol','@item.IdOpcion','@item.Estado');">
                    <td>@item.IdOpcionRol</td>
                    <td hidden>@item.IdOpcion</td>
                    <td>@item.NombreOpcion (@item.Clase)</td>
                    <td hidden>@item.IdRol</td>
                    <td>@item.NombreRol</td>
                    <td>@item.Estado</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $('#TablaOpcionRol').DataTable({
        language: {
            "decimal": "",
            "emptyTable": "No hay información",
            "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
            "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
            "infoFiltered": "(Filtrado de _MAX_ total entradas)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ Entradas",
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "Buscar:",
            "zeroRecords": "Sin resultados encontrados",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        },
        pageLength: 5,
        lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todos']]
    })
</script>