@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.MODULO>

<table class="table-hover table-bordered table-striped table" style="cursor: pointer"id="tblDataTable">
    <thead>
        <tr>
            <th>
                <label>Id</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                <label>Estado</label>

            </th>
            <th>
                <label>Fecha Ingreso</label>

            </th>
            <th>
                <label>Usuario Ingreso</label>

            </th>
            <th>
                <label>Terminal Ingreso</label>

            </th>
            <th>
                <label>Fecha Modificación</label>

            </th>
            <th>
                <label>Usuario Modificación</label>

            </th>
            <th>
                <label>Terminal Modificación</label>

            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr  onclick="CargarModulo('@item.IdModulo','@item.Nombre','@item.EstadoRegistro')">
                <td>
                    @Html.DisplayFor(modelItem => item.IdModulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoRegistro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaIngresoLog)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioIngresoLog)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TerminalIngresoLog)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaModificacionLog)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioModificacionLog)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TerminalModificacionLog)
                </td>

            </tr>
        }
    </tbody>

</table>


<script src="~/Scripts/General/dataTableJS.js"></script>