@model Asiservy.Automatizacion.Datos.Datos.MODULO

@{
    ViewBag.Title = "Modulo";
}
<style>
    input, select, textarea {
        max-width: 100%;
    }

</style>
<h4>Matenimiento de Modulos</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-1 col-4">
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" id="txtId" class="form-control" readonly name="name" value="0" />
                    @Html.ValidationMessageFor(model => model.IdModulo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-3 col-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                    <input type="text" autocomplete="off" class="form-control" id="txtNombre" name="name" value="" />
                    <p id="ValidaNombre" hidden class="text-warning">Ingrese un nombre</p>
                </div>
            </div>
            <div class="col-md-1 col-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Orden, htmlAttributes: new { @class = "control-label" })
                    <input type="number" autocomplete="off" class="form-control" id="txtOrden" name="name" value="" />
                    <p id="ValidaOrden" hidden class="text-warning">Ingrese un orden</p>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <label>Adjuntar Ícono</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="file-upload" accept="image/*" onchange="loadFile(event)" >
                    <label class="custom-file-label" for="customFile" id="lblfoto">Seleccione archivo</label>
                </div>
               
                
            </div>
            <div class="col-sm-2 col-md-1" >
                <div style="border:none"><br />
                    <img id="output" width="20" height="20" hidden />
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label>Estado Registro</label>
                    <div class="custom-control custom-checkbox mb-3">

                        @Html.CheckBox("EstadoRegistro", true, new { @id = "CheckEstadoRegistro", @class = "custom-control-input", @onchange = "CambioEstado(this.checked)" })
                        @*   <input type="checkbox" class="custom-control-input" id="CheckEstadoRegistro" name="example1">*@
                        <label class="custom-control-label" for="CheckEstadoRegistro" id="LabelEstado">Estado</label>
                    </div>
                </div>
            </div>
            <div class=" text-left col-5" style="">

                <label>Acciones </label>
                <div class="form-group">
                    <button class="btn btn-primary" id="btnCargando" type="button" disabled hidden>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Espere...
                    </button>
                    <button class="btn" id="btnGuardar" onclick="GuargarModulo()" style="border-color:#2c3e50" type="button">
                        <img style="width:100%" src="~/Content/icons/add24.png" />
                    </button>
                    <button class="btn" id="btnLimpiar" onclick="Limpiar()" style="border-color:#2c3e50" type="button">
                        <img style="width:100%" src="~/Content/icons/clear24.png" />
                    </button>

                </div>
            </div>
        </div>

    </div>
}
<hr />
<br />
<div hidden id="spinnerCargando">
    <div class="text-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
    </div>
</div>
<div id="DivTableModulos" class="table-responsive">
   
</div>

