
@model IEnumerable<Asiservy.Automatizacion.Formularios.Models.Seguridad.NivelUsuarioViewModel>

<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdNivelUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.EstadoRegistro)
            </th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr onclick="SeleccionNivelUsuario('@item.IdNivelUsuario', '@item.IdUsuario', '@item.Nivel', '@item.EstadoRegistro')">

                    <td>
                        @Html.DisplayFor(modelItem => item.IdNivelUsuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescripcionNivel)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoRegistro)
                    </td>

                </tr>
            }
        }
    </tbody>
</table>

<script src="~/Scripts/General/dataTableJS.js"></script>