@model Asiservy.Automatizacion.Formularios.Models.Seguridad.NivelUsuarioViewModel

@{
    ViewBag.Title = "NivelUsario";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Mantenimiento de Nivel - Usuario</h3>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">

            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    @Html.Label("Id", htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.TextBox("IdNivelUsuario", "0", new { @class = "form-control", @readonly = "readonly", @value = "0" })
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Usuario, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.IdUsuario, new SelectList(ViewBag.Usuarios, "Cedula", "Nombre"), "Seleccione", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdUsuario, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Nivel, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DropDownListFor(model => model.Nivel, new SelectList(ViewBag.Nivel, "codigo", "descripcion"), "Seleccione", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Nivel, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="form-group">
                    <div class="custom-control custom-checkbox mb-3">
                        @Html.CheckBox("EstadoRegistro", true, new { @id = "CheckEstadoRegistro", @class = "custom-control-input", @onchange = "CambioEstado(this.checked)" })
                        @*   <input type="checkbox" class="custom-control-input" id="CheckEstadoRegistro" name="example1">*@
                        <label class="custom-control-label" for="CheckEstadoRegistro" id="LabelEstado">Estado Registro</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 text-center">
            <div class="form-group">
                @*<input type="submit" value="Grabar" class="btn btn-primary" onclick="Grabar()" />
                    <input type="button" value="Nuevo" class="btn btn-info" onclick="Nuevo()" />*@
                <button class="btn" id="btnGuardar" onclick="Grabar()" style="border-color:#2c3e50" type="submit">
                    <img style="width:100%" src="~/Content/icons/add24.png" />
                </button>
                <button class="btn" id="" onclick="Nuevo()" style="border-color:#2c3e50" type="button">
                    <img style="width:100%" src="~/Content/icons/clear24.png" />
                </button>
            </div>
        </div>
    </div>
}
<hr />

<div id="DivTableNivelUsuario" class="table-responsive" style="padding-bottom:5%">

</div>

