@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.OPCION>
@using Newtonsoft.Json
@using Asiservy.Automatizacion.Datos.Datos


<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">

    <thead>
        <tr>
            <th>
                <label>Id</label>
            </th>
            <th style="min-width:200px">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Formulario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Padre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orden)
            </th>
            <th>
                <label>Estado Registro</label>
            </th>
            <th>
                <label>Fecha Ingreso</label>

            </th>
            <th>
                <label>Usuario Ingreso</label>

            </th>
            <th>
                <label>Terminal Ingreso</label>

            </th>
            <th>
                <label>Fecha Modificación</label>

            </th>
            <th>
                <label>Usuario Modificación</label>

            </th>
            <th>
                <label>Terminal Modificación</label>

            </th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {

            foreach (var item in Model)
            {
                OPCION obj = new OPCION
                {
                    Clase = item.Clase,
                    EstadoRegistro = item.EstadoRegistro,
                    FechaCreacionLog = item.FechaCreacionLog,
                    Formulario=item.Formulario,
                    IdModulo = item.IdModulo,
                    IdOpcion = item.IdOpcion,
                    Nombre = item.Nombre,
                    Orden = item.Orden,
                    Padre = item.Padre,
                    Tipo = item.Tipo,
                    Url = item.Url

                };
            var json = JsonConvert.SerializeObject(obj);

                <tr onclick="CargarOpcion(@json)">
                    <td>
                        @Html.DisplayFor(modelItem => item.IdOpcion)
                    </td>
                    <td>
                        @item.Nombre.ToUpper()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Formulario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clase)
                    </td>
                    <td>
                        @{ if (item.Padre != null && item.Padre > 0)
                            {
                                <label>@Model.FirstOrDefault(x => x.IdOpcion == item.Padre).Nombre.ToUpper()</label>

                            }
                            else
                            {
                               @:-
                            }
                        }


                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Url)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Orden)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoRegistro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCreacionLog)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UsuarioCreacionLog)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TerminalCreacionLog)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaModificacionLog)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UsuarioModificacionLog)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TerminalModificacionLog)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script src="~/Scripts/General/dataTableJS.js"></script>