@model Asiservy.Automatizacion.Datos.Datos.OPCION

@{
    ViewBag.Title = "Opcion";
}

<h3>Mantenimiento de Opciones</h3>

@using (Html.BeginForm("Opcion"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.TextBoxFor(model => model.IdOpcion, new { @class = "form-control", @hidden = "hidden", @value = "0", @id = "txtIdOpcion" })

        <div class="row">
            <div class="col-md-3 col-6">
                <div class="form-group">
                    <label>Modulo</label>
                    @Html.DropDownListFor(model => model.IdModulo, new SelectList(ViewBag.modulos, "codigo", "descripcion"), "Selecione", new { @class = "form-control", @onchange = "CambioModulo(this.value)", @id = "txtIdModulo" })

                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Clase, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.Clase, (IEnumerable<SelectListItem>)ViewBag.Clase, "Selecione", new { @class = "form-control", @onchange = "CambioClase(this.value)", @id = "selectClase" })

                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                    <input type="text" class="form-control" autocomplete="off" id="txtNombre" name="name" value="" />

                </div>
            </div>

            <div class="col-md-3 col-6" id="divPadre1">
                <div class="form-group">
                    @Html.LabelFor(model => model.Formulario, htmlAttributes: new { @class = "control-label " })
                    <input type="text" class="form-control" autocomplete="off" id="txtFormulario" name="name" value="" />


                </div>
            </div>


            <div class="col-md-3 col-6" id="divPadre2">
                <div class="form-group">
                    @Html.LabelFor(model => model.Padre, htmlAttributes: new { @class = "control-label" })
                    <select id="selectPadre" class="form-control">
                        <option value="0">Seleccione</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-6" id="divUrl">
                <div class="form-group">
                    @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label" })
                    <input type="text" class="form-control" id="txtUrl" autocomplete="off" name="name" value="" />

                </div>
            </div>
            <div class="col-md-1 col-6" id="divOrden">
                <div class="form-group">
                    @Html.LabelFor(model => model.Orden, htmlAttributes: new { @class = "control-label" })
                    <input type="number" class="form-control" id="txtOrden" autocomplete="off" name="name" value="" />
                </div>
            </div>
            <div class="col-md-2 col-6" id="divReporte">
                <div class="form-group">
                    @Html.LabelFor(model => model.Reporte, htmlAttributes: new { @class = "control-label" })
                    <div class="custom-control custom-checkbox mb-3">
                        @Html.CheckBox("Reporte", false, new { @id = "CheckReporte", @class = "custom-control-input" })
                        <label class="custom-control-label" for="CheckReporte" id=""></label>
                    </div>
                </div>
            </div>
            
            <div class="col-md-2 col-6">
                <div class="form-group">
                    <label>Estado</label>
                    <div class="custom-control custom-checkbox">
                        @Html.CheckBox("EstadoRegistro", true, new { @id = "CheckEstadoRegistroOp", @class = "custom-control-input", @onchange = "CambioEstado(this.checked)" })
                        @*   <input type="checkbox" class="custom-control-input" id="CheckEstadoRegistro" name="example1">*@
                        <label class="custom-control-label" for="CheckEstadoRegistroOp" id="LabelEstado">Estado Registro</label>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-12 text-center">
            <div class="form-group">
                <button class="btn" id="btnGuardar" onclick="GuargarOpcion()" style="border-color:#2c3e50" type="button">
                    <img style="width:100%" src="~/Content/icons/add24.png" />
                </button>
                <button class="btn" id="btnLimpiar" onclick="Nuevo()" style="border-color:#2c3e50" type="button">
                    <img style="width:100%" src="~/Content/icons/clear24.png" />
                </button>
            </div>
        </div>


    </div>
}
<hr />
<div id="spinnerCargando" hidden class="text-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Cargando...</span>
    </div>
</div>
<div id="DivTableOpciones" class="table-responsive" style="padding-bottom:5%">

</div>


