@model Asiservy.Automatizacion.Datos.Datos.ROL

<div style="padding-bottom:100px">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h4>ROL</h4>
        <hr />
        <div class="row">


            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
            <div class="col-md-4">

                <div class="form-group">
                    @* @Html.LabelFor(model => model.IdRol, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    @Html.Label("Id Rol")
                    @Html.TextBoxFor(model => model.IdRol, new { @Value = "0", @class = "form-control", @readonly = "readonly" })
                    @*@Html.ValidationMessageFor(model => model.IdRol, "", new { @class = "text-danger" })*@

                </div>
            </div>
            <div class="col-md-4">

                <div class="form-group">
                    @Html.Label("Descripción")
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessage("ErrorDescripcion", "", new { @class = "input-validation-error text-danger has-error" })
                    @*@Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })*@
                </div>
            </div>


            <div class="col-md-4">

                <div class="form-group">
                    @Html.Label("Estado")<br />
                    @Html.RadioButtonFor(model => model.EstadoRegistro, "A")  @Html.Label("Activo")
                    @Html.RadioButtonFor(model => model.EstadoRegistro, "I")  @Html.Label("Inactivo")
              
                    @Html.ValidationMessage("ErrorEstado", "", new { @class = "input-validation-error text-danger has-error" })
                </div>
            </div>
            <div class="col-md-offset-2 col-md-12">
                <center>
                    <div class="form-group">

                        <input type="button" value="Nuevo" id="Nuevo" class="btn btn-primary" />
                        <input type="submit" value="Grabar" class="btn btn-primary" />
                    </div>
                </center>
            </div>
        </div>

    }


    <div id="DetalleRoles">

    </div>
</div>

<script>

    $.ajax({
        url: "../Seguridad/ConsultaRoles",
        type: "Get",
        success: function (resultado) {
            $('#DetalleRoles').html(resultado);
            //$("#ModalEmpleado").modal("show");

        },
        error: function (resultado) {
            MensajeError(JSON.stringify(resultado), false);
            $('#' + formulario).remove("disabled");
        }
    });

    function EditarFilaRol(id, nombre, estado) {

        $('#Descripcion').val(nombre);
        $('#IdRol').val(id);

        if (estado == 'A') {
            $("input[name=EstadoRegistro][value='A']").prop("checked", true);
        }
        if (estado == 'I') {
            $("input[name=EstadoRegistro][value='I']").prop("checked", true);
        }

    }
    $('#Nuevo').click(function () {
        $('#Descripcion').val("");
        $('#IdRol').val(0);
        $("input[name=EstadoRegistro][value='A']").prop("checked", false);
        $("input[name=EstadoRegistro][value='I']").prop("checked", false);
    });
</script>