@model Asiservy.Automatizacion.Datos.Datos.ROL

<div style="padding-bottom:100px">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h4>Mantenimiento Rol</h4>
        <hr />
        <div class="row">


            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
            <div class="col-md-4">

                <div class="form-group">
                    @* @Html.LabelFor(model => model.IdRol, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    @Html.Label("Id Rol")
                    @Html.TextBoxFor(model => model.IdRol, new { @Value = "0", @class = "form-control", @readonly = "readonly" })
                    @*@Html.ValidationMessageFor(model => model.IdRol, "", new { @class = "text-danger" })*@

                </div>
            </div>
            <div class="col-md-4">

                <div class="form-group">
                    @Html.Label("Descripción")
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessage("ErrorDescripcion", "", new { @class = "input-validation-error text-danger has-error" })
                    @*@Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })*@
                </div>
            </div>


            <div class="col-md-4">

                <div class="form-group">
                    @Html.Label("Estado")<br />
                    @Html.RadioButtonFor(model => model.EstadoRegistro, "A", new { @checked = "checked" })  @Html.Label("Activo")
                    @Html.RadioButtonFor(model => model.EstadoRegistro, "I")  @Html.Label("Inactivo")
                    <br />
                    @Html.ValidationMessage("ErrorEstado", "", new { @class = "input-validation-error text-danger has-error" })
                </div>
            </div>
            <div class="col-md-offset-2 col-md-12">
                <center>
                    <div class="form-group">
                        @*<input type="submit" value="Grabar" class="btn btn-primary" />
                        <input type="button" value="Nuevo" id="Nuevo" class="btn btn-info" />*@
                        <button class="btn" id="btnGuardar" onclick="GuargarOpcion()" style="border-color:#2c3e50" type="submit">
                            <img style="width:100%" src="~/Content/icons/add24.png" />
                        </button>
                        <button class="btn" id="Nuevo" onclick="Nuevo()" style="border-color:#2c3e50" type="button">
                            <img style="width:100%" src="~/Content/icons/clear24.png" />
                        </button>
                    </div>
                </center>
            </div>
        </div>

    }
        <hr />

    <div class="table-responsive" style="padding-bottom:5%" id="DetalleRoles">

    </div>
</div>


