@model IEnumerable<Asiservy.Automatizacion.Formularios.Models.Seguridad.UsuarioRolViewModel>

<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioRol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.EstadoRegistro)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="SeleccionUsuarioRol('@item.IdUsuarioRol','@item.IdUsuario','@item.IdRol','@item.EstadoRegistro')">
                <td>
                    @Html.DisplayFor(modelItem => item.IdUsuarioRol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.EstadoRegistro)
                </td>

            </tr>
        }
    </tbody>
</table>


<script src="~/Scripts/General/dataTableJS.js"></script>