@using Asiservy.Automatizacion.Formularios.Models.Seguridad;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/Login/Login.css" rel="shortcut icon" />
    <script src="~/Scripts/General/GeneralJS.js"></script>
</head>
<body>
    <style>
        .navbar {
            padding:5px;
            padding-left:10px;
            padding-right:10px;
        }
    </style>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="menu">
        <a class="navbar-brand" href="../Home/Home">
            <img style="height:50px; width:50px" src="~/Content/images/pez.png" class="img-responsive" />
        </a>
        @if (User.Identity.IsAuthenticated)
        {
            List<ConsultaOpcionesxRolViewModel> Padre = new List<ConsultaOpcionesxRolViewModel>();

            Padre = (List<ConsultaOpcionesxRolViewModel>)Session["Padre"];
            List<ConsultaOpcionesxRolViewModel> Hijo = new List<ConsultaOpcionesxRolViewModel>();

            Hijo = (List<ConsultaOpcionesxRolViewModel>)Session["Hijo"];

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav" style="width:100%">
                    @if (Padre != null)
                    {
                        string[] ArrayUrl;
                        foreach (var MenusPadres in Padre)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">@MenusPadres.Nombre <span class="sr-only">(current)</span></a>
                                <div class="dropdown-menu" aria-labelledby="themes">
                                    @if (Hijo != null)
                                    {
                                        foreach (var MenuHijo in Hijo.Where(x => x.Padre == MenusPadres.IdOpcion))
                                        {
                                            ArrayUrl = MenuHijo.Url.Split('/');
                                            @Html.ActionLink(MenuHijo.Nombre, ArrayUrl[1], ArrayUrl[0], null, new { @class = "dropdown-item" })
                                        }
                                    }
                                </div>
                            </li>
                        }

                    }
                    <li style="width:100%" id="logoutli">
                        <a class="nav-link" style="float:right" href="../Login/Logout?Length=11" id="logout">Cerrar Sesión</a>  <label id="userl" class="nav-link" style="float:right; color:#1CBC8B"> </label>
                    </li>



                </ul>

            </div>
        }
    </nav>


    <div id="ModalMensaje"></div>

    <div style="padding-bottom: 50px" class="container-fluid">
        <div style="padding-bottom:5%; padding-top:1%">
            <div id="response">
               
            </div>
            
           
            @RenderBody()
        </div>
        <script src="~/Scripts/Mensajes/Mensajes.js"></script>

        @if (TempData["MensajeConfirmacion"] != null)
        {
            <script>
              MensajeCorrecto("@TempData["MensajeConfirmacion"]",false);
            </script>

        }
        else if (TempData["MensajeError"] != null)
        {
            <script>
              MensajeError("@TempData["MensajeError"]",false);
            </script>
        }
    </div>

    <!-- Modal -->
    <div class="modal" style="background-color: white;" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="text-center">
                        <img style="width:100%" src="~/Content/images/cargando1.gif" />

                    </div>
                </div>
            </div>
        </div>
    </div>



    <footer>
        <hr />
        <p>&copy; @DateTime.Now.Year - Asiservy S.A</p>
    </footer>
</body>
</html>

@{
    string[] liststring = User.Identity.Name.Split('_');
    if (User.Identity.IsAuthenticated)
    {
        <script>
           $('#userl').text("@liststring[0]" +" |");
        </script>
    }
}

