<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">
            <img src="~/Content/images/asilogo.jpg" class="img-responsive" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>



        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav" style="width:100%">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Procesos <span class="sr-only">(current)</span></a>
                    <div class="dropdown-menu" aria-labelledby="themes">
                        @Html.ActionLink("Control  de Asistencia", "Index", "Asistencia", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Editar Asistencia", "EditarAsistencia", "Asistencia", null, new { @class = "dropdown-item" })
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("Control  de Cuchillos", "Cuchillo", "Asistencia", null, new { @class = "dropdown-item" })
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("Solicitud Permiso", "SolicitudPermiso", "SolicitudPermiso", null, new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Producción</a>
                    <div class="dropdown-menu" aria-labelledby="themes">
                        @Html.ActionLink("Bandeja de Solicitudes", "BandejaProduccion", "SolicitudPermiso", null, new { @class = "dropdown-item" })
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("Solicitud Permiso", "SolicitudPermiso", "SolicitudPermiso", null, new { @class = "dropdown-item" })

                        <a class="dropdown-item" href="#">Opción3</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Recursos Humanos</a>
                    <div class="dropdown-menu" aria-labelledby="themes">
                        @Html.ActionLink("Bandeja de Solicitudes", "BandejaRRHH", "SolicitudPErmiso", null, new { @class = "dropdown-item" })
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Opción2</a>
                        <a class="dropdown-item" href="#">Opción3</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Dispensario Médico</a>
                    <div class="dropdown-menu" aria-labelledby="themes">
                        @Html.ActionLink("Solicitud Permiso", "SolicitudPermisoDispensario", "SolicitudPermiso", null, new { @class = "dropdown-item" })

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Opción2</a>
                        <a class="dropdown-item" href="#">Opción3</a>
                    </div>
                </li>
                <li style="width:100%" id="logoutli">
                    <a class="nav-link" style="float:right" href="/Login/Logout?Length=11">Logout</a>
                </li>

            </ul>
        </div>


    </nav>


    <div style="padding-bottom: 50px" class="container-fluid">
        @RenderBody()

    </div>
    
    <footer>
        <hr />
        <p>&copy; @DateTime.Now.Year - Asiservy S.A</p>
    </footer>
</body>
</html>
