@using Asiservy.Automatizacion.Formularios.Models.Seguridad;
@using Asiservy.Automatizacion.Datos.Datos;
<!DOCTYPE html>
<html>

<head>
   
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Asiservy</title>
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/admin/img/ICO/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/admin/img/ICO/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/admin/img/ICO/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/admin/img/ICO/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/admin/img/ICO/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/admin/img/ICO/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/admin/img/ICO/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/admin/img/ICO/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/admin/img/ICO/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/admin/img/ICO/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/admin/img/ICO/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/admin/img/ICO/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/admin/img/ICO/favicon-16x16.png">
    <link rel="manifest" href="~/Content/admin/img/ICO/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/admin/img/ICO/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <!-- Custom fonts for this template-->
    <link href="~/Content/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Content/admin/css/sb-admin-2.css" rel="stylesheet">

    <link href="~/Content/Layout/Layout.css" rel="stylesheet" />
    <style>
        select {
            text-transform: uppercase
        }
        input[type=text] {
            text-transform: uppercase
        }
        textarea {
            text-transform: uppercase
        }
        td {
            text-transform: uppercase
        }
    </style>

    <!-- select2 -->
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />*@

    <!-- select2-bootstrap4-theme -->
    @*<link href="https://raw.githack.com/ttskch/select2-bootstrap4-theme/master/dist/select2-bootstrap4.css" rel="stylesheet">*@ <!-- for live demo page -->
    @*<link href="select2-bootstrap4.css" rel="stylesheet">*@ <!-- for local development env -->

   
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        @if (User.Identity.IsAuthenticated)
        {
            List<ConsultaOpcionesxRolViewModel> Padre = new List<ConsultaOpcionesxRolViewModel>();

            Padre = (List<ConsultaOpcionesxRolViewModel>)Session["Padre"];
            List<ConsultaOpcionesxRolViewModel> Hijo = new List<ConsultaOpcionesxRolViewModel>();

            Hijo = (List<ConsultaOpcionesxRolViewModel>)Session["Hijo"];

            List<ModuloViewModel> Modulos = new List<ModuloViewModel>();
            Modulos = (List<ModuloViewModel>)Session["Modulos"];

            Version Version = (Version)Session["Version"];

            List<spConsultaNotificacionesSiaa> notificaciones = (List<spConsultaNotificacionesSiaa>)Session["MensajesNotificacionesMenu"];

            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">
                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                    <div class="sidebar-brand-icon">
                        <img class="imgLogoPez" src="~/Content/admin/img/logo_pez_102x102.png" alt="Asiservy" />
                    </div>
                    <div class="sidebar-brand-text mx-3">
                        <img class="imgLogoAsy" src="~/Content/admin/img/logo_512x212.png" alt="Asiservy" />
                    </div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">
                <!-- Divider -->
                <hr class="sidebar-divider">
                @if (Modulos != null)
                {
                    foreach (var MenusModulos in Modulos)
                    {

                        var moduloid = MenusModulos.IdModulo + 100;

                        <li class="nav-item" id="li12">
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse@(moduloid)" aria-expanded="true" aria-controls="collapse@(moduloid)">
                                @if (string.IsNullOrEmpty(MenusModulos.Icono))
                                {
                                    <i class="fas fa-fw fa-cog">

                                    </i>
                                }
                                else
                                {
                                    <i @*class="fas fa-fw fa-cog"*@>
                                        <img src="@MenusModulos.Icono" />
                                    </i>
                                }

                                <span>@MenusModulos.NombreModulo</span>
                            </a>


                            @if (Padre != null)
                            {
                                <div id="collapse@(moduloid)" class="collapse" aria-labelledby="heading@item.Codigo" data-parent="#accordionSidebar">
                                    <div class="bg-white py-2 collapse-inner rounded" style="overflow-y: scroll; max-height:400px">

                                        @foreach (var Menupadre in Padre.Where(x => x.IdModulo == MenusModulos.IdModulo))
                                        {
                                            <h6 class="collapse-header text-primary" style="white-space:normal"><text><b>@Menupadre.Nombre.ToUpper()</b></text></h6>
                                            if (Hijo != null)
                                            {
                                                foreach (var MenuHijo in Hijo.Where(x => x.Padre == Menupadre.IdOpcion))
                                                {
                                                    <div class="">
                                                        @{
                                                            if (notificaciones != null)
                                                            {
                                                                var noti = notificaciones.FirstOrDefault(x => x.Url == MenuHijo.Url);
                                                                if (noti != null)
                                                                {
                                                                    <a class="collapse-item border-top " href="/@MenuHijo.Url"><span class="animacion badge badge-danger">@noti.Cantidad</span> <text style="font-size:10px"> @MenuHijo.Nombre.ToUpper() </text></a>

                                                                }
                                                                else
                                                                {
                                                                    <a class="collapse-item border-top " href="/@MenuHijo.Url"><text style="font-size:10px">@MenuHijo.Nombre.ToUpper()  </text></a>

                                                                }
                                                            }
                                                            else
                                                            {
                                                                <a class="collapse-item border-top " href="/@MenuHijo.Url"><text style="font-size:10px">@MenuHijo.Nombre.ToUpper()  </text></a>

                                                            }
                                                        }

                                                    </div>
                                                }

                                            }
                                            if (Menupadre.IdOpcion != Padre.Where(x => x.IdModulo == MenusModulos.IdModulo).LastOrDefault().IdOpcion)
                                            {
                                                <br />
                                            }
                                        }
                                    </div>
                                </div>

                            }

                        </li>
                    }
                }
                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">
                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>
                <div class="text-center">
                    <span class="badge badge-primary">V.@Version</span>
                </div>
            </ul>

        }

        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column relative1">

            <!-- Main Content -->
            <div id="content">
                @if (User.Identity.IsAuthenticated)
                {

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                        <!-- Topbar Navbar -->
                        @{string BD = (string)Session["BaseDatos"];
                            List<ConsultaOpcionesxRolViewModel> Busqueda = new List<ConsultaOpcionesxRolViewModel>();
                            Busqueda = (List<ConsultaOpcionesxRolViewModel>)Session["Busqueda"];
                        }

                        @*&nbsp; &nbsp;*@
                        @if (Busqueda != null)
                        {

                            <div class="select-box choose-position col-md-4 col-sm-6" style="padding-top:10px;margin-bottom:10px" id="divsearchbtn">
                                @Html.DropDownList("Searchbar", Busqueda.Select(a => new SelectListItem { Value = a.Url, Text = a.Nombre }), "", new { @class = "position-select", @onchange = "cargarvista()" })
                            </div>

                        }



                        <ul class="navbar-nav ml-auto">

                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                    <span style="white-space:normal" class="mr-2 d-none d-lg-inline text-gray-600 small">@User.Identity.Name.Split('_')[0] <br /> <b class="text-primary">@BD</b></span>
                                    <input type="hidden" id="usernameLogin" value="@User.Identity.Name.Split('_')[0]" />
                                    <img class="img-profile rounded-circle" src="~/Content/admin/img/user.png">
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" onclick="CambioClave()" href="#">
                                        <i class="fas fa-key  fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Cambio de Clave
                                    </a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Cerrar sesión
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <!-- End of Topbar -->
                }


                <div class="container-fluid relative1" style="padding-top:5px; padding-left:10px; padding-right:10px">

                    <div class="absolute1" style="" hidden id="response">
                    </div>
                    <span id="TimeLeft"></span>

                    @RenderBody()
                    <div class="loadall" id="cargac" style="z-index:99999"></div>


                </div>
                <!-- Modal -->
                <div class="modal" style="background-color: white;" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" data-backdrop="static" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-body text-center">
                                <div class="text-center">
                                    <div id="" class="text-center">
                                        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                                            <span class="sr-only">Cargando...</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top" id="scrtp">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Frame Modal Bottom -->
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cierre de sesión</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">¿Está seguro de cerrar la sesión actual?.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="../Login/Logout?Length=11">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ModalCambioClave" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background:#2C3E50">
                    <h5 class="modal-title text-white" id="exampleModalLabel">Cambio de clave <img src="~/Content/icons/login.png" alt="Alternate Text" /> </h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Usuario</label>
                                <input class="form-control" readonly type="text" id="txtUsuario2" name="name" value="@User.Identity.Name.Split('_')[0]" />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Clave Actual</label>
                                <input class="form-control" type="password" id="txtClaveActual" name="name" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Nueva Clave</label>
                                <input class="form-control" type="password" id="txtClaveNueva" name="name" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Confirmar Clave</label>
                                @*<input class="form-control" onkeypress="" type="password" id="txtClaveNuevaConfirmar" name="name" value="" />*@
                                <input class="form-control" onkeypress="CambiarClave(event)" type="password" id="txtClaveNuevaConfirmar" name="name" value="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCerrarModal" class="btn btn-outline-dark" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnGuardarCambioClave" onclick="CambiarClave(null)" class="btn btn-outline-primary">Guardar</button>
                    <button hidden id="btnCargando" class="btn btn-light" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Espere...
                    </button>
                    @*<h5 class="text-danger">Nueva opción, pronto estará lista!!</h5>*@
                </div>
            </div>
        </div>
    </div>


    @* MODAL DE AJUSTAR COLUMNAS DEL DATATABLE *@
    <div class="modal" id="ModalColumnas" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Columnas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="">
                    <div class="row" id="ModalBody">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/admin/vendor/jquery/jquery.min.js"></script>

    <script src="~/Content/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script>
        moment.updateLocale('es', {
            months: 'Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre'.split('_'),
            monthsShort: 'Enero._Feb._Mar_Abr._May_Jun_Jul._Ago_Sept._Oct._Nov._Dec.'.split('_'),
            weekdays: 'Domingo_Lunes_Martes_Miercoles_Jueves_Viernes_Sabado'.split('_'),
            weekdaysShort: 'Dom._Lun._Mar._Mier._Jue._Vier._Sab.'.split('_'),
            weekdaysMin: 'Do_Lu_Ma_Mi_Ju_Vi_Sa'.split('_')
        }
        );
    </script>
    @*<script src="~/Scripts/moment.min.js"></script>*@
    <!-- Core plugin JavaScript-->
    <script src="~/Content/admin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Content/admin/js/sb-admin-2.min.js"></script>

    <script src="~/Scripts/General/GeneralJS.js"></script>
    <script src="~/Scripts/Mensajes/Mensajes.js"></script>
    <script src="~/Scripts/select2.js"></script>
    <link href="~/Content/css/select2.css" rel="stylesheet" />
    <script>

        $('#Searchbar').select2({
            //width: '100%',
            placeholder: "Buscar.."
            //theme: "bootstrap4"
        });

        function cargarvista() {
            if ($('#Searchbar').prop('selectedIndex') != 0) {
                window.location.href = "../" + $('#Searchbar').val();
            }

        }
        let $select;
        let optionSelected;
        let select2Closing = false;

        $('select').on('select2:closing', function (event) {
            select2Closing = true;
            $select = $(event.target);
            optionSelected = $('.select2-results__option--highlighted').text();
            setTimeout(function () {
                select2Closing = false;
            }, 1);
        });

        $(document).bind('keydown', function (event) {
            if (event.key === 'Tab' && select2Closing) {
                const val = $select.find('option').filter(function () {
                    return $(this).text() === optionSelected;
                }).first().prop('value');
                $select.val(val);
                $select.trigger('change');
            }
        });
    </script>
    <script>

        //var iStart = 0;
        //var iMinute = 2 //Obtengo el tiempo de session permitida
        //function showTimer() {
        //    iStart = 60;
        //    iMinute -= 1
        //    lessMinutes();
        //}
        //function lessMinutes() {
        //    //Busco mi elemento que uso para mostrar los minutos que le quedan (minutos y segundos)
        //    obj = document.getElementById('TimeLeft');
        //    if (iStart == 0) {
        //        iStart = 60
        //        iMinute -= 1;
        //    }
        //    iStart = iStart - 1;

        //    //Si minuto y segundo = 0 ya expiró la sesion
        //    if (iMinute == 0 && iStart == 0) {
        //        alert("Su sesion ha expirado, sera redireccionado a la página principal");
        //        window.location.href = '<%= Request.ApplicationPath %>' + '/login.aspx';
        //    }
        //    if (iStart < 10)
        //        obj.innerText = iMinute.toString() + ':0' + iStart.toString();
        //    else
        //        obj.innerText = iMinute.toString() + ':' + iStart.toString();
        //    //actualizo mi método cada segundo
        //    window.setTimeout("lessMinutes();", 1000)
        //}

        @{
            var usuario = string.Empty;
            if(!string.IsNullOrEmpty(User.Identity.Name))
            {
                usuario = User.Identity.Name.Split('_')[1];
            }
        }
        var sPath = window.location.pathname;
       // var sPage = sPath.substring(sPath.lastIndexOf('/') + 1);
        var urlOpcion = '@ViewBag.JavaScrip';
        sPath = sPath.substring(1);
      //  console.log(sPath);
     //   console.log(sPage);
       // console.log(urlOpcion);
        sPath = sPath.split("/");
        urlOpcion = urlOpcion.split("/");
        $.ajax({
            url: "../Login/ValidarOpcionUsuario",
            type: "GET",
            data:
            {
                Usuario: '@usuario',
                Opcion: sPath[1]
            },
            success: function (resultado) {
                if (resultado == false) {
                    var url = "../Home/HomeError?Msg=NO TIENE PERMISOS A ESTA PÁGINA";
                    window.location.href = url;
                }
            },
            error: function (resultado) {
                MensajeError(JSON.stringify(resultado), false);
            }
        });

        var Mensajes = {
            "Aprobado": "Aprobado",
            "Pendiente": "Pendiente",
            "SinRegistros": "No se ha generado el control",
            "SinRegistrosRangoFecha": "No se encontraron registros en ese rango de fechas",
            "ReportePendiente": "Reporte aun no ha sido APROBADO.",
            "Error": "Error,Comuniquese con el departamento de sistemas. ",
            "ControlAprobado": "Reporte no puede modificarse ya ha sido Aprobado.",
            "MensajePeriodo": '<span style="font-size:14px" class="badge badge-Light">No se pudo completar la acción, por que el periodo se encuentra cerrado</span>'
        }


        var config = {
            wsUrl: 'http://192.168.0.31:8870',
            baseUrl: '@Url.Content("~/")',
            opcionesDT: {
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "pageLength": "<img style='width:100%' src='../../Content/icons/show24.png' />"
                    }
                },
                "pageLength": 15,
                "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "Todos"]],
                "pagingType": "full_numbers",
                "dom": 'Bfrtip',
                //"scrollX": "auto",
                //"scrollY": "auto",
                "order": [[0, "desc"], [1, "desc"]],
                "buttons": [
                    {
                        extend: 'pageLength',
                        text: ' <img style="width:100%" src="../../Content/icons/show24.png" />',
                        titleAttr: 'Mostrar'
                    }, {
                        extend: 'copyHtml5',
                        text: ' <img style="width:100%" src="../../Content/icons/copy24.png" />',
                        titleAttr: 'Copiar',
                        footer: true
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<img style="width:100%" src="../../Content/icons/excel24.png" />',
                        titleAttr: 'Excel',
                        footer: true
                    },
                    {
                        extend: 'print',
                        text: '<img style="width:100%" src="../../Content/icons/print24.png" />',
                        titleAttr: 'Imprimir',
                        footer: true

                    },
                    {
                        text: '<img id="imgBtnColumnas"  style="width:100%" src="../../Content/icons/justificar24.png" />',
                        titleAttr: 'Ajustar Columnas',
                        action: function (e, dt, node, config) {
                            var value = node[0].getAttribute("aria-controls");
                            MostarModalColumns(value);

                        }
                    },
                    //{
                    //    extend: 'colvis',
                    //    text: '<img style="width:100%" src="../../Content/icons/justificar24.png" />',
                    //    titleAttr: 'Ajustar Columnas'

                    //},


                ]
            }
        }

    </script>

    @if (ViewBag.JqueryRotate != null)
    {
        <script src="~/Scripts/JqueryRotate.js"></script>
    }

    @if (ViewBag.dataTableJS != null)
    {
        <link href="~/Content/DataTables/media/css/dataTables.bootstrap.css" rel="stylesheet" />
        <link href="~/Content/DataTables/media/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
        <link href="~/Content/DataTables/extensions/Buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
        <link href="~/Content/DataTables/extensions/Buttons/css/buttons.dataTables.min.css" rel="stylesheet" />
        <script src="~/Scripts/DataTables/media/js/jquery.dataTables.min.js"></script>
        <script src="~/Scripts/DataTables/media/js/dataTables.bootstrap4.min.js"></script>
        @*<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.colVis.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>



            <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
            <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.js"></script>



            <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
            <script type="text/javascript" src="https://code.highcharts.com/modules/no-data-to-display.js"></script>*@

        <script src="~/Scripts/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
        <script src="~/Scripts/DataTables/extensions/Buttons/js/buttons.flash.min.js"></script>
        <script src="~/Scripts/DataTables/media/js/dataTables.jszip.min.js"></script>
        <script src="~/Scripts/DataTables/extensions/Buttons/js/buttons.html5.min.js"></script>
        <script src="~/Scripts/DataTables/extensions/Buttons/js/buttons.print.js"></script>

        <script src="~/Scripts/General/dataTableJS.js"></script>
    }
    @if (ViewBag.dataTableJS2 != null)
    {
        <link href="~/Content/DataTables/media/css/dataTables.bootstrap.css" rel="stylesheet" />
        <link href="~/Content/DataTables/media/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
        <link href="~/Content/DataTables/extensions/Buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
        <link href="~/Content/DataTables/extensions/Buttons/css/buttons.dataTables.min.css" rel="stylesheet" />
        <script src="~/Scripts/DataTables/media/js/jquery.dataTables.min.js"></script>
        <script src="~/Scripts/DataTables/media/js/dataTables.bootstrap4.min.js"></script>


    }

    @if (ViewBag.summernote == "1")
    {
        <link href="~/Content/summernote/dist/summernote.css" rel="stylesheet" />
        <script src="~/Content/summernote/dist/summernote.js"></script>
        <script src="~/Content/summernote/dist/lang/summernote-es-ES.js"></script>
    }

    @if (ViewBag.DateRangePicker == "1")
    {
        <link href="~/Content/DateRangePicker/daterangepicker.css" rel="stylesheet" />
        <script src="~/Scripts/DateRangePicker/daterangepicker.js"></script>
    }

    @if (ViewBag.Handsontable == "1")
    {
        <link rel="stylesheet" media="screen" href="~/Scripts/Handsontable/dist/handsontable.full.min.css" />
        <script src="~/Scripts/Handsontable/dist/handsontable.full.min.js"></script>
        <script src="~/Scripts/Handsontable/dist/languages/es-MX.js"></script>
        <script src="~/Scripts/excelexportjs.js"></script>
    }

    @if (ViewBag.Pivot == "1")
    {
        <link href="~/Content/webdatarocks/webdatarocks.css" rel="stylesheet" />
        <script src="~/Content/webdatarocks/webdatarocks.toolbar.js"></script>
        <script src="~/Content/webdatarocks/webdatarocks.js"></script>
    }

    @if (ViewBag.Apexcharts == "1")
    {
        <script src="~/Scripts/Apexcharts/dist/apexcharts.min.js"></script>
        <link rel="stylesheet" media="screen" href="~/Scripts/Apexcharts/dist/apexcharts.css" />
    }

    @if (ViewBag.Select2 == "1")
    {

        <script src="~/Scripts/select2.js"></script>

        <link href="~/Content/css/select2.css" rel="stylesheet" />
    }
    @if (ViewBag.FirmaPad == "1")
    {
        <script src="~/Scripts/signature_pad.umd.js"></script>
    }
    @if (ViewBag.MaskedInput == "1")
    {
        <script src="~/Scripts/jquery.maskedinput.min.js"></script>

    }
    @if (ViewBag.MascaraInput == "1")
    {
        <script src="~/Scripts/inputmask/jquery.inputmask.js"></script>
    }
    @if (ViewBag.DateTimePicker == "1")
    {

        <script src="~/Scripts/tempusdominus-bootstrap-4.min.js">


        </script>
        <link href="~/Content/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />



    }
    @if (ViewBag.DxDevWeb == "1")
    {


        <link rel="stylesheet" href="~/Content/dxdevweb/css/dx.common.css" />
        <link rel="stylesheet" href="~/Content/dxdevweb/css/dx.light.css" />

        <script type="text/javascript" src="~/Content/dxdevweb/js/dx.viz-web.js"></script>
        <script type="text/javascript" src="~/Content/dxdevweb/js/dx.messages.es.js"></script>
        <script src="~/Content/dxdevweb/exceljs.min.js"></script>
        <script src="~/Content/dxdevweb/FileSaver.min.js"></script>
    }


    @if (ViewBag.JavaScrip != null)
    {

        <script src="~/Scripts/linq.js"></script>
        string js = ViewBag.JavaScrip;
        string url = "/Scripts/" + js + ".js?v=3.6";
        var res = HttpUtility.UrlDecode(url);
        <script src="@res"></script>
        <script>
            $.fn.select2.defaults.set("theme", "bootstrap4");

        </script>
        <script src="~/Scripts/jquery-ui.min.js">
        </script>

        //SCRIPT PARA COMBOS DE BUSQUEDA
        @*<script src="~/Scripts/select2.js"></script>
            <link href="~/Content/css/select2.css" rel="stylesheet" />*@

    }




    @if (TempData["MensajeConfirmacion"] != null)
    {
        string mensaje = TempData["MensajeConfirmacion"].ToString();
        @mensaje;
        <script>
            MensajeCorrecto("@mensaje", false);

        </script>

    }
    else if (TempData["MensajeError"] != null)
    {
        <script>
              MensajeError("@TempData["MensajeError"].ToString()",false);
        </script>
    }


</body>
</html>

<script>
    function buscarenfermedad() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("buscarenfermedad");
        filter = input.value.toUpperCase();
        table = document.getElementById("tbldiagnostico");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>