
@{
    ViewBag.Title = "ControlPesoEnlatado";
}

<style>
    input, select, textarea {
        max-width: 100%;
    }
</style>

<h3>Control Peso Enlatado</h3>

<input type="hidden" name="name" id="txtIdControlPesoEnlatado" value="" />
<div class="card shadow" id="DivCardCabecera">
    <div class="card-body">
        <div class="row" id="divCabeceraControl">
            <div class="col-md-3 col-6">
                <div class="form-group">
                    <label>Fecha</label>
                    <input type="date" id="txtFechaProduccion" class="form-control" name="name" value="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="CargarControlPesoEnlatado()" />
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="form-group">
                    <label>Turno</label>
                    <select id="txtTurno" class="form-control" onchange="CargarControlPesoEnlatado()">
                        <option value="">Seleccione</option>
                        <option value="A">Turno A</option>
                        <option value="B">Turno B</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="form-group">
                    <label>Peso</label>
                    @Html.DropDownList("selectPeso", new SelectList(ViewBag.Pesos, "Codigo", "Descripcion"), "Seleccione", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="form-group">
                    <label>Linea</label>
                    @Html.DropDownList("selectLinea", new SelectList(ViewBag.Lineas, "Codigo", "Descripcion"), "Seleccione", new { @class = "form-control" })
                </div>
            </div>

            <div class="col-md-4 col-12">
                <div class="form-group">
                    <label>Orden Fabricación</label>
                    <div class="input-group">
                        @Html.TextBox("txtOrdenFabricacion", null, new { style = "width: 75%; border: 1px solid #d1d3e2; border-radius: 0.35rem", @readonly = "readonly" })
                        <button type="button" onclick="" id="btnOrden">
                            <img src="~/Content/images/buscar.png" />
                        </button><br />
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-6">
                <div class="form-group">
                    <label>Orden Venta</label>
                    <input readonly type="text" id="txtOrdenVenta" class="form-control" name="name" value="" />
                </div>
            </div>


            <div class="col-md-4 col-6">
                <div class="form-group">
                    <label>Producto</label>
                    <input type="hidden" id="txtCodigoProducto" name="name" value="" />
                    <input readonly type="text" id="txtProducto" class="form-control" name="name" value="" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding-top:10px; padding-bottom:10px">
    <div class="col-12 text-center">

        <button data-toggle="tooltip" data-placement="top" title="Generar" class="btn" id="btnGenerar" onclick="GuardarControlPesoEnlatado()" style="border-color:#2c3e50" type="button">
            <img style="width:100%" src="~/Content/icons/add24.png" />
        </button>

        <button hidden data-toggle="tooltip" data-placement="top" title="Atras" class="btn" id="btnAtras" onclick="Atras()" style="border-color:#2c3e50" type="button">
            <img style="width:100%" src="~/Content/icons/atras24.png" />
        </button>
        <button hidden data-toggle="tooltip" data-placement="top" title="Eliminar Detalle" class="btn" id="btnInactivarDetalle" style="border-color:#2c3e50" type="button">
            <img style="width:100%" src="~/Content/icons/cancel24.png" />
        </button>

    </div>
</div>


<div class="d-flex justify-content-center">
    <div id="spinnerCargando" hidden class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>


<div class="card shadow" id="DivCard" hidden>
    <div class="card-body">
        <div class="text-center" id="DivMensaje"></div>
        <div id="DivTableControl" class="table-responsive">

        </div>
    </div>
</div>

<div class="row" id="DivCardDetalle" hidden>
    @* DETALLE *@
    <div class="col-sm-12 col-md-6 col-12">
        <div class="card shadow">
            <div class="card-header">
                <div class="row">
                    <div class="col-3">
                        <button hidden data-toggle="tooltip" data-placement="top" title="Guardar" class="btn" id="btnGuardar" onclick="ModalDetalle()" style="border-color:#2c3e50" type="button">
                            <img style="width:100%" src="~/Content/icons/add24.png" />
                        </button>
                    </div>
                    <div class="col-9">
                        <div class="text-center text-primary" id="MensajeDetalleGeneral" hidden></div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="text-center" id="DivMensajeDetalle"></div>
                <div class="d-flex justify-content-center">
                    <div id="spinnerCargandoDetalle" hidden class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div id="DivTableControlDetalle" class="table-responsive">
                </div>
            </div>
        </div>
    </div>
    @* SUBDETALLE *@
    <div class="col-sm-12 col-md-6 col-12 ">
        <div class="card shadow">
            <div class="card-header">
                <div class="row">
                    <div class="col-3">
                        <button data-toggle="tooltip" data-placement="top" title="Guardar" class="btn" id="btnGuardarSub" onclick="ModalSubDetalle()" style="border-color:#2c3e50" type="button">
                            <img style="width:100%" src="~/Content/icons/add24.png" />
                        </button>
                    </div>
                    <div class="col-9">
                        <H5 id="MensajeTituloSubDetalle"> </H5>
                        <input type="hidden" name="name" value="0" id="txtIdControlPesoEnlatadoDetalleCard" />

                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="text-center" id="DivMensajeSubDetalle"></div>
                <div class="d-flex justify-content-center">
                    <div id="spinnerCargandoSubDetalle" hidden class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div id="DivTableControlSubDetalle" class="table-responsive">

                </div>
            </div>
        </div>
    </div>
</div>

<br />
<div class="row">
    <div class="col-12  text-center">
        <input hidden type="button" id="btnEliminarControlPeso" class="btn btn-outline-danger" onclick="ModalEliminar()" name="name" value="Eliminar" />

    </div>
</div>




<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="ModalOrdenes">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ordenes de fabricación</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>Fecha</label>
                            <input type="date" class="form-control" id="txtFechaOrden" name="name" value="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="CargarOrdenFabricacion()" />
                            <p class="text-danger" hidden id="validaFecha">No existen ordenes</p>
                        </div>

                    </div>
                    <div class="col-6">
                        <label>Orden:</label>
                        <select id="SelectOrdenFabricacion" , class="form-control">
                            <option value="0">Seleccione</option>
                        </select>
                        <p class="text-danger" hidden id="validaOrden">Seleccione una orden</p>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" id="modal-orden-si">Aceptar</button>
                <button type="button" class="btn btn-outline-dark" id="modal-orden-no">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="txtEliminar" name="name" value="" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Eliminar Todo el Control de Peso Enlatado</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id="modal-btn-si">Si</button>
                <button type="button" class="btn btn-outline-primary" id="modal-btn-no">No</button>
            </div>
        </div>
    </div>
</div>


@* MODAL ELIMINAR DETALLE *@
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal-detalle">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="txtEliminar" name="name" value="" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Eliminar Detalle del Control de Peso Enlatado</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id="modal-btn-si-detalle">Si</button>
                <button type="button" class="btn btn-outline-primary" id="modal-btn-no-detalle">No</button>
            </div>
        </div>
    </div>
</div>


@* MODAL ELIMINAR SUBDETALLE *@
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal-Subdetalle">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="txtEliminarSub" name="name" value="" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Eliminar Sub-Detalle del Control de Peso Enlatado</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id="modal-btn-si-Subdetalle">Si</button>
                <button type="button" class="btn btn-outline-primary" id="modal-btn-no-Subdetalle">No</button>
            </div>
        </div>
    </div>
</div>

@* MODAL PARA NUEVO PESO ENLATADO DETALLE *@
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="ModalNuevoPesoEnlatadoDetalle">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Peso Enlatado Detalle</h4>
            </div>
            <div class="modal-body">

                <input type="hidden" name="name" id="txtIdControlPesoEnlatadoDetalle" value="0" />
                <div id="divDetalleControl" style="display: none;">
                    <div class="row">

                        <div class="col-12">
                            <div class="form-group">
                                <label>Hora</label>
                                <input type="datetime-local" class="form-control" id="txtHoraDetalle" value="" onchange="" />
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label>Temperatura Agua</label>
                                <input type="number" min="0" class="form-control" id="txtTemperaturaAgua" value="" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Temperatura Aceite</label>
                                <input type="number" min="0" class="form-control" id="txtTemperaturaAceite" value="" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" id="modal-orden-si" onclick="GuardarControlPesoEnlatadoDetalle()">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>




@* MODAL DE NUEVO PESO ENLATADO SUBDETALLE *@

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="ModalNuevoPesoEnlatadoSubDetalle">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Peso Enlatado SubDetalle</h4>
            </div>
            <div class="modal-body">

                <input type="hidden" name="name" id="txtIdControlPesoEnlatadoSubDetalle" value="0" />
                <div id="">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Muestra</label>
                                <input type="number" min="0" class="form-control" id="txtMuestra" value="" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Peso</label>
                                <input type="number" min="0" class="form-control" id="txtPeso" value="" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" id="modal-orden-si" onclick="GuardarControlPesoEnlatadoSubDetalle()">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
