@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.sp_Reporte_Lavado_Desinfeccion_Manos>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>ReporteControlCuchillos</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="itemFilter">
        <label style="font-size:15px" id="lblFechaDesde">Fecha Desde:&nbsp;&nbsp;@ViewBag.filtroFechaDesde.ToString("dd-MM-yyyy")</label>
        <label style="font-size:15px" id="lblFechaHasta">&nbsp;&nbsp;Hasta:&nbsp;&nbsp;@ViewBag.filtroFechaHasta.ToString("dd-MM-yyyy")</label>
    </div>

    <table class="table table-bordered" id="tblDataTable">
        <thead style="height:15px; font-size:16px">
            <tr>
                <th style="border-right:0.4px solid #e3e6f0"></th>
                <th style="border-right:0.4px solid #e3e6f0"></th>
                <th></th>
                <th style="border:0.4px solid #e3e6f0" colspan="5"><center>LIMIEZA DE ATUN</center></th>
                <th><center>EMPAQUE</center></th>
                <th colspan="2" style="border:0.4px solid #e3e6f0"><center>CONSERVAS</center></th>
                <th style="border-right:0.4px solid #e3e6f0"></th>
                <th></th>
            </tr>
            <tr>
                <th style="border-right:0.4px solid #e3e6f0">FECHA</th>
                <th style="border-right:0.4px solid #e3e6f0">
                    HORA
                </th>
                <th>
                    OBSERVACION
                </th>
                @foreach (var item in ViewBag.cabeceraTable)
                {
                    <th style="border:0.4px solid #e3e6f0">
                        @item.Descripcion.ToUpper()
                    </th>
                }
                <th style="border-right:0.4px solid #e3e6f0">APROBADO POR</th>
                <th>ESTADO</th>
            </tr>
        </thead>
        @{
            var listaColumnasCabecera = ViewBag.cabeceraTable;
            var listaHora = (from ssi in Model
                             group ssi by new { ssi.Hora, ssi.Fecha, ssi.Observacion } into g
                             select new { Hora = g.Key.Hora, g.Key.Fecha, g.Key.Observacion, Count = g.Count() }).ToList();
            var ordenColumnasTabla = ViewBag.cabeceraTable;//Aqui obtengo como es el orden de muestreo del detalle ya que la cabecera esta dibujada. linea1, linea 2, etc
        }
        <tbody style="font-size:16px">
            @foreach (var subListaHora in listaHora)
            {
                string usuarioAprobacion = "";
                bool estadoReporte = false;
                var itemColumna = (from x in Model
                                   where x.Hora == subListaHora.Hora
                                   select new { x.IdDesinfeccionManosDetalle, x.IdDesinfeccionManos, x.EstadoCumplimiento, x.CodigoLinea, x.UsuarioModificacionLog, x.EstadoReporteCB }).ToList();
                <tr style="page-break-inside: avoid;">
                    <td>@subListaHora.Fecha.Replace("/", "-")</td>
                    <td>
                        @subListaHora.Hora
                    </td>
                    @if (!string.IsNullOrEmpty(subListaHora.Observacion))
                    {
                        <td>@subListaHora.Observacion.ToUpper()</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @foreach (var lc in listaColumnasCabecera)
                    {
                        int dibujarTDDiNo = 0;
                        foreach (var ic in itemColumna)
                        {
                            if (ic.CodigoLinea == lc.Codigo)
                            {
                                dibujarTDDiNo = 1;
                                if (ic.EstadoCumplimiento == true)
                                {
                                    <td id="@ic.CodigoLinea"> <center><span class="badge badge-success">C</span></center></td>
                                }
                                else if (ic.EstadoCumplimiento == false)
                                {
                                    <td id="@ic.CodigoLinea"> <center><span class="badge badge-danger">N</span></center></td>
                                }
                            }
                            usuarioAprobacion = ic.UsuarioModificacionLog;
                            estadoReporte = ic.EstadoReporteCB;
                        }
                        if (itemColumna.Count != listaColumnasCabecera.Count && dibujarTDDiNo == 0)
                        {
                            <td id="@lc.Codigo"><span class="badge badge-primary">SIN DATOS</span></td>
                        }
                    }
                    <td>@usuarioAprobacion</td>
                    <td>
                        @if (estadoReporte == true)
                        {
                            <span class="badge badge-success">APROBADO</span>
                        }
                        else
                        {
                            <span class="badge badge-danger">PENDIENTE</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
        <tfoot></tfoot>
    </table>

    <div class="row">
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    NO CUMPLE: <span class="badge badge-danger"> N</span><br />
                    CUMPLE: <span class="badge badge-success">C</span><br />
                    FRECUENCIA = <span class="badge badge-info">CADA 2 HORAS</span><br />
                </div>
            </div>
        </div>
    </div>
</body>
</html>

