@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.sp_Calibracion_Fluorometro>
@using Newtonsoft.Json;

@{
    var tablaLista = (from c in Model
                      group c by new { c.IdCalibracionFluor, c.CoeficienteDeterminacion, c.FechaHora, c.UsuarioIngresoLog, c.FechaIngresoLog, c.EstadoReporte } into x
                      orderby x.Key.FechaHora descending
                      select new
                      {
                          x.Key.IdCalibracionFluor,
                          x.Key.CoeficienteDeterminacion,
                          x.Key.FechaHora,
                          x.Key.UsuarioIngresoLog,
                          x.Key.FechaIngresoLog,
                          x.Key.EstadoReporte
                      });
    int conT = 1;
}
<div class="row">
    @foreach (var tabla in tablaLista)
    {

        <div class="col-md-6 col-12 col-sm-12" style="font-size:12px">
            <table class="table table-bordered  table-striped" style="font-size:14px;" id="tblDataTableControl">
                <thead style="font-size:12px">
                    @{
                        var itemList = (from c in Model
                                        where (c.IdCalibracionFluor == tabla.IdCalibracionFluor)
                                        select new
                                        {
                                            c.IdCalibracionFluor,
                                            c.IdEstandar,
                                            c.NombEstandar,
                                            c.IdCalibracionFluorDetalle,
                                            c.ValorEstandar,
                                            c.CoeficienteDeterminacion,
                                            c.FechaHora,
                                            c.EstadoReporte,
                                            c.UsuarioIngresoLog,
                                            c.AprobadoPor,
                                            c.FechaAprobado,
                                            c.FechaIngresoLog
                                        }).ToList();
                        var json = JsonConvert.SerializeObject(itemList);
                        int con = 1;
                        int ce = itemList.Count();
                    }
                    <tr>
                        <th>
                            ESTADO:
                            @if (tabla.EstadoReporte)
                            {
                                <span class="badge badge-success">APROBADO</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">PENDIENTE</span>
                            }
                        </th>
                    </tr>
                </thead>
                <tbody style="font-size:13px;">
                    @foreach (var item in itemList)
                    {
                        if (con == 1)
                        {
                            <tr>
                                <td style="white-space:normal">
                                    <b>COEFICIENTE DETERMINACION:</b>
                                    @if (!string.IsNullOrEmpty(item.CoeficienteDeterminacion))
                                    {
                                        <label style="text-decoration:underline "> @item.CoeficienteDeterminacion.ToUpper()</label>
                                    }
                                </td>
                            </tr>
                        }

                        <tr>
                            <td>
                                <b> @item.NombEstandar.ToUpper() </b>: <label style="text-decoration:underline ">@item.ValorEstandar</label>
                            </td>
                        </tr>

                        if (con == itemList.Count())
                        {
                            <tr> <td style="white-space:normal"><b>FECHA: </b> <label style="text-decoration:underline ">@item.FechaHora.ToString("dd-MM-yyyy")</label><b> HORA: </b> <label style="text-decoration:underline ">@item.FechaHora.ToString("HH:mm") </label></td></tr>
                            <tr> <td style="white-space:normal"><b>ANALISTA: </b><label style="text-decoration:underline ">@item.UsuarioIngresoLog.ToUpper()</label></td></tr>
                            <tr>
                                <td style="white-space:normal"><b>FECHA CREACION:</b> @item.FechaIngresoLog.ToString("dd-MM-yyyy")</td>
                            </tr>
                            <tr>
                                <td style="white-space:normal">
                                    <b>APROBADO POR:</b> @item.AprobadoPor
                                </td>
                            </tr>
                            <tr>
                                <td style="white-space:normal">
                                    <b>FECHA APROBADO:</b>
                                    @{ DateTime date = Convert.ToDateTime(item.FechaAprobado);}
                                    @if (date != DateTime.MinValue)
                                    {
                                        @date.ToString("dd-MM-yyyy HH:mm")
                                    }
                                </td>
                            </tr>
                        }
                        con++;
                    }
                </tbody>
            </table>
        </div>

        if (conT == 4)
        {
            @:</div>
            <div class="pagebreak"></div>
            @:<div class="row">
            conT = 0;
        }
        conT++;
}
</div>

