@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.sp_Control_Lavado_Cisterna>


<table class="table table-bordered" tabindex="1" id="tblDataTable">
    <thead style="font-size:11px">
        <tr>
            <th>FECHA</th>
            <th>Nº CISTERNA</th>
            <th>QUIMICOS UTILIZADOS</th>
            <th>OBSERVACIONES</th>
            <th>CREADO POR</th>
            <th>F. CREACION</th>
            <th>MODIFICADO POR</th>
            <th>F. MODIFICACION</th>
            <th>PROBADO POR</th>            
            <th>F. APROBACION</th>
            <th>ESTADO</th>
        </tr>
    </thead>
    @{
        var listaFiltrada = (from c in Model
                             group c by new
                             { c.IdLavadoCisterna,
                                 c.Fecha,
                                 c.QuimUtilizados,
                                 c.Observacion,
                                 c.UsuarioIngresoLog,
                                 c.fechaCreacion,
                                 c.AprobadoPor,
                                 c.FechaAprobado,
                                 c.EstadoReporteCab,
                                 c.fechaModificacion,
                                 c.UsuarioModCab
                             } into f
                             select new { f.Key.IdLavadoCisterna,
                                 f.Key.Fecha,
                                 f.Key.QuimUtilizados,
                                 f.Key.Observacion,
                                 f.Key.UsuarioIngresoLog,
                                 f.Key.fechaCreacion,
                                 f.Key.AprobadoPor,
                                 f.Key.FechaAprobado,
                                 f.Key.EstadoReporteCab,
                                 f.Key.UsuarioModCab,
                                 f.Key.fechaModificacion
                             }).ToList();
    }
    <tbody style="font-size:10px">
        @foreach (var item in listaFiltrada)
        {
            var listaNDescripcion = (from c in Model
                                     where item.IdLavadoCisterna == c.IdLavadoCisterna
                                     select new { c.NDescripcion }).ToList();
            string nDescripcion = "";
            foreach (var nd in listaNDescripcion)
            {
                nDescripcion += nd.NDescripcion + ",";
            }

            <tr>

                <td>@item.Fecha.ToString("dd-MM-yyyy")</td>

                <td>@nDescripcion</td>
                <td style="white-space:normal;width:350px">@item.QuimUtilizados.ToUpper()</td>

                @if (!string.IsNullOrEmpty(item.Observacion))
                {
                    <td style="white-space:normal;">@item.Observacion.ToUpper()</td>
                }
                else
                {
                    <td></td>}
                <td>@item.UsuarioIngresoLog</td>
                <td>@item.fechaCreacion.Replace("/", "-")</td>
                <td>@item.UsuarioModCab</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.fechaModificacion))
                    {
                        @item.fechaModificacion.Replace("/", "-")
                    }
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.AprobadoPor))
                    {
                        @item.AprobadoPor.ToUpper()
                    }
                </td>
                <td>
                    @{ DateTime date = Convert.ToDateTime(item.FechaAprobado);}
                    @if (date!= DateTime.MinValue)
                    {
                        @date.ToString("dd-MM-yyyy HH:mm")
                    }
                </td>
                <td>
                    @if (item.EstadoReporteCab)
                    {
                        <span class="badge badge-success">APROBADO</span>
                    }
                    else
                    { <span class="badge badge-danger">PENDIENTE</span>}
                </td>
            </tr>
        }
    </tbody>
</table>