@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.sp_Control_Lavado_Cisterna>


<table class="table table-bordered" tabindex="1" id="tblDataTable">
    <thead>
        <tr>
            <th>FECHA</th>
            <th>Nº CISTERNA</th>
            <th>QUIMICOS UTILIZADOS</th>
            <th>OBSERVACIONES</th>
            <th>PROBADO POR</th>
            <th>ESTADO</th>
        </tr>
    </thead>
    @{
        var listaFiltrada = (from x in Model
                             group x by new { x.IdLavadoCisterna } into f
                             select new { f.Key.IdLavadoCisterna }).ToList();
    }
    <tbody style="font-size:14px">
        @foreach (var item in listaFiltrada)
        {
            string idMantCisterna = ""; DateTime fecha = new DateTime(1900, 01, 01); string quimUtilizados = ""; string observacion = "";
            string NDescripcion = ""; string usuarioM = ""; bool estadoReporte = false;
            <tr>
                @foreach (var subItem in Model)
                {
                    if (item.IdLavadoCisterna == subItem.IdLavadoCisterna)
                    {
                        idMantCisterna += subItem.IdMantCisterna + "; ";
                        NDescripcion += subItem.NDescripcion + ";";
                        fecha = subItem.Fecha;
                        quimUtilizados = subItem.QuimUtilizados;
                        observacion = subItem.Observacion;
                        usuarioM = subItem.UsuarioModCab;
                        estadoReporte = subItem.EstadoReporteCab;
                    }
                }
                <td>@fecha.ToString("dd-MM-yyyy")</td>
                <td>@NDescripcion.ToUpper()</td>
                <td>@quimUtilizados.ToUpper()</td>
                
                @if (!string.IsNullOrEmpty(observacion))
                {
                    <td>@observacion.ToUpper()</td>
                }
                else { <td></td>}

                @if (!string.IsNullOrEmpty(usuarioM))
                {
                       <td>@usuarioM.ToUpper()</td>
                }
                else { <td></td>}
                <td>
                    @if (estadoReporte) {
                        <span class="badge badge-success">APROBADO</span>
                    }
                    else { <span class="badge badge-danger">PENDIENTE</span>}
                </td>
            </tr>
        }
    </tbody>
</table>
@*<script src="~/Scripts/General/dataTableJS.js"></script>*@