@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.sp_Limpieza_Desinfeccion_Planta>
@using Newtonsoft.Json;
@{
    var listaTablas = (from v in Model
                       group v by new { v.IdAuditoria, v.NombreAuditoria, v.HoraAuditoria, v.Turno } into x
                       orderby x.Key.HoraAuditoria descending
                       select new { x.Key.IdAuditoria, x.Key.NombreAuditoria, x.Key.HoraAuditoria, x.Key.Turno }).ToList();

    IEnumerable<Asiservy.Automatizacion.Datos.Datos.sp_Limpieza_Desinfeccion_Planta> jsonModel;
}

@foreach (var tabla in listaTablas)
{
    <div class="card table-responsive">
        <div class="row">
            <div style="font-size:13px;margin-left:5px" class="float-md-right col-md-3 col-12 col-sm-12">
                @if (!string.IsNullOrEmpty(tabla.Turno))
                {
                    <b>@tabla.Turno.Replace("_", " ").ToUpper()</b>
                }<br />
                <b>FECHA-HORA:</b><br /> @tabla.HoraAuditoria.ToString("dd-MM-yyyy HH:mm")
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead style="font-size:11px">
                <tr>
                    <th>
                        @tabla.NombreAuditoria.ToUpper()<br />
                    </th>
                    <th>
                        LIMPIEZA
                    </th>
                    <th>
                        DESINFECCION
                    </th>
                    <th>
                        OBSERVACION
                    </th>
                    <th>
                        HORA_AC
                    </th>
                    <th>
                        ACCION CORRECTIVA
                    </th>
                    <th>
                        SUPERVISOR
                    </th>
                </tr>
            </thead>
            <tbody style="font-size:10px">
                @foreach (var item in Model)
                {
                    if (tabla.IdAuditoria == item.IdAuditoria && tabla.HoraAuditoria == item.HoraAuditoria)
                    {
                        <tr>
                            <td style="white-space:normal">
                                @item.NombreObjeto.ToUpper()
                            </td>
                            <td style="text-align:center">
                                @item.Limpieza
                            </td>
                            <td style="text-align:center;">
                                @item.Desinfeccion
                            </td>
                            <td style="white-space:normal;">
                                @if (!string.IsNullOrEmpty(item.ObservacionDetalle))
                                {
                                    @item.ObservacionDetalle.ToUpper()
                                }
                            </td>
                            <td>
                                @{DateTime date = Convert.ToDateTime(item.HoraAccionCorrectiva);}
                                @if (date != DateTime.MinValue)
                                {
                                    @date.ToString("HH:mm")
                                }
                            </td>
                            <td style="white-space:normal">
                                @if (!string.IsNullOrEmpty(item.AccionCorrectiva))
                                {
                                    @item.AccionCorrectiva.ToUpper()
                                }
                            </td>
                            <td>
                                @item.PersonaAccionCorrectiva
                            </td>                            
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    jsonModel = Model.Where(v => v.IdAuditoria == tabla.IdAuditoria && v.HoraAuditoria == tabla.HoraAuditoria).ToList();

    <div class="row" style="margin:3px">
        @foreach (var item in jsonModel)
        {
            if (item.RutaFoto != null)
            {
                <div class="text-center" style="width:240px;border:1px solid;border-radius:20px;margin:3px">
                    <div id="header_@item.IdDetalle">
                        <img src="@ViewBag.Path@item.RutaFoto" id="@item.IdDetalle" onclick="window.open(this.src)" class="card-img-bottom" alt="...">
                    </div>
                    <script>
                            validarImg('@item.Rotation','@item.IdDetalle','@item.RutaFoto');
                    </script>
                    <div>
                        <label class="card-text" style="color:black; font-size:11px"><b>OBJETO AUDITADO: </b> @item.NombreObjeto.ToUpper()</label><br />
                        <label class="card-text" style="color:black;font-size:11px"><b>ACCION CORRECTIVA: </b> @item.AccionCorrectiva.ToUpper()</label>
                    </div>
                </div>
            }
        }
    </div><br /><br />

}
                <input type="hidden" class="btn btn-primary" value="@ViewBag.Path" id="btnPath" />
    <style>
        img {
            border: 1px solid #ddd;
            border-radius: 20px;
            padding: 5px;
            max-height: 250px;
        }

            img:hover {
                box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
            }
    </style>