@model IEnumerable<Asiservy.Automatizacion.Formularios.Models.Asistencia.ControlCuchilloViewModel>


<table class="table table-bordered" style="width:100%" id="TableControlCuchilloPartial">
    <thead>
        <tr>
            <th>Cédula</th>
            <th>Empleado</th>
            <th>Observación</th>
            <th>
                <div class="text-center">

                    <img class="imageCuchillo img-fluid" src="~/Content/images/cuchillo03.png" />
                </div>
            </th>
            <th>
                <div class="text-center">
                    <img class="imageCuchillo img-fluid" src="~/Content/images/cuchillo01.png" />
                </div>
            </th>
            <th hidden>
                <div class="text-center">

                    <img class="imageCuchillo img-fluid" src="~/Content/images/cuchillo02.png" />
                </div>
            </th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var x in Model)
            {
                <tr>
                    <td>@x.Cedula</td>
                    <td>@x.Nombre</td>
                     @if (x.ValidaBlanco=="1" || x.ValidaRojo=="1")
                     {
                         <td><input readonly id="txtObservacion-@x.Cedula" type="text" name="name" class="form-control" value="@x.Observacion" /></td>
                     }
                     else
                     {
                         <td><input  id="txtObservacion-@x.Cedula" type="text" name="name" class="form-control" value="@x.Observacion" /></td>
                     }
                    <td class="text-center">
                        @if (x.CuchilloBlanco != 0)
                        {
                            <div class="col-xs-2 text-xs-center">
                                <div class="custom-control custom-switch">
                                    @Html.CheckBox("Blanco" + x.CuchilloBlanco, x.ValidaBlanco == "1", new { @onchange = "check(this.id,'B','" + x.Cedula + "')" , @class = "custom-control-input" })                                    
                                    <label class="custom-control-label" for=@("Blanco"+x.CuchilloBlanco) id="LabelFecha">  @x.CuchilloBlanco</label>
                                </div>                             
                            </div>                          

                        }
                        else
                        {
                            <div class="col-xs-2 text-xs-center">
                                <div class="custom-control custom-switch">
                                    @Html.CheckBox("Blanco" + x.CuchilloBlanco, false, new { @onchange = "check(this.id,'B','" + x.Cedula + "')", @disabled = "disabled", @class = "custom-control-input" })
                                    <label class="custom-control-label" for=@("Blanco"+x.CuchilloBlanco) id="LabelFecha">  @x.CuchilloBlanco</label>
                                </div>                            
                            </div>
                        }


                    </td>
                    <td class="text-center">
                        @if (x.CuchilloRojo != 0)
                        {
                            <div class="col-xs-2 text-xs-center">
                                <div class="custom-control custom-switch">
                                    @Html.CheckBox("Rojo" + x.CuchilloRojo, x.ValidaRojo == "1", new { @onchange = "check(this.id,'R','" + x.Cedula + "')", @class = "custom-control-input" })
                                    <label class="custom-control-label" for=@("Rojo"+x.CuchilloRojo) id="LabelFecha">  @x.CuchilloRojo</label>
                                </div>
                            </div>                          
                        }
                        else
                        {
                            <div class="col-xs-2 text-xs-center">
                                <div class="custom-control custom-switch">
                                    @Html.CheckBox("Rojo" + x.CuchilloRojo, false, new { @disabled = "disabled", @onchange = "check(this.id,'R','" + x.Cedula + "')", @class = "custom-control-input" })
                                    <label class="custom-control-label" for=@("Rojo"+x.CuchilloRojo) id="LabelFecha">  @x.CuchilloRojo</label>
                                </div>
                                
                                
                            </div>
                        }
                    </td>
                    <td class="text-center" hidden>
                        @if (x.CuchilloNegro != 0)
                        {
                        <div class="col-xs-2 text-xs-center">
                            <div class="custom-control custom-switch">
                                @Html.CheckBox("Negro" + x.CuchilloNegro, x.ValidaNegro == "1", new { @onchange = "check(this.id,'N','" + x.Cedula + "')", @class = "custom-control-input" })
                                <label class="custom-control-label" for=@("Negro"+x.CuchilloNegro) id="LabelFecha">  @x.CuchilloNegro</label>
                            </div>

                        </div>
                            @*if (x.ValidaNegro == "1")
                            {
                                <script>
                                    $("#labelCuchilloNegro_@x.CuchilloNegro").css("background", "#28B463");
                                </script>
                            }*@
                        }
                        else
                        {
                        <div class="col-xs-2 text-xs-center">
                            <div class="custom-control custom-switch">
                                @Html.CheckBox("Negro" + x.CuchilloNegro, false, new { @disabled = "disabled", @onchange = "check(this.id,'N','" + x.Cedula + "')", @class = "custom-control-input" })
                                <label class="custom-control-label" for=@("Blanco"+x.CuchilloNegro) id="LabelFecha">  @x.CuchilloNegro</label>
                            </div>
                            
                        </div>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>





<script>

    $('#TableControlCuchilloPartial').DataTable({
        "language": {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        },
       
      
        "paging": false,
        "ordering": false,
        "info": false

    });
</script>