@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaReporteControlCuchillo>

<table class="table table-bordered table" id="tblDataTable">
    <thead>
        <tr>
            <th rowspan="2">
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th rowspan="2">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th class="text-center" colspan="2">
                <label>Entrada</label>
            </th>
            <th class="text-center" colspan="2" style="background:#F0F8FF">
                <label>Almuerzo</label>
            </th>
            <th class="text-center" colspan="2">
                <label>Regreso</label>
            </th>
            <th class="text-center" colspan="2" style="background:#F0F8FF">
                <label>Salida</label>
            </th>
        </tr>
        <tr>
            <th class="text-center">
                <label>Blanco</label>
            </th>
            <th class="text-center">
                <label>Rojo</label>
            </th>
            <th class="text-center" style="background:#F0F8FF">
                <label>Blanco</label>
            </th>
            <th class="text-center" style="background:#F0F8FF">
                <label>Rojo</label>
            </th>
            <th class="text-center">
                <label>Blanco</label>
            </th>
            <th class="text-center">
                <label>Rojo</label>
            </th>
            <th class="text-center" style="background:#F0F8FF">
                <label>Blanco</label>
            </th>
            <th class="text-center" style="background:#F0F8FF">
                <label>Rojo</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td style="">
                    @if (item.EVBlanco == "1")
                    {

                        <div class="col-xs-2 text-xs-center">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="Blanco-@item.ECBlanco" value="" disabled checked />
                                <label class="custom-control-label" for=@("Blanco-" + item.ECBlanco) id="LabelFecha">  @item.ECBlanco</label>
                            </div>
                        </div>

                    }
                    else
                    {
                        <div class="col-xs-2 text-xs-center">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="Blanco-@item.ECBlanco" value="" disabled />
                                <label class="custom-control-label" for=@("Blanco-" + item.ECBlanco) id="LabelFecha">  @item.ECBlanco</label>
                            </div>
                        </div>                      
                    }
                </td>

                <td>
                    @if (item.EVRojo == "1")
                    {

                        <div class="col-xs-2 text-xs-center">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="Rojo-@item.ECRojo" value="" disabled checked />
                                <label class="custom-control-label" for=@("Rojo-" + item.ECRojo) id="LabelFecha">  @item.ECRojo</label>
                            </div>
                        </div>

                    }
                    else
                    {
                        <div class="col-xs-2 text-xs-center">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="Rojo-@item.ECRojo" value="" disabled />
                                <label class="custom-control-label" for=@("Rojo-" + item.ECRojo) id="LabelFecha">  @item.ECRojo</label>
                            </div>
                        </div>
                    }
                </td>
                @* Almuerzo *@
                <td style="background:#F0F8FF">
                    @if (item.AVBlanco == "1")
                    {
                        <div class="col-xs-2 text-xs-center">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="ACBlanco-@item.ACBlanco" value="" disabled checked />
                                <label class="custom-control-label" for=@("ACBlanco-" + item.ACBlanco) id="LabelFecha">  @item.ACBlanco</label>
                            </div>
                        </div>


                    }
                    else
                    {
                        <div class="col-xs-2 text-xs-center">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="ACBlanco-@item.ACBlanco" value="" disabled  />
                                <label class="custom-control-label" for=@("ACBlanco-" + item.ACBlanco) id="LabelFecha">  @item.ACBlanco</label>
                            </div>
                        </div>
                    }
                </td>
                <td style="background:#F0F8FF">
                    @if (item.AVRojo == "1")
                    {
                        <div class="col-xs-2 text-xs-center">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="ACRojo-@item.ACRojo" value="" disabled checked />
                                <label class="custom-control-label" for=@("ACRojo-" + item.ACRojo) id="LabelFecha">  @item.ACRojo</label>
                            </div>
                        </div>

                    }
                    else
                    {
                        <div class="col-xs-2 text-xs-center">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="ACRojo-@item.ACRojo" value="" disabled  />
                                <label class="custom-control-label" for=@("ACRojo-" + item.ACRojo) id="LabelFecha">  @item.ACRojo</label>
                            </div>
                        </div>
                    }
                </td>


                @* Regreso *@
                <td>
                    @if (item.RVBlanco == "1")
                    {
                        <div class="col-xs-2 text-xs-center">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="RCBlanco-@item.RCBlanco" value="" disabled checked />
                                <label class="custom-control-label" for=@("RCBlanco-" + item.RCBlanco) id="LabelFecha">  @item.RCBlanco</label>
                            </div>
                        </div>

                    }
                    else
                    {
                        <div class="col-xs-2 text-xs-center">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="RCBlanco-@item.RCBlanco" value="" disabled  />
                                <label class="custom-control-label" for=@("RCBlanco-" + item.RCBlanco) id="LabelFecha">  @item.RCBlanco</label>
                            </div>
                        </div>
                    }
                </td>
                <td>
                    @if (item.RVRojo == "1")
                    {
                        <div class="col-xs-2 text-xs-center">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="RCRojo-@item.RCRojo" value="" disabled checked />
                                <label class="custom-control-label" for=@("RCRojo-" + item.RCRojo) id="LabelFecha">  @item.RCRojo</label>
                            </div>
                        </div>

                    }
                    else
                    {
                        <div class="col-xs-2 text-xs-center">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="RCRojo-@item.RCRojo" value="" disabled  />
                                <label class="custom-control-label" for=@("RCRojo-" + item.RCRojo) id="LabelFecha">  @item.RCRojo</label>
                            </div>
                        </div>

                    }
                </td>


                @* Salida *@
                <td style="background:#F0F8FF">
                    @if (item.SVBlanco == "1")
                    {
                        <div class="col-xs-2 text-xs-center">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="SCBlanco-@item.SCBlanco" value="" disabled checked />
                                <label class="custom-control-label" for=@("SCBlanco-" + item.SCBlanco) id="LabelFecha">  @item.SCBlanco</label>
                            </div>
                        </div>


                    }
                    else
                    {
                        <div class="col-xs-2 text-xs-center">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="SCBlanco-@item.SCBlanco" value="" disabled />
                                <label class="custom-control-label" for=@("SCBlanco-" + item.SCBlanco) id="LabelFecha">  @item.SCBlanco</label>
                            </div>
                        </div>

                    }
                </td>
                <td style="background:#F0F8FF">
                    @if (item.SVRojo == "1")
                    {
                        <div class="col-xs-2 text-xs-center">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="SCRojo-@item.SCRojo" value="" disabled checked />
                                <label class="custom-control-label" for=@("SCRojo-" + item.SCRojo) id="LabelFecha">  @item.SCRojo</label>
                            </div>
                        </div>


                    }
                    else
                    {
                        <div class="col-xs-2 text-xs-center">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="SCRojo-@item.SCRojo" value="" disabled/>
                                <label class="custom-control-label" for=@("SCRojo-" + item.SCRojo) id="LabelFecha">  @item.SCRojo</label>
                            </div>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
    <thead>
        @{ foreach (var item in Model)
            {
                if (!string.IsNullOrEmpty(item.ObservacionEntrada) || !string.IsNullOrEmpty(item.ObservacionAlmuerzo) || !string.IsNullOrEmpty(item.ObservacionRegreso) || !string.IsNullOrEmpty(item.ObservacionSalida))
                {
                     <tr>
                         <td colspan="10">
                             <p style="margin-bottom:0px; margin-top:10px">@item.Nombre:</p>
                             @{
                                 if (!string.IsNullOrEmpty(item.ObservacionEntrada))
                                 {
                                  <b>  Entrada:</b>@item.ObservacionEntrada
                                 }
                                 if (!string.IsNullOrEmpty(item.ObservacionAlmuerzo))
                                 {
                                   <b>  Almuerzo:</b>@item.ObservacionAlmuerzo
                                 }
                                 if (!string.IsNullOrEmpty(item.ObservacionRegreso))
                                 {
                                    <b>  Regreso:</b>@item.ObservacionRegreso
                                 }
                                 if (!string.IsNullOrEmpty(item.ObservacionSalida))
                                 {
                                      <b>  Salida:</b>@item.ObservacionSalida
                                 }
                             }

                           
                         </td>
                    </tr>
                }
            }
        }
    </thead>
</table>

<script src="~/Scripts/General/dataTableJS.js"></script> 