
@{
    ViewBag.Title = "ReporteControluchillo";
}
<style>
    input, select, textarea {
        max-width:  100%;
    }

    .custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before {
        background-color: rgb(1, 34, 75);
    }
</style>
<h4>Reporte Control Cuchillo</h4>

<div class="container-fluid">

    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label>Fecha</label>
                <input type="date" class="form-control" name="name" value="@DateTime.Now.Date.ToString("yyyy-MM-dd")" id="txtFecha" />
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>Linea</label>
                @if (ViewBag.SupervisorGeneral != null)
                {
                    @Html.DropDownList("Linea", new SelectList(ViewBag.Lineas, "Codigo", "Descripcion"), "Seleccione", new { @class = "form-control", @id = "selectLinea" })
                }
                else
                {
                    @Html.DropDownList("Linea", new SelectList(ViewBag.Lineas, "Codigo", "Descripcion", ViewBag.LineaEmpleado), "Seleccione", new { @class = "form-control", @readonly = "@readonly", @onchange = "CambioLinea(this.id)", @id = "selectLinea" })
                    <script>
                    function CambioLinea(id) {
                        $('#' + id).val('@ViewBag.LineaEmpleado');
                    }
                    </script>

                }
            </div>

        </div>
        <div class="col-4">
            <label>Acciones</label>
            @*<input type="button" onclick="CargarReporteControlCuchillo()" class="btn btn-primary" name="name" value="Consultar" />*@
            <div class="form-group">
                <button data-toggle="tooltip" data-placement="top" title="Consultar" class="btn" id="Nuevo" onclick="CargarReporteControlCuchillo()" style="border-color:#2c3e50" type="button">
                    <img style="width:100%" src="~/Content/icons/ver24.png" />
                </button>
            </div>
        </div>
    </div>


    <hr />
    <div id="spinnerCargando" hidden class="text-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive" id="DivTableControlCuchillo"></div>
    </div>

</div>
