
@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaControlHoraMaquinaDetalle>
@using Newtonsoft.Json;
<table class="table-bordered table-hover table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Autoclave)
            </th>
            <th>
                <label>Inicio</label>
            </th>
            <th>
                <label>Fin</label>
            </th>
            <th>
                <label>Total Horas</label>
            </th>
            <th>
                <label>Coches</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>

        </tr>
    </thead>
    <tbody>
        @{

            foreach (var item in Model)
            {
                string json = JsonConvert.SerializeObject(item);
                <tr onclick="SeleccionarControlDetalle(@json)">
                    <td>
                       #@Html.DisplayFor(modelItem => item.Autoclave)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaFin)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalHoras)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalCoches)


                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Observacion)

                    </td>

                </tr>
            }

        }
    </tbody>
</table>
