
@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaControlHoraMaquinaDetalle>

<table class="table-bordered table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.Autoclave)
            </th>
            <th>
                <label>Inicio</label>
            </th>
            <th>
                <label>Fin</label>
            </th>
            <th>
                <label>Total Horas</label>
            </th>
            <th>
                <label>Coches</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (ViewBag.Autoclaves != null)
            {
                foreach (var item in ViewBag.Autoclaves)
                {
                    var m = Model.FirstOrDefault(x => x.Autoclave == int.Parse(item.Codigo));
                    string auto = item.Codigo;
        <tr>           
            <td>
                <input type="text" class="form-control" style="width:80px" readonly name="name" value="@item.Codigo" />
            </td>
            <td>
                @if (m != null)
                {
                    <input disabled type="datetime-local" class="form-control" id="txtFechaInicio-@item.Codigo" value="@m.FechaInicio.Value.ToString("yyyy-MM-ddTHH:mm")" onchange="CalculoTiempo(@item.Codigo)" />
                }
                else
                {
                    <input type="datetime-local" class="form-control" id="txtFechaInicio-@item.Codigo" value="@ViewBag.Fecha.ToString("yyyy-MM-ddTHH:mm")" onchange="CalculoTiempo(@item.Codigo)"/>
                }
            </td>
            <td>
                @if (m != null)
                {
                    <input disabled type="datetime-local" class="form-control" id="txtFechaFin-@item.Codigo" value="@m.FechaFin.Value.ToString("yyyy-MM-ddTHH:mm")"onchange="CalculoTiempo(@item.Codigo)" />
                }
                else
                {
                    <input type="datetime-local" class="form-control" id="txtFechaFin-@item.Codigo" value="@ViewBag.Fecha.ToString("yyyy-MM-ddTHH:mm")" onchange="CalculoTiempo(@item.Codigo)"/>
                }
            </td>
            <td>
                @if (m != null)
                {
                    <input disabled type="text" class="form-control" id="txtTotalHoras-@item.Codigo" value="@m.TotalHoras" />
                }
                else
                {
                    <input disabled type="text" class="form-control" id="txtTotalHoras-@item.Codigo" value="00:00" />
                }
            </td>
            <td>
                @if (m != null)
                {
                    <input disabled type="number" min="0" class="form-control" id="txtTotalCoche-@item.Codigo" value="@m.TotalCoches" />
                }
                else
                {
                    <input type="number" min="0" class="form-control" id="txtTotalCoche-@item.Codigo" value="0" />
                }

            </td>
            <td>
                @if (m != null)
                {
                    <input disabled type="text" maxlength="100" class="form-control" id="txtObservacion-@item.Codigo" value="@m.Observacion" />
                }
                else
                {
                    <input type="text" maxlength="100" class="form-control" id="txtObservacion-@item.Codigo" value="" />
                }

            </td>
            <td>
                <div class="col-xs-2 text-xs-center">
                    <div class="custom-control custom-switch">                       
                        @Html.CheckBox("HoraMaquina" + auto, m!=null, new { @onchange = "check(this.id,'" + auto + "')", @class = "custom-control-input" })
                        <label class="custom-control-label" for=@("HoraMaquina" + auto) id="LabelFecha"></label>
                    </div>

                </div>
            </td>

        </tr>
                }
            }
        }
    </tbody>
</table>
