
@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaControlHoraMaquinaDetalle>
@using Newtonsoft.Json;
<table class="table-bordered table-hover table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Autoclave)
            </th>
            <th>
                <label>Inicio</label>
            </th>
            <th>
                <label>Fin</label>
            </th>
            <th>
                <label>Total Horas</label>
            </th>
            <th>
                <label>Coches</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>

        </tr>
    </thead>
    <tbody>
        @{
            TimeSpan TotalHoras = new TimeSpan();
            int TotalCoches = 0;
            int TotalAutoclaves = 0;
            foreach (var item in Model)
            {
                string json = JsonConvert.SerializeObject(item);
                <tr onclick="SeleccionarControlDetalle(@json)">
                    <td>
                        #@Html.DisplayFor(modelItem => item.Autoclave)
                        @{ TotalAutoclaves += 1;}
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaFin)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalHoras)
                        @{
                            TotalHoras = TotalHoras + item.TotalHoras ?? new TimeSpan();

                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalCoches)

                        @{
                            TotalCoches = TotalCoches + item.TotalCoches;
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Observacion)

                    </td>

                </tr>
            }

        }
    </tbody>
    <thead>
        <tr>
            <th style="color:#3679ce">@TotalAutoclaves</th>
            <th></th>
            <th></th>
            <th style="color:#3679ce">@TotalHoras</th>
            <th style="color:#3679ce">@TotalCoches</th>
            <th></th>
        </tr>
    </thead>
</table>
