@model IEnumerable<Asiservy.Automatizacion.Formularios.AccesoDatos.BLZ.RegistroDescongeladoEmparrilladoMP>
@using Asiservy.Automatizacion.Datos.Datos;
@using Newtonsoft.Json;

@{ 
    var Control = ViewBag.Control as List<spConsultaMonitoreoDescongelado>;
    var Tipo = ViewBag.Tipo as List<CC_MANTENIMIENTO_TIPO_DESCONGELADO>;

}

<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr class="text-center">
            @if (Tipo != null) {
                foreach (var t in Tipo)
                {
                <th>@t.Abreviatura</th>
                }
            }         
            <th>
                Tanque
            </th>
            <th>
                Lote
            </th>
            <th>
                Especie
            </th>
            <th>
                Talla
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var json = JsonConvert.SerializeObject(item);
          


        <tr onclick="SeleccionarControl(@json)" class="text-center">
             @if (Tipo != null)
             {
                foreach (var t in Tipo)
                {
                    var control = Control.FirstOrDefault(x => x.Tanque == item.U_SYP_TANQUE && x.IdTipoMonitoreo == t.IdTipoMonitoreo);

                    if (control != null)
                    {
                        <td>
                            <i class="fas fa-check-circle" style="color: dodgerblue"></i>
                        </td>
                    }
                    else
                    {
                        <td>
                            <i class="fas fa-check-circle" style="color: darkgray"></i>
                        </td>
                    }
                }
             }

            <td>
                @Html.DisplayFor(modelItem => item.U_SYP_TANQUE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.U_SYP_LOTE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.U_SYP_ESPECIE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.U_SYP_TALLA)
            </td>
        </tr>
        }
    </tbody>
</table>
