@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaControlHueso>
@using Newtonsoft.Json;
<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th>
                <label>Id</label>
            </th>

            <th>
                <label>Inicio</label>
            </th>
            <th>
                <label>Fin</label>
            </th>
            <th>
                <label>Tipo Control</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lote)
            </th>
            <th>
                <label>Orden Fabricación</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var FechaProduccion = item.Fecha.Value.ToString("yyyy-MM-dd");
            string json = JsonConvert.SerializeObject(item);
            <tr onclick="SeleccionControlHueso(@json)">
            
                <td>
                    @Html.DisplayFor(modelItem => item.IdControlHueso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoControlHueso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrdenFabricacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacion)
                </td>

            </tr>
            }
        </tbody>
</table>

<script src="~/Scripts/General/dataTableJS.js"></script> 