@model Asiservy.Automatizacion.Datos.Datos.CONTROL_HUESO

@{
    ViewBag.Title = "ControlHueso";
}

<style>
    input, select, textarea {
        max-width: 100%;
    }
</style>

<h4>Control de Huesos</h4>


<label>@ViewBag.Linea </label>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div id="divCabecera">
            <div class="card shadow">
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-3 col-6 col-sm-6">
                            <div class="form-group">

                                <label>Fecha Producción</label>
                                <input type="date" id="txtFechaProduccion" name="name" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="CargarControlHueso(this.value)" />

                            </div>
                        </div>
                        <div class="col-md-3 col-6 col-sm-6">
                            <div class="form-group">

                                <label>Turno</label>
                                <select class="form-control" id="selectTurno" onchange="CargarControlHueso()">
                                    <option value="1">Turno A</option>
                                    <option value="2">Turno B</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-12 col-sm-6">
                            <div class="form-group">
                                <label>Orden Fabricación</label>
                                <div class="input-group">
                                    @Html.TextBox("txtOrdenFabricacion", null, new { style = "width: 75%; border: 1px solid #d1d3e2; border-radius: 0.35rem", @readonly = "readonly" })
                                    <button type="button" onclick="" id="btnOrden">
                                        <img src="~/Content/images/buscar.png" />
                                    </button><br />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-6 col-sm-6">
                            <div class="form-group">
                                <label>Lote</label>
                                <select id="SelectLote" class="form-control">
                                    <option value="0">Seleccione</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2 col-6 col-sm-6">
                            <label>Tipo Control</label>
                            @Html.DropDownList("TipoControlHueso", new SelectList(ViewBag.TipoControlHueso, "Codigo", "Descripcion"), new { @class = "form-control", @id = "SelectTipoControl", @onchange = "SeleccionarTipoControl(this.value)" })
                        </div>

                        <input type="hidden" name="name" id="txtLinea" value="@ViewBag.CodLinea" />
                        <input type="hidden" name="name" id="txtIdControlHueso" value="0" />
                        <div class="col-md-3 col-12 col-sm-6">
                            <div class="form-group">
                                <label>Hora Inicio</label>
                                <input class="form-control" type="datetime-local" name="name" value="" id="txtHoraInicio" />
                            </div>
                        </div>
                        <div class="col-md-3 col-12 col-sm-6">
                            <div class="form-group">
                                <label>Hora Fin</label>
                                <input class="form-control" type="datetime-local" name="name" value="" id="txtHoraFin" />
                            </div>
                        </div>
                        <div class="col-md-2 col-6 col-sm-6">
                            <div class="form-group">
                                <label>Limpieza</label>
                                <select class="form-control" id="selectLimpieza">
                                    <option value="0">Seleccione</option>
                                    <option value="SIMPLE">SIMPLE</option>
                                    <option value="INTERMEDIA">INTERMEDIA</option>
                                    <option value="DOBLE">DOBLE</option>
                                </select>
                                @*<input class="form-control" type="text" name="name" value="" id="txtLimpieza" maxlength="100" />*@
                            </div>
                        </div>
                        <div class="col-md-12 col-12 col-sm-12">
                            <div class="form-group">
                                <label>Observación</label>
                                <input class="form-control" type="text" name="name" value="" id="txtObservacion" maxlength="100" />
                            </div>
                        </div>
                        <div class="col-md-2 col-12" hidden id="divPiezas">
                            <div class="form-group">
                                <label>Total Piezas</label>
                                <input class="form-control" type="number" name="name" value="0" id="txtPiezas" />
                            </div>
                        </div>
                        <div class="col-md-2 col-12" hidden id="divLimpiadoras">
                            <div class="form-group">
                                <label>Total Limpiadoras</label>
                                <input class="form-control" type="number" name="name" value="0" id="txtLimpiadoras" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <br />
        <div class="col-12 text-center">
            @*<input type="button" id="btnGenerar" name="Generar" value="Generar" class="btn btn-primary" onclick="GenerarControlHueso()" />
                <input type="button" id="btnNuevo" name="Nuevo" value="Nuevo" class="btn btn-info" onclick="NuevoControlHueso()" />*@

            <button data-toggle="tooltip" data-placement="top" title="Generar" class="btn" id="btnGenerar" onclick="GenerarControlHueso()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/add24.png" />
            </button>
            <button data-toggle="tooltip" data-placement="top" title="Atras" class="btn" id="btnNuevo" onclick="NuevoControlHueso()" style="border-color:#2c3e50" type="button" hidden>
                <img style="width:100%" src="~/Content/icons/atras24.png" />
            </button>
            <button data-toggle="tooltip" data-placement="top" title="Inactivar" class="btn" id="btnInactivar" onclick="" style="border-color:#2c3e50" type="button" hidden>
                <img style="width:100%" src="~/Content/icons/cancel24.png" />
            </button>
            <button data-toggle="tooltip" data-placement="top" title="Editar" class="btn" id="btnEditar" onclick="" style="border-color:#2c3e50" type="button" hidden>
                <img style="width:100%" src="~/Content/icons/edit24.png" />
            </button>
        </div>
        <hr />
        <div class="d-flex justify-content-center">
            <div id="spinnerCargando" hidden class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12 col-sm-12">
                <div class="card shadow">
                    <div class="card-body">

                        <div id="DivTableControlHuesoDetalle" class="table-responsive"></div>
                        <div id="DivTableControlHueso" class="table-responsive"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}


<div class="modal" tabindex="-1" id="ModalEditControl" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Control Hueso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="txtIdControlModal" name="name" value="0" />
                    <div class="col-md-12 col-sm-12 col-12">
                        <label>Lote</label>
                        <input type="text" disabled id="txtLoteModal" class="form-control" name="name" value="" />
                    </div>
                    <div class="col-md-6 col-sm-6 col-6">
                        <label>Hora Desde</label>
                        <input type="datetime-local" id="txtHoraDesdeModal" class="form-control" name="name" value="" />
                    </div>
                    <div class="col-md-6 col-sm-6 col-6">
                        <label>Hora Hasta</label>
                        <input type="datetime-local" id="txtHoraHastaModal" class="form-control" name="name" value="" />
                    </div>
                    <div class="col-md-12 col-sm-12 col-12">
                        <div class="form-group">
                            <label>Limpieza</label>
                            <select class="form-control" id="selectLimpiezaModal">
                                <option value="0">Seleccione</option>
                                <option value="SIMPLE">SIMPLE</option>
                                <option value="INTERMEDIA">INTERMEDIA</option>
                                <option value="DOBLE">DOBLE</option>
                            </select>
                            @*<input class="form-control" type="text" name="name" value="" id="txtLimpieza" maxlength="100" />*@
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-sm-12">
                        <label>Observación</label>
                        <input class="form-control" type="text" name="name" value="" id="txtObservacionModal" maxlength="100" />

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnModificarModal">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Eliminar Control de Hueso</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id="modal-btn-si">Si</button>
                <button type="button" class="btn btn-outline-primary" id="modal-btn-no">No</button>
            </div>
        </div>
    </div>
</div>

<div class="alert" role="alert" id="result"></div>



<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="ModalOrdenes">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ordenes de fabricación</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>Fecha</label>
                            <input type="date" class="form-control" id="txtFechaOrden" name="name" value="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="CargarOrdenFabricacion(this.value)" />
                            <p class="text-danger" hidden id="validaFecha">No existen ordenes</p>
                        </div>

                    </div>
                    <div class="col-6">
                        <label>Orden:</label>
                        <select id="SelectOrdenFabricacion" , class="form-control">
                            <option value="0">Seleccione</option>
                        </select>
                        <p class="text-danger" hidden id="validaOrden">Seleccione una orden</p>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" id="modal-orden-si">Aceptar</button>
                <button type="button" class="btn btn-outline-dark" id="modal-orden-no">Cancelar</button>
            </div>
        </div>
    </div>
</div>
