
@{
    ViewBag.Title = "ReporteAvanceDiarioPorLimpiadora";
}

<h3>Reporte Avance Diario Por Limpiadora</h3>
<style>
    input, select, textarea {
        max-width: 100%;
    }
</style>

<hr />
<div class="container-fluid">
    <div class="row">
        <div class="offset-md-2 col-md-4 col-sm-6">
            <div class="form-group">
                <label>Fecha</label>
                <input type="date" name="name" value="@DateTime.Now.ToString("yyyy-MM-dd")" id="txtFecha" class="form-control" />
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="form-group">
                <label>Linea</label>
                @if (ViewBag.SupervisorGeneral != null)
                {
                    @Html.DropDownList("Linea", new SelectList(ViewBag.ComboLineas, "Codigo", "Descripcion"), "Selecciones", new { @class = "form-control", @id = "selectLinea" })
                }
                else
                {
                    @Html.DropDownList("Linea", new SelectList(ViewBag.ComboLineas, "Codigo", "Descripcion", ViewBag.LineaEmpleado), "Seleccione", new { @class = "form-control", @readonly = "@readonly", @onchange = "CambioLinea(this.id)", @id = "selectLinea" })
                    <script>
                    function CambioLinea(id) {
                        console.log(id);
                        console.log(@ViewBag.LineaEmpleado);
                        $('#' + id).val('@ViewBag.LineaEmpleado');
                    }
                    </script>

                }
            </div>
        </div>
        <div class="col-md-12 col-sm-12 text-center">
            <div class="form-group">
                <label> </label>
                <input type="button" name="name" value="Consultar" id="btnConsultar" class="btn btn-primary" onclick="CargarReporteAvanceLimpiadora()" />
            </div>
        </div>

    </div>
    <div class="row">
        <div class="table-responsive" id="DivTableReporteControlAvancePorLimpiadora">  </div>
    </div>
</div>

<script src="~/Scripts/ControlAvance/ReporteAvancePorLimpiadora.js"></script>