
@{
    ViewBag.Title = "ReporteControlAvanceDiario";
}

<style>
    input, select, textarea {
        max-width: 100%;
    }

    .selectbox {
        background: #fff;
        color: #1d3b4a;
        padding: 5px 8px;
        line-height: 18px;
        border-radius: 4px;
        border-width: 0 1px 4px;
        cursor: pointer;
        border: 1px solid #ddd;
    }

    .box_filters {
        float: right;
    }

    .itemFilter {
        float: left;
        margin-right: 4px;
    }

    .btnWait {
        cursor: no-drop !important;
    }

    ._bloque {
        margin-bottom: 10px;
    }
</style>


<h4>Reporte Control Avance Diario</h4>
<hr />
<div class="">
    <div class="row">
        @*<div class="col-md-2 col-12">
                <div class="form-group">
                    <label>Fecha Desde</label>
                    <input type="date" name="name" value="@DateTime.Now.ToString("yyyy-MM-dd")" id="txtFechaDesde" class="form-control" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>Fecha Hasta</label>
                    <input type="date" name="name" value="@DateTime.Now.ToString("yyyy-MM-dd")" id="txtFechaHasta" class="form-control" />
                </div>
            </div>*@
        <div class="col-md-4 text-center">
            <div id="DatosLoadAjax" class="cargandoAjax fa-2x"> <i class="fas fa-spinner fa-pulse"></i> </div>
            <br />
            <div class="box_filters">
                <div class="itemFilter">
                    <input type="hidden" id="txtFechaDesde" value="" />
                    <input type="hidden" id="txtFechaHasta" value="" />
                    <div id="reportrange" class="selectbox">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span></span> <i class="fa fa-caret-down"></i>
                    </div>
                </div>
                @*<div class="itemFilter">
                <a href="#" id="generarAsistencia" class="btn btn-primary btn-sm"><i id="iconSearch" class="fas fa-search"></i></a>
            </div>*@

            </div>
        </div>

        <div class="col-md-2 col-6 col-sm-6">
            <div class="form-group">

                <label>Turno</label>
                <select class="form-control" id="selectTurno" onchange="CargarControlHueso()">
                    <option value="1">Turno A</option>
                    <option value="2">Turno B</option>
                </select>
            </div>
        </div>
        <div class="col-md-2 col-6 col-sm-6">
            <div class="form-group">
                <label>Linea</label>
                @if (ViewBag.SupervisorGeneral != null)
                {
                    @Html.DropDownList("Linea", new SelectList(ViewBag.Linea, "Codigo", "Descripcion"), "Seleccione", new { @class = "form-control", @id = "selectLinea" })
                }
                else
                {
                    @Html.DropDownList("Linea", new SelectList(ViewBag.Linea, "Codigo", "Descripcion", ViewBag.LineaEmpleado), new { @class = "form-control", @onchange = "CambioLinea(this.id)", @id = "selectLinea" })
                    <script>
                    function CambioLinea(id) {

                        $('#' + id).val('@ViewBag.LineaEmpleado');
                    }
                    </script>

                }
            </div>
        </div>
        <div class="col-md-2 col-12  text-md-left text-center">
            <label class="">Acciones</label>

            <div class="form-group">
                @*<input type="button" name="name" value="Consultar" id="btnConsultar" class="btn btn-primary" onclick="CargarReporteAvance()" />*@
                <button data-toggle="tooltip" data-placement="top" title="Mostrar" class="btn" id="btnConsultar" onclick="CargarReporteAvance()" style="border-color:#2c3e50" type="button">
                    <img style="width:100%" src="~/Content/icons/ver24.png" />
                </button>
            </div>
        </div>

    </div>
    <hr />
    <div class="d-flex justify-content-center">
        <div id="spinnerCargando" hidden class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div class="table-responsive" id="DivTableReporteControlAvance">  </div>
<br />
<div class="row">
    <div class="col-md-4 col-12 col-sm-12">
        <div class="card shadow">
            <div class="card-body">
                <i class="fas fa-arrow-circle-up" style="background:#4cff00; border-radius:10px"></i> <b> > 80</b> <br />
                <i class="fas fa-arrow-circle-up" style="background:#ffd800; border-radius:10px"></i> <b> < 80 & > 60</b><br />
                <i class="fas fa-arrow-circle-up" style="background:#ff0000; border-radius:10px"></i>  <b> < 60 </b> <br />
                <b>Nota:</b> Protocolo no genera avance.
            </div>
        </div>
    </div>
</div>