@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaControlAvanceDiarioPorLinea>


<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdenFabricacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Talla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especie)
            </th>
            <th>
                Inicio
            </th>
            <th>
                Fin
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tiempo)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.CodTipoControl)
            </th>
            <th>
                Control
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promedio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Huesos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Limpiadoras)
            </th>
            <th>
                Kilo Teorico
            </th>
            <th>
                Kilo Real
            </th>
            <th>
                Limpieza
            </th>
            <th>
                @Html.DisplayNameFor(model => model.avance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Miga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>

        </tr>
    </thead>
    <tbody>
        @{ 
            int TotalTiempo = 0;
            int TotalHueso = 0;
            int TotalLimpiadoras = 0;
            decimal TotalKiloTeorico = 0;
            decimal TotalKiloReal = 0;
            decimal TotalAvance = 0;
            int contador = 0;
        }
        @foreach (var item in Model)
        {
            if (item.avance > 0)
            { contador++; }
            TotalTiempo = TotalTiempo + item.Tiempo ?? 0;
            TotalHueso = TotalHueso + item.Huesos??0;
            TotalLimpiadoras = TotalLimpiadoras + item.Limpiadoras ?? 0;
            TotalKiloReal = TotalKiloReal + item.KiloReal ?? 0;
            TotalKiloTeorico = TotalKiloTeorico + item.KiloTeorico;
            TotalAvance = TotalAvance + item.avance??0;
        <tr>
            <td>
                @item.Fecha.Value.ToString("yyyy-MM-dd")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdenFabricacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Talla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tiempo)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.CodTipoControl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoControl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promedio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Huesos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Limpiadoras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KiloTeorico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KiloReal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoLimpieza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.avance) %
                @{
                    if (item.avance > 80)
                    {
                        <i class="fas fa-arrow-circle-up" style="background:#4cff00; border-radius:10px"></i>
                    }
                    else if (item.avance > 60)
                    {
                        <i class="fas fa-arrow-circle-right" style="background:#ffd800; border-radius:10px"></i>
                    }
                    else if (item.avance > 0)
                    {
                        <i class="fas fa-arrow-circle-down" style="background:#ff0000 ; border-radius:10px"></i>
                    }

                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miga) %
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>

        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>@contador Lotes</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>@TotalTiempo</td>
            <td></td>
            <td></td>
            <td>@TotalHueso</td>
            <td>@TotalLimpiadoras</td>
            <td>@TotalKiloTeorico </td>
            <td>@TotalKiloReal </td>
            <td></td>
            <td>
                @{
                    decimal PromedioAvance = 0;
                    if (TotalKiloTeorico > 0) {
                        PromedioAvance = Math.Round((TotalKiloReal / TotalKiloTeorico) * 100, 2);
                    }//returns 2.00
                }
                @PromedioAvance %
            </td>

        </tr>  
    </tfoot>
</table>
