
@{
    ViewBag.Title = "ReporteAvanceDiarioPorLimpiadora";
}

<h4>Reporte Avance Diario Por Limpiadora</h4>
<style>
    input, select, textarea {
        max-width: 100%;
    }
</style>

<hr />
<div class="">
    <div class="row">
        <div class="col-md-3     col-6">
            <div class="form-group">
                <label>Fecha</label>
                <input type="date" name="name" value="@DateTime.Now.ToString("yyyy-MM-dd")" id="txtFecha" class="form-control" />
            </div>
        </div>
        <div class="col-md-3 col-6 col-sm-6">
            <div class="form-group">

                <label>Turno</label>
                <select class="form-control" id="selectTurno" onchange="">
                    <option value="1">Turno A</option>
                    <option value="2">Turno B</option>
                </select>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-group">
                <label>Linea</label>
                @if (ViewBag.SupervisorGeneral != null)
                {
                    @Html.DropDownList("Linea", new SelectList(ViewBag.Linea, "Codigo", "Descripcion"), "Selecciones", new { @class = "form-control", @id = "selectLinea" })
                }
                else
                {
                    @Html.DropDownList("Linea", new SelectList(ViewBag.Linea, "Codigo", "Descripcion", ViewBag.LineaEmpleado), "Seleccione", new { @class = "form-control", @readonly = "@readonly", @onchange = "CambioLinea(this.id)", @id = "selectLinea" })
                    <script>
                    function CambioLinea(id) {
                        $('#' + id).val('@ViewBag.LineaEmpleado');
                    }
                    </script>

                }
            </div>
        </div>
        <div class="col-md-3 col-12 text-md-left text-center">
            <label>Acciones </label>

            <div class="form-group">
                @*   <input type="button" name="name" value="Consultar" id="btnConsultar" class="btn btn-primary" onclick="CargarReporteAvanceLimpiadora()" />*@
                <button data-toggle="tooltip" data-placement="top" title="Mostrar" class="btn" id="btnConsultar" onclick="CargarReporteAvanceLimpiadora()" style="border-color:#2c3e50" type="button">
                    <img style="width:100%" src="~/Content/icons/ver24.png" />
                </button>
            </div>
        </div>

    </div>
    <hr />
    <div class="d-flex justify-content-center">
        <div id="spinnerCargando" hidden class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-12 col-sm-12">
            <div class="table-responsive" id="DivTableReporteControlAvancePorLimpiadora">  </div>

        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4 col-12 col-sm-12">
        <div class="card shadow">
            <div class="card-body">
                <i class="fas fa-arrow-circle-up" style="background:#4cff00; border-radius:10px"></i> <b> > 80</b> <br />
                <i class="fas fa-arrow-circle-up" style="background:#ffd800; border-radius:10px"></i> <b> < 80 & > 60</b><br />
                <i class="fas fa-arrow-circle-up" style="background:#ff0000; border-radius:10px"></i>  <b> < 60 </b> <br />
                <b>Nota:</b> Ver el kpi dando click en una de las limpiadoras.
            </div>
        </div>
    </div>
</div>

<div class="modal" id="ModalKpi" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Avance del dia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-12 col-sm-12">
                        <div class="card shadow" id="divKpi">
                        </div>
                    </div>
                    <div class="col-md-6 col-12 col-sm-12">
                        <div class="card shadow" id="divKpi2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

