@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaAvanceDiarioPorLimpiadora>

<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th class="text-center">
                <label>Total Huesos</label>
            </th>
            <th class="text-center">
                <label>Miga Total</label>
            </th>
            <th class="text-center">
                <label>Miga Promedio</label>
            </th>
            <th class="text-center">
                <label>Miga %</label>
            </th>
            <th class="text-center">
                <label>Avance %</label>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.TotalHueso)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.MigaTotal) kg
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.MigaPromedio) kg
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.MigaPorcentaje) %
            </td>
            <td class="text-center">

                @Html.DisplayFor(modelItem => item.Avance)% &nbsp;
                @{
                    if (item.Avance > 80)
                    {
                        <i class="fas fa-arrow-circle-up" style="background:#4cff00; border-radius:10px"></i>
                    }
                    else if (item.Avance > 60)
                    {
                        <i class="fas fa-arrow-circle-right" style="background:#ffd800; border-radius:10px"></i>
                    }
                    else
                    {
                        <i class="fas fa-arrow-circle-down" style="background:#ff0000 ; border-radius:10px"></i>
                    }

                }

            </td>

        </tr>
        }
    </tbody>
</table>

