@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaCocheAutoclave>
@using Newtonsoft.Json;


<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable2">
    <thead>

        <tr>
            
           
            <th>
                @Html.DisplayNameFor(model => model.OrdenFabricacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Envase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>
            
        </tr>
</thead>
    <tbody>
        @foreach (var item in Model)
        {
            var json = JsonConvert.SerializeObject(item);
            <tr onclick="SeleccionarControl(@json)">               
                <td>
                    @Html.DisplayFor(modelItem => item.OrdenFabricacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Envase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacion)
                </td>

            </tr>
        }
    </tbody>
</table>
