@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spReporteCocheAutoclaveDetalle>
@{
    var Cabecera = Model.Select(x => x.IdCocheAutoclave).Distinct();
}
<h5><b>Producto: </b> @Model.FirstOrDefault().Producto</h5>
<h5><b>Envase: </b> @Model.FirstOrDefault().Envase</h5>
<table class="table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tarjeta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coche)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineaProduccion)
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var x in Cabecera)
            {
                var detalle = Model.Where(y => y.IdCocheAutoclave == x);
                var ca = detalle.FirstOrDefault();
                <tr style="background-color:#bdd5f3; color:black">
                    <td colspan="4">
                        <b>PRODUCTO:</b>@ca.CodigoProducto
                        &nbsp;
                        &mdash;
                        &nbsp;
                        <b>OF:</b>@ca.OrdenFabricacion
                        &nbsp;
                        &mdash;
                        &nbsp;
                        <b>AUTOCLAVE:</b> @ca.Autoclave
                        &nbsp;
                        &mdash;
                        &nbsp;
                        <b>PARADA:</b> @ca.Parada
                    </td>
                    <td hidden></td>
                    <td hidden></td>
                    <td hidden></td>
                </tr>
                foreach (var d in detalle)
                {
                    <tr>
                        <td>@d.Tarjeta</td>
                        <td>@d.HoraInicio.ToString("yyyy-MM-dd HH:mm")</td>
                        <td>@d.Coche</td>
                        <td>@d.LineaProduccion</td>
                    </tr>
                }

            }
        }
    </tbody>
</table>
