@model Asiservy.Automatizacion.Formularios.Models.Asistencia.ControlDeAsistenciaViewModel

@Html.Partial("ModalObservacion")
@Html.Partial("ModalHora")
<div style="padding-top: 10px; padding-bottom: 100px">
    @*@Html.HiddenFor(z=>z.ControlAsistencia[0].Turno)*@
    @Html.Hidden("EstadoControlCuchillo", "1")

    <input type=image src="~/Content/images/Time.png" onclick="SetearHora()" id="btnhora">
    <br />

    <div class="table-responsive">
        <input type="text" id="busqueda" onkeyup="buscarenTabla()" placeholder="Buscar por Nombres..">
        <table class="table " id="TableCuchillos">
            <thead>
                <tr class="text-center">
                    <th class="align-bottom" rowspan="2" hidden></th>
                    <th class="align-bottom" rowspan="2"></th>
                    <th class="align-bottom" rowspan="2"><b> Personal</b></th>
                    <th class="align-bottom" rowspan="2"><b>Check</b> </th>
                    <th class="align-bottom" rowspan="2"><b>Hora</b> </th>

                    <th class="align-bottom" rowspan="2"><b>Observación</b> </th>

                    <th class="align-bottom" rowspan="2"><b>Estado</b> </th>
                    <th class="align-bottom" rowspan="2"></th>
                    <th class="align-middle" colspan="3"><b>Cuchillos</b> </th>
                </tr>


                <tr>
                    <th>
                        <div class="text-center">

                            <img class="imageCuchillo img-fluid" src="~/Content/images/cuchillo03.png" />
                        </div>
                    </th>
                    <th>
                        <div class="text-center">
                            <img class="imageCuchillo img-fluid" src="~/Content/images/cuchillo01.png" />
                        </div>
                    </th>
                    <th>
                        <div class="text-center">

                            <img class="imageCuchillo img-fluid" src="~/Content/images/cuchillo02.png" />
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int cont = 0;
                }
                @foreach (var item in Model.ControlAsistencia)
                {
                    cont++;
                    string color = "";
                    if (item.Bloquear == 1) { color = "#E3D6D3"; } else { color = "FFFFFF"; }

                    if (item.Bloquear == 1)
                    {
                        <script>DeshabilitarControles('@cont')</script>
                    }
                    <tr bgcolor="@color" id="@cont">
                        <td hidden>
                            @Html.TextBoxFor(x => x.ControlAsistencia[cont - 1].Cedula)
                        </td>

                        <td>
                            @cont
                        </td>
                        <td>
                            @*@Html.TextBoxFor(z => z.ControlAsistencia[cont - 1].NOMBRES, new { style = "width:100%; border: 0;", @readonly = true })*@
                            @item.NOMBRES

                        </td>
                        <td>
                            @*<label class="btn btn-light text-xs-center" id="LabelAsistencia-@cont">*@

                            @if (item.EstadoAsistencia == "1" || item.EstadoAsistencia == "2")
                            {
                                <script> PintarCHeck('@cont');</script>}
                            @*<div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" onchange="GuardarPersona(@cont,'@item.NOMBRES','check');" id="CheckAsistencia-@cont">
                                    <label class="custom-control-label" for="customSwitch1"></label>
                                </div>*@
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="CheckAsistencia-@cont" onchange="GuardarPersona(@cont,'@item.NOMBRES','check','@item.CentroCostos','@item.Recurso','@item.Linea','@item.Cargo');">
                                <label class="custom-control-label" for="CheckAsistencia-@cont" id="LabelFecha"></label>
                            </div>
                            @*</label>*@
                        </td>
                        <td>
                            @*<input class="form-control" type="time" name="name" value="@DateTime.Now.ToString("HH:mm")" />*@
                            @Html.TextBoxFor(x => x.ControlAsistencia[cont - 1].Hora, new { type = "time", @class = "form-control", @onkeyup = "GuardarPersona(" + @cont + ",'" + @item.NOMBRES + "','change');", @onchange = "GuardarPersona(" + @cont + ",'" + @item.NOMBRES + "','change');" })


                        </td>

                        <td class="text-center">
                            <div>

                                @*@Html.TextAreaFor(x => x.ControlAsistencia[cont - 1].Observacion, new { @row = "2", @onkeyup = "GuardarPersona(" + @cont + ",'" + @item.NOMBRES + "','change');" })*@
                                @Html.HiddenFor(x => x.ControlAsistencia[cont - 1].Observacion, new { @onkeyup = "GuardarPersona(" + @cont + ",'" + @item.NOMBRES + "','change');" })
                                @{
                                    var colorfa = "#01224B";
                                    if (!string.IsNullOrEmpty(Model.ControlAsistencia[cont - 1].Observacion))
                                    {
                                        colorfa = "red";
                                    }
                                }
                                <i class="fas fa-eye" style="cursor:pointer; color:@colorfa" onclick="CargarObservacion('@(cont-1)','@item.Bloquear')" data-toggle="modal" data-target="#ModalObservacion"></i>
                            </div>
                        </td>

                        <td>
                            @*<select class="custom-select" id="SelectEstado" onchange="CambioEstado(1)">
                                    <option selected>Seleccione</option>
                                    <option value="1">Presente</option>
                                    <option value="2">Atraso</option>
                                    <option value="3">Falta</option>
                                </select>*@
                            @Html.DropDownListFor(model => model.ControlAsistencia[cont - 1].EstadoAsistencia, new SelectList(ViewBag.EstadoAsistencia, "Codigo", "Descripcion", Model.ControlAsistencia[cont - 1].EstadoAsistencia), "Seleccione", new { @class = "browser-default custom-select", @witdh = "200px", @onchange = "GuardarPersona(" + @cont + ",'" + @item.NOMBRES + "','combo','"+item.CentroCostos+"','"+item.Recurso+"','"+item.Linea+"','"+item.Cargo+"')" })
                        </td>
                        <td>
                            <center>
                                @if (item.Observacion == "No ha marcado en el biométrico")
                                {
                                    <img src="~/Content/images/actualizar.png" width="30" id="actualizar-@cont" height="30" style="cursor: pointer" onclick="ConsultarBiometrico('@cont','@item.Cedula')" />
                                }
                            </center>
                        </td>

                        <td class="text-center align-content-center">
                            @{ var cuchillo = (from c in Model.ControlDeCuchillos
                                                where c.Cedula == item.Cedula
                                                select c).FirstOrDefault();}
                            @if (cuchillo != null)
                            {
                                if (cuchillo.CuchilloBlanco != 0)
                                {
                                    <div class="col-xs-2 text-xs-center">
                                        <div class="custom-control custom-switch">
                                            @Html.CheckBox("Blanco" + cuchillo.CuchilloBlanco, cuchillo.ValidaBlanco == "1", new { @onchange = "check(this.id,'B','" + cuchillo.Cedula + "')", @class = "custom-control-input" })
                                            <label class="custom-control-label" for="@("Blanco"+cuchillo.CuchilloBlanco)">@cuchillo.CuchilloBlanco</label>
                                        </div>
                                        @*<label class="btn btn-dark text-xs-center" id="labelCuchilloBlanco_@cuchillo.CuchilloBlanco">
                                                @cuchillo.CuchilloBlanco
                                                @Html.CheckBox("Blanco" + cuchillo.CuchilloBlanco, cuchillo.ValidaBlanco == "1", new { @onchange = "check(this.id,'B','" + cuchillo.Cedula + "')" })
                                            </label>*@
                                    </div>
                                    if (cuchillo.ValidaBlanco == "1")
                                    {
                                        <script>
                                    $("#labelCuchilloBlanco_@cuchillo.CuchilloBlanco").css("background", "#28B463");
                                        </script>
                                    }
                                }
                                else
                                {
                                    <div class="col-xs-2 text-xs-center">
                                        @if (cuchillo != null)
                                        {
                                            <div class="custom-control custom-switch">
                                                @Html.CheckBox("Blanco" + cuchillo.CuchilloBlanco, false, new { @disabled = "disabled", @class = "custom-control-input" })
                                                <label class="custom-control-label" for="@("Blanco"+cuchillo.CuchilloBlanco)">@cuchillo.CuchilloBlanco</label>
                                            </div>
                                            @*<label class="btn btn-light text-xs-center" id="labelCuchilloBlanco_@cuchillo.CuchilloBlanco">
                                                    @cuchillo.CuchilloBlanco
                                                    @Html.CheckBox("Blanco" + cuchillo.CuchilloBlanco, false, new { @disabled = "disabled" })

                                                </label>*@
                                        }
                                    </div>
                                }
                            }
                        </td>
                        <td class="text-center">

                            @if (cuchillo != null)
                            {
                                if (cuchillo.CuchilloRojo != 0)
                                {
                                    <div class="col-xs-2 text-xs-center">
                                        @*<label class="btn btn-dark text-xs-center" id="labelCuchilloRojo_@cuchillo.CuchilloRojo">
                                                @cuchillo.CuchilloRojo
                                                @Html.CheckBox("Rojo" + cuchillo.CuchilloRojo, cuchillo.ValidaRojo == "1", new { @onchange = "check(this.id,'R','" + cuchillo.Cedula + "')" })
                                            </label>*@
                                        <div class="custom-control custom-switch">
                                            @Html.CheckBox("Rojo" + cuchillo.CuchilloRojo, cuchillo.ValidaRojo == "1", new { @onchange = "check(this.id,'R','" + cuchillo.Cedula + "')", @class = "custom-control-input" })
                                            <label class="custom-control-label" for="@("Rojo"+cuchillo.CuchilloRojo)">@cuchillo.CuchilloRojo</label>
                                        </div>
                                    </div>
                                    if (cuchillo.ValidaRojo == "1")
                                    {
                                        <script>
                                    $("#labelCuchilloRojo_@cuchillo.CuchilloRojo").css("background", "#28B463");
                                        </script>
                                    }
                                }
                                else
                                {
                                    <div class="col-xs-2 text-xs-center">
                                        @*<label class="btn btn-dark text-xs-center" id="labelCuchilloRojo_@cuchillo.CuchilloRojo">
                                                @cuchillo.CuchilloRojo
                                                @Html.CheckBox("Rojo" + cuchillo.CuchilloRojo, false, new { @disabled = "disabled" })
                                            </label>*@
                                        <div class="custom-control custom-switch">
                                            @Html.CheckBox("Rojo" + cuchillo.CuchilloRojo, false, new { @class = "custom-control-input", @disabled = "disabled" })
                                            <label class="custom-control-label" for="@("Rojo"+cuchillo.CuchilloRojo)">@cuchillo.CuchilloRojo</label>
                                        </div>
                                    </div>
                                }
                            }

                        </td>
                        <td class="text-center">

                            @if (cuchillo != null)
                            {
                                if (cuchillo.CuchilloNegro != 0)
                                {
                                    <div class="col-xs-2 text-xs-center">
                                        @*<label class="btn btn-light text-xs-center" id="labelCuchilloNegro">
                                                @cuchillo.CuchilloNegro
                                                @Html.CheckBox("Negro" + cuchillo.CuchilloNegro, cuchillo.ValidaNegro == "1", new { @onchange = "check(this.id,'N','" + cuchillo.Cedula + "')" })
                                            </label>*@
                                        <div class="custom-control custom-switch">
                                            @Html.CheckBox("Negro" + cuchillo.CuchilloNegro, cuchillo.ValidaNegro == "1", new { @onchange = "check(this.id,'N','" + cuchillo.Cedula + "')", @class = "custom-control-input" })
                                            <label class="custom-control-label" for="@("Negro"+cuchillo.CuchilloNegro)">@cuchillo.CuchilloNegro</label>
                                        </div>
                                    </div>
                                    if (cuchillo.ValidaNegro == "1")
                                    {
                                        <script>
                                    $("#labelCuchilloNegro_@cuchillo.CuchilloNegro").css("background", "#28B463");
                                        </script>
                                    }
                                }
                                else
                                {
                                    <div class="col-xs-2 text-xs-center">
                                        @*<label class="btn btn-dark text-xs-center" id="labelCuchilloNegro_@cuchillo.CuchilloNegro">
                                                @cuchillo.CuchilloNegro
                                                @Html.CheckBox("Negro" + cuchillo.CuchilloNegro, false, new { @disabled = "disabled" })
                                            </label>*@
                                        <div class="custom-control custom-switch">
                                            @Html.CheckBox("Negro" + cuchillo.CuchilloNegro, false, new { @class = "custom-control-input", @disabled = "disabled" })
                                            <label class="custom-control-label" for="@("Negro"+cuchillo.CuchilloNegro)">@cuchillo.CuchilloNegro</label>
                                        </div>
                                    </div>
                                }
                            }
                        </td>
                    </tr>
                    @*if (item.EstadoAsistencia == "3")
                        {
                            var contids = cont - 1;
                            var IdEnviado = "ControlAsistencia_"+ contids + "__Hora";
                                <script>

                                    PushHoras('@IdEnviado');
                                </script>
                            }*@
                }
                <tr>
            </tbody>
        </table>

        @*<div class="text-center" style="width:100%">
                <button type="button" class="btn btn-info" onclick="Mensaje('Registro Exitoso')">GUARDAR</button>
            </div>*@


    </div>

</div>
@*<div id="ModalMensaje"> </div>

    <link href="~/Content/AsistenciaCss/Asistencia.css" rel="stylesheet" />
    <script src="~/Scripts/Mensajes/Mensajes.js"></script>
    <script src="~/Scripts/AsistenciaJS/Asistencia.js"></script>*@

