@{
    ViewBag.Title = "Asistencia Prestados";
}


<div style="padding-top: 10px; padding-bottom: 100px">

    <div id="reloj" style="font-size:20px;"></div>
    @*<h4 class="custom-control-inline">Fecha: &nbsp; @DateTime.Now.ToString("dd-MM-yyyy") </h4>*@

    <label>@ViewBag.Linea</label>

    @Html.Hidden("Existe")
    <input type="hidden" name="CodLinea" id="CodLinea" value="@ViewBag.CodLinea" />
    @*@if (ViewBag.AsistenciaExiste == 0)
        {*@

    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="form-group">
                <label>Turno:</label>
                <select name="TurnoGen" id="TurnoGen" class="browser-default custom-select" @*onchange="ConsultarSiExisteAsistencia();"*@>
                    <option selected>Seleccione</option>
                    <option value="1">Turno 1</option>
                    <option value="2">Turno 2</option>
                </select>
                <label id="mensajeturno" class="text-danger" style="display:none">Debe seleccionar un turno</label>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="form-group">
                <label>Fecha:</label>
                @{
                    var fechaactual = DateTime.Now.ToString("yyyy-MM-dd");
                }
                @Html.TextBox("txtFecha", fechaactual, new { type = "date", @class = "form-control" })
                <label id="mensajefecha" class="text-danger" style="display:none">Debe ingresar una fecha </label>

            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <center>
                <input type="button" id="ConsultaAsistencia" value="Consultar" class="btn btn-primary" onclick="ConsultarSiExisteAsistencia();" />
                <input type="button" id="Limpiar" value="Limpiar" class="btn btn-info" onclick="Nuevo();" />
            </center>
        </div>

    </div>
    <br />
    <center><input type="button" value="Generar Asistencia" class="btn btn-outline-info" id="GenerarAsistencia" onclick="GenerarAsistenciaDiariaMovidos('@ViewBag.CodLinea','0');" style="display:none" /></center>
    @*}
        else
        {*@
    @*<script>
            //console.log("hola mundo");

            $(document).ready(function () {
                GenerarAsistenciaDiariaMovidos('@ViewBag.CodLinea','1');
                //  Nuevo();
            });


        </script>*@
    @*}*@



    <div class="table-responsive" style="padding-bottom: 100px" id="PartialAsistencia">


    </div>

</div>
        <div id="ModalMensaje"> </div>

        <link href="~/Content/AsistenciaCss/Asistencia.css" rel="stylesheet" />
        <script src="~/Scripts/Mensajes/Mensajes.js"></script>

