@{
    ViewBag.Title = "Asistencia Prestados";
}
<link href="~/Content/AsistenciaCss/Asistencia.css" rel="stylesheet" />

<div style="padding-top: 10px; padding-bottom: 100px">

    <div id="reloj" style="font-size:20px;"></div>
    @*<h4 class="custom-control-inline">Fecha: &nbsp; @DateTime.Now.ToString("dd-MM-yyyy") </h4>*@

    <label>@ViewBag.Linea</label>

    @Html.Hidden("Existe")
    <input type="hidden" name="CodLinea" id="CodLinea" value="@ViewBag.CodLinea" />
    @*@if (ViewBag.AsistenciaExiste == 0)
        {*@

    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="form-group">
                <label>Turno:</label>
                <select name="TurnoGen" id="TurnoGen" class="browser-default custom-select" @*onchange="ConsultarSiExisteAsistencia();"*@>
                    <option selected>Seleccione</option>
                    <option value="1">Turno 1</option>
                    <option value="2">Turno 2</option>
                </select>
                <label id="mensajeturno" class="text-danger" style="display:none">Debe seleccionar un turno</label>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="form-group">
                <label>Fecha:</label>
                @{
                    var fechaactual = DateTime.Now.ToString("yyyy-MM-dd");
                }
                @Html.TextBox("txtFecha", fechaactual, new { type = "date", @class = "form-control" })
                <label id="mensajefecha" class="text-danger" style="display:none">Debe ingresar una fecha </label>

            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <center>
                <button data-toggle="tooltip" data-placement="top" title="Mostrar" class="btn" id="ConsultaAsistencia" onclick="ConsultarSiExisteAsistencia()" style="border-color:#2c3e50" type="button">
                    <img style="width:100%" src="~/Content/icons/ver24.png" />
                </button>
                <button data-toggle="tooltip" data-placement="top" title="Mostrar" class="btn" id="Limpiar" onclick="Nuevo()" style="border-color:#2c3e50" type="button">
                    <img style="width:100%" src="~/Content/icons/clear24.png" />
                </button>
            </center>
        </div>

    </div>
    <hr />
    <div id="spinnerCargando" hidden class="text-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
    </div>
    <div style="padding-top:5%" class="text-center">
        <button data-toggle="tooltip" data-placement="top" title="Mostrar" class="btn btn-outline-info" id="GenerarAsistencia" onclick="GenerarAsistenciaDiaria('@ViewBag.CodLinea','0')" style="border-color:#2c3e50; display:none" type="button">
            <img style="width:25px" src="~/Content/icons/tuerca32.png" /> Generar Asistencia
        </button>
        @*<center><input type="button" value="Generar Asistencia" class="btn btn-outline-info" id="GenerarAsistencia" onclick="GenerarAsistenciaDiaria('@ViewBag.CodLinea','0');" style="display:none" /></center>*@

    </div>
    @*}
        else
        {*@
    @*<script>
            //console.log("hola mundo");

            $(document).ready(function () {
                GenerarAsistenciaDiariaMovidos('@ViewBag.CodLinea','1');
                //  Nuevo();
            });


        </script>*@
    @*}*@



    <div class="table-responsive" style="padding-bottom: 100px" id="PartialAsistencia">


    </div>

</div>
      

        
        <script src="~/Scripts/Mensajes/Mensajes.js"></script>

