@model Asiservy.Automatizacion.Formularios.Models.Asistencia.ControlDeAsistenciaViewModel


<div style="padding-top: 10px; padding-bottom: 100px">
    @Html.HiddenFor(z=>z.ControlAsistencia[0].Turno)
    <div class="table-responsive">

        <table class="table " id="TableCuchillos">
            <tr class="text-center">
                <td class="align-bottom" rowspan="2" hidden></td>
                <td class="align-bottom" rowspan="2"></td>
                <td class="align-bottom" rowspan="2"><b> Personal</b></td>
                <td class="align-bottom" rowspan="2"><b>Hora</b> </td>

                <td class="align-bottom" rowspan="2"><b>Observación</b> </td>
                <td class="align-bottom" rowspan="2"><b>Check</b> </td>
                <td class="align-bottom" rowspan="2"><b>Estado</b> </td>
                <td class="align-bottom" rowspan="2"></td>
                <td class="align-middle" colspan="3"><b>Cuchillos</b> </td>
            </tr>
            <tr>
                <td>
                    <div class="text-center">

                        <img class="imageCuchillo img-fluid" src="~/Content/images/cuchillo03.jpg" />
                    </div>
                </td>
                <td>
                    <div class="text-center">

                        <img class="imageCuchillo img-fluid" src="~/Content/images/cuchillo02.jpg" />
                    </div>
                </td>
                <td>
                    <div class="text-center">
                        <img class="imageCuchillo img-fluid" src="~/Content/images/cuchillo01.jpg" />
                    </div>
                </td>
            </tr>
            @{
                int cont = 0;
            }
            @foreach (var item in Model.ControlAsistencia)
            {
                cont++;
                string color = "";
                if (item.Bloquear == 1) { color = "#E3D6D3"; } else { color = "FFFFFF"; }

                if (item.Bloquear == 1)
                {
                   <script>DeshabilitarControles('@cont');</script>
                }
                   <tr bgcolor="@color" id="@cont">
                       <td hidden>
                           @Html.TextBoxFor(x => x.ControlAsistencia[cont - 1].Cedula)
                       </td>

                       <td>
                           @cont
                       </td>
                       <td>
                           @*@Html.TextBoxFor(z => z.ControlAsistencia[cont - 1].NOMBRES, new { style = "width:100%; border: 0;", @readonly = true })*@
                           @item.NOMBRES

                       </td>
                       <td>
                           @*<input class="form-control" type="time" name="name" value="@DateTime.Now.ToString("HH:mm")" />*@
                           @Html.TextBoxFor(x => x.ControlAsistencia[cont - 1].Hora, new { type = "time", @class = "form-control" })
                       </td>

                       <td class="text-center">
                           <div>
                               @*<input type="text" class="form-control-plaintext" id="Observacion" placeholder="Observacion">*@
                               @Html.TextAreaFor(x => x.ControlAsistencia[cont - 1].Observacion, new { @row = "2" })
                           </div>
                       </td>
                       <td class="text-center">
                           <label class="btn btn-light text-xs-center" id="LabelAsistencia-@cont">

                               @if (item.EstadoAsistencia == "1" || item.EstadoAsistencia == "2")
                               {
                                   <script> PintarCHeck('@cont');</script>}
                               @*<input type="checkbox" autocomplete="on" onchange="fillBook(0)" id="CheckAsistencia">*@
                               <input type="checkbox" autocomplete="on" onchange="GuardarPersona(@cont,'@item.NOMBRES','check');" id="CheckAsistencia-@cont">
                           </label>
                       </td>
                       <td>
                           @*<select class="custom-select" id="SelectEstado" onchange="CambioEstado(1)">
                <option selected>Seleccione</option>
                <option value="1">Presente</option>
                <option value="2">Atraso</option>
                <option value="3">Falta</option>
            </select>*@
                           @Html.DropDownListFor(model => model.ControlAsistencia[cont - 1].EstadoAsistencia, new SelectList(ViewBag.EstadoAsistencia, "Codigo", "Descripcion", Model.ControlAsistencia[cont - 1].EstadoAsistencia), "Seleccione", new { @class = "", @witdh = "200px", @onchange = "GuardarPersona(" + @cont + ",'" + @item.NOMBRES + "','combo')" })
                       </td>
                       <td>
                           <center>
                               @if (item.Observacion == "No ha marcado en el biométrico")
                               {
                                   <img src="~/Content/images/actualizar.png" width="30" id="actualizar-@cont" height="30" style="cursor: pointer" onclick="ConsultarBiometrico('@cont','@item.Cedula')" />
                               }
                           </center>
                       </td>

                       <td class="text-center align-content-center">
                           <div class="col-xs-2 text-xs-center">
                               @{ var cuchilloblanco = (from c in Model.ControlDeCuchillos
                                                         where c.Cedula == item.Cedula
                                                         select c.CuchilloBlanco).FirstOrDefault();}
                               @if (cuchilloblanco != null)
                               {
                                   <label class="btn btn-light text-xs-center" id="labelCuchilloBlanco">


                                       @cuchilloblanco
                                       <input type="checkbox" onchange="Cuchillo(3,1)" id="CheckCuchilloBlanco">
                                   </label>
                               }
                           </div>
                           
                       </td>
                       <td class="text-center">
                           <div class="col-xs-2 text-xs-center">
                               @{ var cuchilloRojo = (from c in Model.ControlDeCuchillos
                                                       where c.Cedula == item.Cedula
                                                       select c.CuchilloRojo).FirstOrDefault();}
                               @if (cuchilloRojo != null) { 
                                   <label class="btn btn-light text-xs-center" id="labelCuchilloRojo">


                                       @cuchilloRojo
                                       <input type="checkbox" onchange="Cuchillo(1,1)" id="CheckCuchilloRojo">
                                   </label>
                               }
                           </div>
                           
                       </td>
                       <td class="text-center">
                           <div class="col-xs-2 text-xs-center">
                               @{ var cuchilloNegro = (from c in Model.ControlDeCuchillos
                                                        where c.Cedula == item.Cedula
                                                        select c.CuchilloNegro).FirstOrDefault();}
                               @if (cuchilloNegro != null)
                               {
                                   <label class="btn btn-light text-xs-center" id="labelCuchilloNegro">


                                       @cuchilloNegro
                                       <input type="checkbox" onchange="Cuchillo(2,1)" id="CheckCuchilloNegro">
                                   </label>
                               }
                           </div>
                       </td>
                   </tr>
            }
            <tr>
        </table>

        @*<div class="text-center" style="width:100%">
                <button type="button" class="btn btn-info" onclick="Mensaje('Registro Exitoso')">GUARDAR</button>
            </div>*@


    </div>

</div>
@*<div id="ModalMensaje"> </div>

<link href="~/Content/AsistenciaCss/Asistencia.css" rel="stylesheet" />
<script src="~/Scripts/Mensajes/Mensajes.js"></script>
<script src="~/Scripts/AsistenciaJS/Asistencia.js"></script>*@

