@{
    ViewBag.Title = "Asistencia Prestados";
}
<script src="~/Scripts/AsistenciaJS/AsistenciaPrestados.js"></script>

<div style="padding-top: 10px; padding-bottom: 100px">

    <div id="reloj" style="font-size:20px;"></div>
    <h4 class="custom-control-inline">Fecha: &nbsp; @DateTime.Now.ToString("dd-MM-yyyy") </h4>
    <br />
    <label>@ViewBag.Linea</label>
    <br />
    @Html.Hidden("Existe")
    <input type="hidden" name="CodLinea" id="CodLinea" value="@ViewBag.CodLinea" />
    @*@if (ViewBag.AsistenciaExiste == 0)
        {*@
    Turno:
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <select name="TurnoGen" id="TurnoGen" class="browser-default custom-select" onchange="ConsultarSiExisteAsistencia();">
                <option selected>Seleccione</option>
                <option value="1">Turno 1</option>
                <option value="2">Turno 2</option>

            </select>
        </div>

    </div><br />
    <center><input type="button" value="Generar Asistencia" class="btn btn-outline-info" id="GenerarAsistencia" onclick="GenerarAsistenciaDiariaMovidos('@ViewBag.CodLinea','0');" style="display:none" /></center>
    @*}
        else
        {*@
    @*<script>
            //console.log("hola mundo");

            $(document).ready(function () {
                GenerarAsistenciaDiariaMovidos('@ViewBag.CodLinea','1');
                //  Nuevo();
            });


        </script>*@
    @*}*@



    <div class="table-responsive" style="padding-bottom: 100px" id="PartialAsistencia">


    </div>

</div>
        <div id="ModalMensaje"> </div>

        <link href="~/Content/AsistenciaCss/Asistencia.css" rel="stylesheet" />
        <script src="~/Scripts/Mensajes/Mensajes.js"></script>

