@model Asiservy.Automatizacion.Formularios.Models.Asistencia.ControlDeAsistenciaGeneralViewModel
@Html.Partial("ModalObservacion")
@Html.Partial("ModalHora")
<input type="hidden" id="HoraControlAsistencia" value="@ViewBag.HoraControlAsistencia" />
<div style="padding-top: 10px; padding-bottom: 100px">
    @*@Html.HiddenFor(z => z.ControlAsistencia[0].Turno)*@
    @Html.Hidden("EstadoControlCuchillo", "1")
    <input type=image src="~/Content/images/Time.png" onclick="SetearHora()" id="btnhora">
    <br />
    <div class="table-responsive">
        <input type="text" id="busqueda" onkeyup="buscarenTabla()" placeholder="Buscar por Nombres..">
        <table class="table " id="TableCuchillos">
            <thead>
                <tr class="text-center">
                    <th class="align-bottom" hidden></th>
                    <th class="align-bottom"></th>
                    <th class="align-bottom"><b> Personal</b></th>
                    <th class="align-bottom"><b>Check</b> </th>
                    <th class="align-bottom"><b>Hora</b> </th>

                    <th class="align-bottom"><b>Observación</b> </th>

                    <th class="align-bottom"><b>Estado</b> </th>
                    <th class="align-bottom"></th>

                </tr>
            </thead>
            <tbody>
                @{
                    int cont = 0;
                }
                @foreach (var item in Model.ControlAsistencia)
                {
                    cont++;
                    string color = "";
                    if (item.Bloquear == 1) { color = "#E3D6D3"; } else { color = "FFFFFF"; }

                    if (item.Bloquear == 1)
                    {
                        <script>DeshabilitarControles('@cont')</script>
                    }
                    <tr bgcolor="@color" id="@cont">
                        <td hidden>
                            @Html.TextBoxFor(x => x.ControlAsistencia[cont - 1].Cedula)
                        </td>

                        <td>
                            @cont
                        </td>
                        <td>

                            @item.NOMBRES

                        </td>
                        <td class="text-center">
                            @*<label class="btn btn-light text-xs-center" id="LabelAsistencia-@cont">*@

                            @if (item.EstadoAsistencia == "1" || item.EstadoAsistencia == "2")
                            {
                                <script> PintarCHeck('@cont');</script>}

                            @*<input type="checkbox" autocomplete="on" onchange="GuardarPersona(@cont,'@item.NOMBRES','check');" id="CheckAsistencia-@cont">
                                </label>*@
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="CheckAsistencia-@cont" onchange="GuardarPersona(@cont,'@item.NOMBRES','check','@item.CentroCostos','@item.Recurso','@item.Linea','@item.Cargo');">
                                <label class="custom-control-label" for="CheckAsistencia-@cont" id="LabelFecha"></label>
                            </div>
                        </td>
                        <td>

                            @Html.TextBoxFor(x => x.ControlAsistencia[cont - 1].Hora, new { type = "time", @class = "form-control", @onkeyup = "GuardarPersona(" + @cont + ",'" + @item.NOMBRES + "','change');", @onchange = "GuardarPersona(" + @cont + ",'" + @item.NOMBRES + "','change');" })
                        </td>

                        <td class="text-center">
                            <div>

                                @*@Html.TextAreaFor(x => x.ControlAsistencia[cont - 1].Observacion, new { @row = "2", @onkeyup = "GuardarPersona(" + @cont + ",'" + @item.NOMBRES + "','change');" })*@
                                @Html.HiddenFor(x => x.ControlAsistencia[cont - 1].Observacion)

                                @{
                                    var colorfa = "#01224B";
                                    if (!string.IsNullOrEmpty(Model.ControlAsistencia[cont - 1].Observacion))
                                    {
                                        colorfa = "red";
                                    }
                                }
                                <i class="fas fa-eye" style="cursor:pointer; color:@colorfa" onclick="CargarObservacion('@(cont-1)','@item.Bloquear')" data-toggle="modal" data-target="#ModalObservacion"></i>

                            </div>
                        </td>

                        <td>

                            @Html.DropDownListFor(model => model.ControlAsistencia[cont - 1].EstadoAsistencia, new SelectList(ViewBag.EstadoAsistencia, "Codigo", "Descripcion", Model.ControlAsistencia[cont - 1].EstadoAsistencia), "Seleccione", new { disabled = "disabled",@class = "browser-default custom-select", @witdh = "200px", @onchange = "GuardarPersona(" + @cont + ",'" + @item.NOMBRES + "','combo','" + @item.CentroCostos + "','" + @item.Recurso + "','" + @item.Linea + "','" + item.Cargo + "')" })
                        </td>
                        <td>
                            <center>
                                @*@if (item.Observacion == "No ha marcado en el biométrico")
                                {
                                    <img src="~/Content/images/actualizar.png" width="30" id="actualizar-@cont" height="30" style="cursor: pointer" onclick="ConsultarBiometrico('@cont','@item.Cedula')" />
                                }*@
                                <i id="actualizar-@cont" class="fas fa-sync" style="cursor: pointer; color:green" onclick="ConsultarBiometrico('@cont','@item.Cedula')"></i>
                                <i id="actualizar2-@cont" class="fas fa-sync fa-spin" style="color:green" hidden></i>
                            </center>
                        </td>


                    </tr>
                }

            </tbody>
        </table>



    </div>

</div>