@model Asiservy.Automatizacion.Datos.Datos.BITACORA_CAMBIO_PERSONAL

@{
    ViewBag.Title = "BitacoraCambioPersonal";
}


<style>
    input, select, textarea {
        max-width: 100%
    }
</style>


<div class="container-fluid">
    <h4>Bitacora de Cambio de Personal</h4>


    <div class="row">
        <div class="col-md-3 col-sm-12">
            <label>Linea</label>
            @Html.DropDownListFor(m => m.CodLinea, new SelectList(ViewBag.Lineas, "Codigo", "Descripcion"), "Seleccione la Línea", new { @onchange = "CambioLinea(this.value)", @class = "form-control", @id = "selectLinea" })
            @Html.ValidationMessageFor(m => m.CodLinea, "", new { @class = "input-validation-error text-danger has-error" })

        </div>

        <div class="col-md-3 col-sm-12">
            <label>Area</label>
            @Html.DropDownListFor(m => m.CodArea, new SelectList("", "Codigo", "Descripcion"), "Seleccione el Área", new { @onchange = "CambioArea(this.value)", @class = "form-control", @id = "selectArea" })
            @Html.ValidationMessageFor(m => m.CodArea, "", new { @class = "input-validation-error text-danger has-error" })
        </div>

        <div class="col-md-3 col-sm-12">
            <label>Cargo</label>
            @Html.DropDownListFor(m => m.CodCargo, new SelectList("", "Codigo", "Descripcion"), "Seleccione el Cargo", new { @class = "form-control", @id = "selectCargo" })
            @Html.ValidationMessageFor(m => m.CodCargo, "", new { @class = "input-validation-error text-danger has-error" })
        </div>
        <div class="form-group col-md-2 col-sm-12">
            <label>Cedula</label>
            <input id="textCedula" class="form-control" type="text" name="name" value="" />
        </div>
        

    </div>
    <div class="row">
        <div class="form-group offset-md-4 col-md-2 col-sm-5">
            <label>Fecha Desde</label>
            <input id="dateDesde" class="form-control" type="date" name="name" value="@DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd")" />
        </div>
        <div class="form-group col-md-2 col-sm-5">
            <label>Fecha Hasta</label>
            <input id="dateHasta" class="form-control" type="date" name="name" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-primary" type="button" onclick="ConsultarBitacora()">
                Consultar
            </button>
        </div>
    </div>
    <br />

    <div id="TableBitacoraCambioPersonal" class="table-responsive">


    </div>

</div>



<link href="~/Content/DataTables/media/css/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTables/media/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/extensions/Buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/extensions/Buttons/css/buttons.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTables/media/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/media/js/dataTables.bootstrap4.min.js"></script>

<script src="~/Scripts/General/CargarCombosLineas.js"></script>
<script src="~/Scripts/AsistenciaJS/BitacoraCambioPersonal.js"></script>