@model IEnumerable<Asiservy.Automatizacion.Formularios.Models.Asistencia.BitacoraCambioPersonalModelView>

<table class="table" id="tableBitacora">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdBitacoraCambioPersonal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Linea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngresoLog)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioIngresoLog)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TerminalIngresoLog)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdBitacoraCambioPersonal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cedula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodLinea)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodArea)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodCargo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaIngresoLog)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UsuarioIngresoLog)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TerminalIngresoLog)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>



<script>

    $('#tableBitacora').DataTable({
        "language": {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        },
        "pageLength": 5,
        "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
        "pagingType": "full_numbers",
        "dom": 'Bfrtip',
        "buttons": [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });

</script>