
@{
    ViewBag.Title = "BitacoraCambioPersonal";
}


<style>
    input, select, textarea {
        max-width: 100%
    }
</style>


<div class="container-fluid">
    <h4>Bitacora de Cambio de Personal</h4>


    <div class="row">
        <div class="form-group col-md-3 col-sm-12">
            <label>Departamento</label>
            <select id="selectDepartamento" onchange="" style="" class="form-control">
                <option value="0" selected>Seleccione...</option>
                <option value="1">Produccion</option>
                <option value="2">Dispensario Médico</option>
                <option value="3">RRHH</option>
            </select>
        </div>
        <div class="form-group col-md-3 col-sm-12">
            <label>Area</label>
            <select onchange="" id="selectArea" class="form-control">
                <option value="" selected>Seleccione...</option>
                <option value="1">Procesos</option>
                <option value="2">Pouch</option>
                <option value="3">Lata</option>
                <option value="3">Etiquetado</option>
                <option value="3">N/A</option>
            </select>
        </div>
        <div class="form-group col-md-2 col-sm-12">
            <label>Cedula</label>
            <input id="textCedula" class="form-control" type="text" name="name" value="" />
        </div>
        <div class="form-group col-md-2 col-sm-5">
            <label>Fecha Desde</label>
            <input id="dateDesde" class="form-control" type="date" name="name" value="@DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd")"  />
        </div>
        <div class="form-group col-md-2 col-sm-5">
            <label>Fecha Hasta</label>
            <input id="dateHasta" class="form-control" type="date" name="name" value="@DateTime.Now.ToString("yyyy-MM-dd")"  />
        </div>

    </div>
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseBitacora" aria-expanded="false" aria-controls="collapseBitacora">
                Consultar
            </button>
        </div>
    </div>
    <br />

    <div class="collapse" id="collapseBitacora">
        <div class="card card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Cedula</th>
                            <th>Empleado</th>
                            <th>Departamento prestado</th>
                            <th>Area prestado</th>
                            <th>Fecha de prestado</th>
                            <th>Fecha de regreso</th>
                            <th>Usuario de ingreso</th>
                            <th>Terminal de ingreso</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0999999999</td>
                            <td>Martinez Morales José</td>
                            <td>Produccion</td>
                            <td>Procesos</td>
                            <td><input type="datetime" name="name" value="@DateTime.Now.AddDays(-1).ToString("dd/MM/yyyy hh:ss tt")" class="form-control" /></td>
                            <td><input type="datetime" name="name" value="@DateTime.Now.ToString("dd/MM/yyyy hh:ss tt")" class="form-control" /></td>
                            <td>vcrespo</td>
                            <td>192.168.1.1</td>
                        </tr>
                        <tr>
                            <td>0999999999</td>
                            <td>Moran Morales Julio</td>
                            <td>RRHH</td>
                            <td>N/A</td>
                            <td><input type="datetime" name="name" value="@DateTime.Now.AddDays(-1).ToString("dd/MM/yyyy hh:ss tt")" class="form-control" /></td>
                            <td><input type="datetime" name="name" value="@DateTime.Now.ToString("dd/MM/yyyy hh:ss tt")" class="form-control" /></td>
                            <td>vcrespo</td>
                            <td>192.168.1.1</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>

</div>