@model  Asiservy.Automatizacion.Formularios.Models.Asistencia.CambioDePersonalViewModel
@{
    ViewBag.Title = "CambiarPersonalDeArea";
}

<link href="~/Content/DataTables/media/css/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTables/media/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTables/media/js/jquery.dataTables.js"></script>
<script src="~/Scripts/DataTables/media/js/dataTables.bootstrap4.min.js"></script>

<link href="~/Content/AsistenciaCss/CambiarPersonal.css" rel="stylesheet" />



<br />
<div class="container" style="padding-bottom:100px">
    <div class="row">
        <div class="col-md-6">
            <select class="browser-default custom-select" id="optcambiaremp">
                <option selected>Seleccione..</option>
                <option value="prestar">Prestar</option>
                <option value="regresar">Regresar</option>
            </select>
        </div>
    </div>
    <br />
    <div id="divregresar">
        <div id="div2regresar" >
            <div class="row">

                <div class="form-group col-sm-12 col-md-6">
                    @Html.Label("Línea:")
                    @Html.DropDownList("SelectLineaRegresar", new SelectList(ViewBag.Lineas, "Codigo", "Descripcion"), "Seleccione la Línea", new { @onchange = "CambioLineaRegresar(this.value)", @class = "form-control" })

                </div>
                <div class="form-group col-sm-12 col-md-6">
                    @Html.Label("Área:")
                    @Html.DropDownList("SelectAreaRegresar", new SelectList("", "Codigo", "Descripcion"), "Seleccione el Área", new { @onchange = "CambioAreaRegresar(this.value)", @class = "form-control" })

                </div>
                @*<div class="form-group col-sm-12 col-md-6" id="trlineao">
                        <label for="">Línea:</label>

                        <select class=" form-control">
                            <option selected>Seleccione..</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>*@
                @*<div class="form-group col-sm-12 col-md-6">
                        <label>Cargo:</label>

                        <select class="form-control ">
                            <option selected>Seleccione..</option>
                            <option>Limpiador</option>
                            <option>despellejador</option>
                            <option>Miga</option>
                            <option>Cacho</option>
                        </select>
                    </div>*@

            </div>
            <div class="row">

                <div class="col">
                    <center> <input type="button" id="ConsultarEmpleadosRegresar" value="Consultar" class="btn btn-primary" onclick="ConsultarEmpleadosRegresar();" /></center>
                    <br />
                </div>
               
            </div>

        </div>
      
        @*<div class="row" id="EmpleadosRegresar">
                <div class="col">
                    <table id="TablaEmpleadosRegresar" class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="checkall">
                                </th>
                                <th>
                                    Cédula
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Departamento Préstamo
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" id="checked0" class="checks"></td>
                                <td>0940203406</td>
                                <td>Juan Maldonado</td>
                                <td>RRHH</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="checked1" class="checks"></td>
                                <td>1188888456</td>
                                <td>Pedro Suarez</td>
                                <td>RRHH</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="checked2" class="checks"></td>
                                <td>2723626161</td>
                                <td>Alejandro Sánchez</td>
                                <td>Bodega</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="checked3" class="checks"></td>
                                <td>3635261617</td>
                                <td>María Perez</td>
                                <td>Dispensario Médico</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="checked4" class="checks"></td>
                                <td>1188888456</td>
                                <td>Andrea Bejarano</td>
                                <td> Bodega</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <br />
                <div class="col-12">

                    <br />
                    <div id="btnRegresarEmp"><center><input type="button" value="Regresar" class="btn btn-primary" /></center></div>
                </div>
            </div>*@


    </div>


    <div class="row" id="divprestar">


        <div class="col-md-6 col-sm-12">
          
            <fieldset class="form-group" style="height:100%">

                <legend>Origen</legend>
                <center>
                    <table>
                        <tr>
                            <td></td>
                            <td>
                                @Html.Label("Línea:")
                                @Html.DropDownList("SelectLineaOrigen", new SelectList(ViewBag.Lineas, "Codigo", "Descripcion"), "Seleccione la Línea", new { @onchange = "CambioLineaOrigen(this.value)", @class = "form-control" })

                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>
                                @Html.Label("Área:")
                                @Html.DropDownList("SelectAreaOrigen", new SelectList("", "Codigo", "Descripcion"), "Seleccione el Área", new { @onchange = "CambioAreaOrigen(this.value)", @class = "form-control" })

                            </td>
                        </tr>
                        @*<tr id="trlineaop">
                        <td>Línea:</td>
                        <td>
                            <select class="browser-default custom-select">
                                <option selected>Seleccione..</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </td>
                    </tr>*@
                        <tr>
                            <td></td>
                            <td>
                                @Html.Label("Cargo")
                                @Html.DropDownList("SelectCargoOrigen", new SelectList("", "Codigo", "Descripcion"), "Seleccione el Cargo", new { @class = "form-control" })

                            </td>
                        </tr>
                    </table>
                </center>
                <br />
                <center> <input type="button" id="ConsultarEmpleados" value="Consultar" class="btn btn-primary" onclick="ConsultarEmpleados();" /></center>
            </fieldset>
        </div>

        <div class="col-md-6 col-sm-12">
         
            <fieldset class="form-group" style="height:100%">
                <legend>Mover a</legend>
                <center>
                    <table>
                        <tr>
                            <td></td>
                            <td>
                                @Html.Label("Línea:")
                                @Html.DropDownListFor(m => m.Linea, new SelectList(ViewBag.Lineas, "Codigo", "Descripcion"), "Seleccione la Línea", new { @onchange = "CambioLinea(this.value)", @class = "form-control", @id = "selectLinea" })

                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Html.Label("Área:")
                                @Html.DropDownListFor(m => m.Area, new SelectList("", "Codigo", "Descripcion"), "Seleccione el Área", new { @onchange = "CambioArea(this.value)", @class = "form-control", @id = "selectArea" })

                            </td>
                        </tr>
                        @*<tr id="trlinea">
                                <td>Línea:</td>
                                <td>
                                    <select class="browser-default custom-select">
                                        <option selected>Seleccione..</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </td>
                            </tr>*@
                        @*<tr>
                                <td>Cargo:</td>
                                <td>
                                    <select class="browser-default custom-select">
                                        <option selected>Seleccione..</option>
                                        <option>Limpiador</option>
                                        <option>despellejador</option>
                                        <option>Miga</option>
                                        <option>Cacho</option>
                                    </select>
                                </td>
                            </tr>*@
                        <tr>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                        </tr>
                    </table>
                </center>
                <br /><br />
            </fieldset>
        </div>


    </div>
    <div class="col-12" id="contempleados">
        <br />
        <div class="container table-responsive" id="DivEmpleados">

        </div>
        <br />
        <div id="btnGuardarCambioEmp"><center><input type="button" value="Guardar" class="btn btn-primary" onclick="MoverEmpleados();" id="Guardar" /></center></div>
    </div>


</div>
<script src="~/Scripts/AsistenciaJS/CambiarPersonal.js"></script>
<script src="~/Scripts/General/CargarCombosLineas.js"></script>