@model  Asiservy.Automatizacion.Formularios.Models.Asistencia.CambioDePersonalViewModel
@{
    ViewBag.Title = "CambiarPersonalDeArea";
}
<style>
    td, th {
        padding: 0rem;
        padding-bottom: 3px;
    }

    .horaform {
        border: 1px solid #d1d3e2;
        border-radius: 0.35rem;
        height: 30px;
    }
</style>
<div class="" style="padding-bottom:100px">
    <div class="row">
        <div class="col-md-6">
            <select class="browser-default custom-select" id="optcambiaremp">
                <option selected>Seleccione..</option>
                <option value="prestar">Prestar</option>
                <option value="regresar">Regresar</option>
            </select>
        </div>
    </div>
    <br />
    <div id="divregresar">
        <div id="div2regresar">
            <div class="row">
                <div class="form-group col-sm-12 col-md-3">
                    @Html.Label("Centro de Costos:")
                    @Html.DropDownList("SelectAreaRegresar", new SelectList(ViewBag.CentroCostos, "Codigo", "Descripcion"), "Seleccione el Centro de Costos", new { @onchange = "ChangeCentroCostoRegresar(this.value)", @class = "form-control" })

                </div>
                <div class="form-group col-sm-12 col-md-3">
                    @Html.Label("Recurso:")
                    @Html.DropDownList("SelectRecursoRegresar", new SelectList("", "Codigo", "Descripcion"), "Seleccione el Recurso", new { @onchange = "ChangeRecursoRegresar(this.value)", @class = "form-control" })

                </div>
                <div class="form-group col-sm-12 col-md-3">
                    @Html.Label("Línea:")
                    @*@Html.DropDownList("SelectLineaRegresar", new SelectList(ViewBag.Lineas, "Codigo", "Descripcion"), "Seleccione la Línea", new { @onchange = "CambioLineaRegresar(this.value)", @class = "form-control" })*@
                    @Html.DropDownList("SelectLineaRegresar", new SelectList("", "Codigo", "Descripcion"), "Seleccione la Línea", new { @onchange = "ChangeLineaRegresar(this.value)", @class = "form-control" })

                </div>
                <div class="form-group col-sm-12 col-md-3">
                    @Html.Label("Cargo:")
                    @Html.DropDownList("SelectCargoRegresar", new SelectList("", "Codigo", "Descripcion"), "Seleccione el Cargo", new { @class = "form-control" })

                </div>
                @*<div class="form-group col-sm-12 col-md-3">
                        @Html.Label("Fecha:")
                        @Html.TextBox("txtFechaFin", null, new { type = "date", @class = "form-control" })
                    </div>
                    <div class="form-group col-sm-12 col-md-3">
                        @Html.Label("Hora:")
                        @Html.TextBox("txtHoraFin", null, new { type = "time", @class = "form-control" })
                    </div>*@
            </div>
            <div class="row">

                <div class="col">
                    <center> <input type="button" id="ConsultarEmpleadosRegresar" value="Consultar" class="btn btn-primary" onclick="ConsultarEmpleadosRegresar();" /></center>
                    <br />
                </div>

            </div>

        </div>
    </div>
    <div class="row" id="divprestar">
        <div class="col-md-6 col-sm-12">
            <fieldset class="form-group" style="height:100%">
                <legend>Origen</legend>
                <center>
                    <table>
                        <tr>
                            <td></td>
                            <td>
                                @Html.Label("Centro de Costos:")
                                @Html.DropDownList("SelectAreaOrigen", new SelectList(ViewBag.CentroCostos, "Codigo", "Descripcion"), "Seleccione el Centro de Costos", new { @onchange = "ChangeCentroCostoOrigen(this.value)", @class = "form-control" })
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Html.Label("Recurso:")
                                @Html.DropDownList("SelectRecursoOrigen", new SelectList("", "Codigo", "Descripcion"), "Seleccione el recurso", new { @onchange = "ChangeRecursoOrigen(this.value)", @class = "form-control" })

                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Html.Label("Línea:")
                                @Html.DropDownList("SelectLineaOrigen", new SelectList("", "Codigo", "Descripcion"), "Seleccione la Línea", new { @onchange = "ChangeLineaOrigen(this.value)", @class = "form-control" })

                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>
                                @Html.Label("Cargo")
                                @Html.DropDownList("SelectCargoOrigen", new SelectList("", "Codigo", "Descripcion"), "Seleccione el Cargo", new { @class = "form-control" })

                            </td>
                        </tr>
                    </table>
                </center>
                <br />
                <center> <input type="button" id="ConsultarEmpleados" value="Consultar" class="btn btn-primary" onclick="ConsultarEmpleados();" /></center>
            </fieldset>
        </div>

        <div class="col-md-6 col-sm-12">

            <fieldset class="form-group" style="height:100%">
                <legend>Prestar a</legend>
                <center>
                    <table>
                        <tr>
                            <td></td>
                            <td>
                                @Html.Label("Centro de Costos:")
                                @Html.DropDownListFor(m => m.Area, new SelectList(ViewBag.CentroCostos, "Codigo", "Descripcion"), "Seleccione el Centro de Costos", new { @onchange = "ChangeCentroCosto(this.value)", @class = "form-control", @id = "SelectArea" })

                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Html.Label("Recurso:")
                                @Html.DropDownListFor(m => m.Recurso, new SelectList("", "Codigo", "Descripcion"), "Seleccione el Recurso", new { @onchange = "ChangeRecurso(this.value)", @class = "form-control", @id = "SelectRecurso" })

                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Html.Label("Línea:")
                                @Html.DropDownListFor(m => m.Linea, new SelectList("", "Codigo", "Descripcion"), "Seleccione la Línea", new { @onchange = "ChangeLinea(this.value)", @class = "form-control", @id = "SelectLinea" })

                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Html.Label("Cargo:")
                                @Html.DropDownListFor(m => m.Cargo, new SelectList("", "Codigo", "Descripcion"), "Seleccione el Cargo", new { @class = "form-control", @id = "SelectCargo" })

                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>

                                <table cellpadding="0" border="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td style="padding-right:10px">
                                            @Html.Label("Fecha:")
                                            @Html.TextBox("txtFechaInicio", null, new { type = "date", @class = "form-control" })
                                        </td>
                                        <td>
                                            @Html.Label("Hora:")

                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="horaswitch" onchange="SetearHoraInicio();">

                                                <label class="custom-control-label" for="horaswitch" id="labelhora">Inicio Jornada</label>
                                                @Html.TextBox("txtHoraInicio", null, new { type = "time", @class = "horaform", style = "display: none;" })
                                            </div>

                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                        </tr>
                    </table>
                </center>
                <br /><br />
            </fieldset>
        </div>


    </div>

    <div class="row">
        <div class="col-12" id="contempleados">
            <br />
            <div class="table-responsive" id="DivEmpleados">

            </div>
            <br />
            <div id="btnGuardarCambioEmp">
                <div class="row" id="inputsregresar" style="display:none">
                    <div class="form-group col-sm-12 col-md-3">
                        @Html.Label("Fecha:")
                        @Html.TextBox("txtFechaFin", null, new { type = "date", @class = "form-control" })
                    </div>
                    <div class="form-group col-sm-12 col-md-3">
                        @Html.Label("Hora:")
                        @Html.TextBox("txtHoraFin", null, new { type = "time", @class = "form-control" })
                    </div>
                </div>
                <center>
                    <input type="button" value="Guardar" class="btn btn-primary" onclick="MoverEmpleados();" id="Guardar" />
                    <input type="button" value="Inactivar" class="btn btn-info" onclick="InactivarCambioPersonal();" id="btnInactivar" style="display:none" />

                </center>
            </div>
        </div>
    </div>

</div>

@*modal mensajes*@
<!-- Modal -->
<div class="modal fade" id="ModalMensajeCP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Mensaje del sistema</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="BodyMensajeCp">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"  onclick="javascript:window.location.reload()" >Cerrar</button>
            </div>
        </div>
    </div>
</div>
@*modal mensaje fin*@
<script src="~/Scripts/General/CargarCombosLineas.js"></script>
<link href="~/Content/AsistenciaCss/CambiarPersonal.css" rel="stylesheet" />