@model IEnumerable<Asiservy.Automatizacion.Formularios.Models.Asistencia.EmpleadoCuchilloViewModel>

<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th>
                <label>Id</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                <label>Cuchillo Blanco</label>
            </th>
            <th>
                <label>Cuchillo Rojo</label>

            </th>
            <th>
                <label>Cuchillo Negro</label>

            </th>
            <th>
                <label>Estado</label>
            </th>
            <th>
                <label>Fecha Ingreso</label>

            </th>
            <th>
                <label>Usuario Ingreso</label>

            </th>
            <th>
                <label>Terminal Ingreso</label>

            </th>
            <th>
                <label>Fecha Modificación</label>

            </th>
            <th>
                <label>Usuario Modificación</label>

            </th>
            <th>
                <label>Terminal Modificación</label>

            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr onclick="SeleccionEmpleadoCuchillo('@item.IdEmpleadoCuchillo','@item.Cedula','@item.CuchilloBlanco','@item.CuchilloRojo','@item.CuchilloNegro','@item.EstadoRegistro','@item.Nombre')">
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleadoCuchillo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuchilloBlanco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuchilloRojo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuchilloNegro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngresoLog)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioIngresoLog)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerminalIngresoLog)
            <td>
                @Html.DisplayFor(modelItem => item.FechaModificacionLog)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioModificacionLog)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerminalModificacionLog)

            </td>
            </td>

        </tr>
        }
    </tbody>
</table>


<script src="~/Scripts/General/dataTableJS.js"></script> 