@model Asiservy.Automatizacion.Formularios.Models.Asistencia.EmpleadoCuchilloViewModel

<style>
    input, select, textarea {
        max-width: 100%
    }  

</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <h4>Asignar Cuchillo - Empleado</h4>
        <input type="hidden" id="selectLinea" value="@ViewBag.CodLinea" />
        <label>@ViewBag.Linea</label>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-1 col-4">
                <div class="form-group">
                    <label>Id</label>
                    @Html.EditorFor(model => model.IdEmpleadoCuchillo, new { htmlAttributes = new { @class = "form-control", @Value = "0", @readonly = "readonly", @id = "IdEmpleadoCuchillo" } })
                    @Html.ValidationMessageFor(model => model.IdEmpleadoCuchillo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-3 col-8">
                <div class="form-group">

                    <label class="control-label ">Empleado</label>
                    @if (ViewBag.Empleados != null)
                    {
                        @*@Html.DropDownListFor(model => model.Cedula, new SelectList(ViewBag.Empleados, "CEDULA", "NOMBRES"), "Seleccione", new { @class = "form-control", @id = "SelectEmpleado" })*@
                        <div class="input-group">
                            @Html.TextBox("NombreEmpleado", null, new { style = "width: 65%;", @readonly = "readonly", @class = "form-control" })
                            @Html.Hidden("Cedula", null, new { @id = "Identificacion" })
                            <button type="button" onclick="CargarEmpleados('CargarEmpleadoPG');" id="CargarEmpleadoPG" class="">
                                <img src="~/Content/images/buscar.png" />
                            </button>

                            <br />
                        </div>
                    }
                    else
                    {
                        @*@Html.DropDownListFor(model => model.Cedula, new SelectList("", "CEDULA", "NOMBRES"), new { @class = "form-control" })*@
                    }
                    <p id="validaCedula" class="text-danger"></p>
                </div>
            </div>

            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>Cuchillo Blanco</label>
                    @Html.DropDownListFor(model => model.CuchilloBlanco, new SelectList(ViewBag.CuchillosBlancos, "NumeroCuchillo", "NumeroCuchillo"), "Seleccione", new { @class = "form-control", @id = "SelectCuchilloBlanco" })
                    <p id="validaCuchilloBlanco"></p>
                </div>
            </div>


            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>Cuchillo Rojo</label>
                    @Html.DropDownListFor(model => model.CuchilloRojo, new SelectList(ViewBag.CuchillosRojos, "NumeroCuchillo", "NumeroCuchillo"), "Seleccione", new { @class = "form-control", @id = "SelectCuchilloRojo" })
                    <p id="validaCuchilloRojo" class="text-danger"></p>
                </div>
            </div>

            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>Cuchillo Negro</label>
                    @Html.DropDownListFor(model => model.CuchilloNegro, new SelectList(ViewBag.CuchillosNegros, "NumeroCuchillo", "NumeroCuchillo"), "Seleccione", new { @class = "form-control", @id = "SelectCuchilloNegro" })
                    <p id="validaCuchilloNegro" class="text-danger"></p>
                </div>
            </div>

            <div class="col-md-2 col-12">
                <div class="form-group">
                    <div class="custom-control custom-checkbox mb-3">
                        <br />
                        @Html.CheckBox("EstadoRegistro", true, new { @id = "CheckEstadoRegistro", @class = "custom-control-input", @onchange = "CambioEstado(this.checked)" })
                        @*   <input type="checkbox" class="custom-control-input" id="CheckEstadoRegistro" name="example1">*@
                        <label class="custom-control-label" for="CheckEstadoRegistro" id="LabelEstado">Estado Registro</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="text-center">
                <button data-toggle="tooltip" data-placement="top" title="Grabar" class="btn" id="btnGuardar" style="border-color:#2c3e50" type="button" onclick="GrabarCuchilloEmpleado()">
                    <img style="width:100%" src="~/Content/icons/add24.png" />
                </button>
                <button data-toggle="tooltip" data-placement="top" title="Nuevo" class="btn" id="btnNuevo"  onclick="NuevoCuchilloEmpleado()" style="border-color:#2c3e50" type="button">
                    <img style="width:100%" src="~/Content/icons/clear24.png" />
                </button>

                @*<input type="submit" value="Grabar" class="btn btn-primary" />
                <input type="button" value="Nuevo" class="btn btn-info" onclick="Nuevo()" />*@
            </div>
        </div>
    </div>
}
<hr />
<div id="spinnerCargando" hidden class="text-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Cargando...</span>
    </div>
</div>

<div class="table-responsive" id="DivTableEmpleadoCuchillo"></div>

<div id="ModelCargarEmpleados"></div>


<script src="~/Scripts/SolicitudPermiso/Empleado.js"></script>