@model IEnumerable<Asiservy.Automatizacion.Formularios.Models.Asistencia.EmpleadoCuchilloViewModel>

<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpleadoCuchillo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuchilloBlanco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuchilloRojo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuchilloNegro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoRegistro)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="SeleccionEmpleadoCuchillo('@item.IdEmpleadoCuchillo','@item.Cedula','@item.CuchilloBlanco','@item.CuchilloRojo','@item.CuchilloNegro','@item.EstadoRegistro','@item.Nombre')">
                <td>
                    @Html.DisplayFor(modelItem => item.IdEmpleadoCuchillo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CuchilloBlanco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CuchilloRojo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CuchilloNegro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoRegistro)
                </td>

            </tr>
        }
    </tbody>
</table>


<script src="~/Scripts/General/dataTableJS.js"></script> 