@model Asiservy.Automatizacion.Formularios.Models.Asistencia.EmpleadoCuchilloViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br />
        <h4>Asignar Cuchillo - Empleado</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-1 col-sm-12">
                <div class="form-group">
                    <label>Id</label>
                    @Html.EditorFor(model => model.IdEmpleadoCuchillo, new { htmlAttributes = new { @class = "form-control", @Value = "0", @readonly = "readonly", @id = "IdEmpleadoCuchillo" } })
                    @Html.ValidationMessageFor(model => model.IdEmpleadoCuchillo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-3 col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "control-label col-md-2" })
                    @if (ViewBag.Empleados != null)
                    {
                        @Html.DropDownListFor(model => model.Cedula, new SelectList(ViewBag.Empleados, "CEDULA", "NOMBRES"), "Seleccione", new { @class = "form-control", @id = "SelectEmpleado" })
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.Cedula, new SelectList("", "CEDULA", "NOMBRES"), new { @class = "form-control" })
                    }
                    @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-2 col-sm-12">
                <div class="form-group">
                    <label>Cuchillo Blanco</label>
                    @Html.DropDownListFor(model => model.CuchilloBlanco, new SelectList(ViewBag.CuchillosBlancos, "NumeroCuchillo", "NumeroCuchillo"), "Seleccione", new { @class = "form-control", @id = "SelectCuchilloBlanco" })
                    @Html.ValidationMessageFor(model => model.CuchilloBlanco, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="col-md-2 col-sm-12">
                <div class="form-group">
                    <label>Cuchillo Rojo</label>
                    @Html.DropDownListFor(model => model.CuchilloRojo, new SelectList(ViewBag.CuchillosRojos, "NumeroCuchillo", "NumeroCuchillo"), "Seleccione", new { @class = "form-control", @id = "SelectCuchilloRojo" })
                    @Html.ValidationMessageFor(model => model.CuchilloRojo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-2 col-sm-12">
                <div class="form-group">
                    <label>Cuchillo Negro</label>
                    @Html.DropDownListFor(model => model.CuchilloNegro, new SelectList(ViewBag.CuchillosNegros, "NumeroCuchillo", "NumeroCuchillo"), "Seleccione", new { @class = "form-control", @id = "SelectCuchilloNegro" })
                    @Html.ValidationMessageFor(model => model.CuchilloNegro, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-2 col-sm-12">
                <div class="form-group">
                    <div class="custom-control custom-checkbox mb-3">
                        <br />
                        @Html.CheckBox("EstadoRegistro", true, new { @id = "CheckEstadoRegistro", @class = "custom-control-input", @onchange = "CambioEstado(this.checked)" })
                        @*   <input type="checkbox" class="custom-control-input" id="CheckEstadoRegistro" name="example1">*@
                        <label class="custom-control-label" for="CheckEstadoRegistro" id="LabelEstado">Estado Registro</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="text-center">
                <input type="submit" value="Grabar" class="btn btn-primary" />
                <input type="button" value="Nuevo" class="btn btn-info" onclick="Nuevo()" />
            </div>
        </div>
    </div>
}

<div class="table-responsive" id="DivTableEmpleadoCuchillo"></div>


<link href="~/Content/DataTables/media/css/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTables/media/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/extensions/Buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/extensions/Buttons/css/buttons.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTables/media/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/media/js/dataTables.bootstrap4.min.js"></script>

<script src="~/Scripts/AsistenciaJS/EmpleadoCuchillo.js"></script>