@model Asiservy.Automatizacion.Datos.Datos.CUCHILLO

@{
    ViewBag.Title = "Cuchillo";
}
<style>
    input, select, textarea {
        max-width: 100%
    }
</style>

@using (Html.BeginForm("Cuchillo"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Mantenimiento de Cuchillo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">

            <div class="offset-md-2 col-md-3 col-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.NumeroCuchillo, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.NumeroCuchillo, new { htmlAttributes = new { @class = "form-control", @id = "NumeroCuchillo" } })
                    @Html.ValidationMessageFor(model => model.NumeroCuchillo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3 col-8">
                <div class="form-group">
                    @Html.LabelFor(model => model.ColorCuchillo, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.ColorCuchillo, new SelectList(ViewBag.ColorCuchillos, "Codigo", "Descripcion"), new { @class = "form-control", @id = "ColorCuchillos" })
                    @Html.ValidationMessageFor(model => model.ColorCuchillo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="form-group">
                    <div class="custom-control custom-checkbox mb-3">
                        <br />
                        @Html.CheckBox("EstadoRegistro", true, new { @id = "CheckEstadoRegistro", @class = "custom-control-input", @onchange = "CambioEstado(this.checked)" })
                        @*   <input type="checkbox" class="custom-control-input" id="CheckEstadoRegistro" name="example1">*@
                        <label class="custom-control-label" for="CheckEstadoRegistro" id="LabelEstado">Estado Registro</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="text-center">
                <button data-toggle="tooltip" data-placement="top" title="Grabar" class="btn" id="Nuevo" style="border-color:#2c3e50" type="submit">
                    <img style="width:100%" src="~/Content/icons/add24.png" />
                </button>
            </div>
        </div>
    </div>
}
<hr />
<div id="spinnerCargando" hidden class="text-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Cargando...</span>
    </div>
</div>
<div id="DivColorCuchillos" class="table-responsive"></div>

