@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaControlAsistencia>

<table class=" table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.EstadoAsistencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turno)
            </th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {

            foreach (var item in Model)
            {
                <tr>                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Cedula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoAsistencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Turno)
                    </td>
                    <td class="text-center">
                        <button data-toggle="tooltip" data-placement="top" title="Editar" class="btn" id="" onclick="MostarModalEditar('@item.IdAsistencia','@item.CodigoEstado','@item.Hora','@item.Observacion')" style="border-color:#2c3e50" type="button">
                            <i style="color:#0026ff" class="fas fa-edit"></i>
                        </button>

                      @*  <input type="button" name="name" value="Editar" class="btn btn-link" onclick="MostarModalEditar('@item.IdAsistencia','@item.CodigoEstado','@item.Hora','@item.Observacion')" />*@
                    </td>
                </tr>
            }
        }
    </tbody>
</table>



<script src="~/Scripts/General/dataTableJS.js"></script> 