@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsutaEmpleadosFiltroCambioPersonal>
@using Asiservy.Automatizacion.Datos.Datos;

<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th>Check</th>
            <th>Cédula</th>
            <th>Nombre</th>
            @if (ViewBag.ADondeFuePrestado != null)
            {
                <th>Movido a</th>
            }
            <th>Línea</th>
            <th>Área</th>
            <th>Cargo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><input type="checkbox" id="Empleado-@item.CEDULA" /></td>
                <td>@item.CEDULA</td>
                <td>@item.NOMBRES</td>
                @{string LineaMovido = "";
                    if (ViewBag.ADondeFuePrestado != null)
                    {
                        List<spConsutaEmpleadosFiltroCambioPersonal> listEmpleados = ViewBag.ADondeFuePrestado;
                        LineaMovido = (from e in listEmpleados
                                       where e.CEDULA == item.CEDULA
                                       select e.LINEA).FirstOrDefault();
                    }
                }
                @if (ViewBag.ADondeFuePrestado != null)
                {
                    <td>@LineaMovido</td>
                }
                <td>@item.LINEA</td>
                <td>@item.AREA</td>
                <td>@item.CARGO</td>
            </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/General/dataTableJS.js"></script> 