@using Asiservy.Automatizacion.Datos.Datos;

<style>
    #modalprestados > modal {
        display: block;
    }

    #modalprestado > modal-dialog {
        /*overflow-y: initial !important*/
    }

    #modalprestado > modal-body {
        height: 250px;
        overflow-y: auto;
    }
</style>
@*ModalPrestadosInfo*@
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="modalprestados" data-backdrop="static">
    <div class="modal-dialog" role="document" @*style="max-height:85%;  margin-top: 50px; margin-bottom:50px;"*@>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mensaje del Sistema <label id="lblhora"></label></h5>
                <script>
                    $('#lblhora').text($('#horaservidor').val());
                </script>
            </div>
            <div class="modal-body table-responsive">

                @Html.Hidden("LineaPres")
                @Html.Hidden("banderapres")
                <input type="hidden" value="@ViewBag.Prestado" id="txtPrestado" />

                <table class="table-hover table-bordered table-striped table">
                    <thead>
                        <tr>
                            <th>Cédula</th>
                            <th>Nombres</th>
                            <th>Linea</th>
                            <th>Prestado a</th>
                        </tr>
                    </thead>

                    <tbody>
                        @*@if (ViewData["Empleados"] != null)*@
                        @if (ViewBag.ListaEmpleadosPres != null)
                        {

                            //foreach (var item in ViewData["Empleados"] as List<spConsultaPersonalADondeFueronMovidos>)
                            foreach (var item in ViewBag.ListaEmpleadosPres as List<spConsultaPersonalADondeFueronMovidos>)
                            {
                                <tr>
                                    <td>@item.CEDULA</td>
                                    <td>@item.NOMBRES</td>
                                    <td>@item.LINEA</td>
                                    <td>@item.LINEAMOVIDO</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <center><h5 class="text-warning" id="MensajeModalPrestado"></h5></center>


            </div>
            <div class="modal-footer">
                Existe personal prestado, ¿desea continuar?
                <button type="button" class="btn btn-default" id="modal-btn-si" onclick="GenerarAsistenciaOk()">Si</button>
                <button type="button" class="btn btn-primary" id="modal-btn-no" onclick="CerrarModalPrestadoInfo()">No</button>

            </div>
        </div>
    </div>
</div>

