@model List<Asiservy.Automatizacion.Datos.Datos.spReporteCambioPersonal>

<table class="table table-striped" id="tablacprpt">
    <thead>
        <tr>
            <th>
                Nombres
            </th>
            <th>
                Tipo
            </th>
            <th>
                Línea Movido
            </th>
            <th>
                Línea Original
            </th>
            <th>
                Fecha
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.NOMBRES
                </td>
                <td>
                    @item.TIPO
                </td>
                <td>
                    @item.LineaMovido
                </td>
                <td>
                    @item.LineaOriginal
                </td>
                <td>
                    @item.Fecha
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $('#tablacprpt').DataTable({
    "language": {
        "sProcessing": "Procesando...",
        "sLengthMenu": "Mostrar _MENU_ registros",
        "sZeroRecords": "No se encontraron resultados",
        "sEmptyTable": "Ningún dato disponible en esta tabla",
        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix": "",
        "sSearch": "Buscar:",
        "sUrl": "",
        "sInfoThousands": ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
            "sFirst": "Primero",
            "sLast": "Último",
            "sNext": "Siguiente",
            "sPrevious": "Anterior"
        },
        "oAria": {
            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
    },
    "pageLength": 5,
    "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
    "pagingType": "full_numbers"

});
</script>