@model List<Asiservy.Automatizacion.Datos.Datos.spReporteCambioPersonal>

<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th>
                Cédula
            </th>
            <th>
                Nombres
            </th>
            <th>
                Centro de Costo Origen
            </th>
            <th>
                Recurso Origen
            </th>
            <th>
                Linea Origen
            </th>
            <th>
                Cargo Origen
            </th>
            <th>
                Centro de Costo Movido
            </th>
            <th>
                Recurso Movido
            </th>
            <th>
                Línea Movido
            </th>
            <th>
                Cargo Movido
            </th>
            <th>
                Fecha Movimiento
            </th>
            <th>
                Hora Movimietno
            </th>
            <th>Fecha Regreso</th>
            <th>Hora Regreso</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.CEDULA
                </td>
                <td>
                    @item.NOMBRES
                </td>
                <td>
                    @item.CentroCostosOrigen
                </td>
                <td>
                    @item.RecursoOrigen
                </td>
                <td>
                    @item.LineaOrigen
                </td>
                <td>
                    @item.CargoOrigen
                </td>
                <td>
                    @item.CentroCostoMovido
                </td>
                <td>
                    @item.RecursoMovido
                </td>
                <td>
                    @item.LineaMovido
                </td>
                <td>
                    @item.CargoMovido
                </td>
                <td>
                    @item.FechaMovido
                </td>
                <td>
                    @item.HoraMovido
                </td>
                <td>
                    @item.FechaRegreso
                </td>
                <td>
                    @item.HoraRegreso
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/Scripts/General/dataTableJS.js"></script> 