
@model List<Asiservy.Automatizacion.Formularios.Models.SolicitudPermisoViewModel>


<div class="table-responsive">
    <table class="table-bordered table-hover table-striped table" style="cursor: pointer" id="tblDataTable">
        <thead>
            <tr>
                <th>
                    <label>Check</label>
                </th>
                <th>#</th>
                <th>Fecha Creación</th>
                <th>Motivo</th>
                <th>Línea</th>
                <th hidden>Area</th>
                <th>Empleado</th>
                <th>Biométrico</th>
                <th><label style="width:150px">Acciones</label></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var m in Model)
                {
                    <tr>
                        <td class="text-center">
                            <input class="check check-circle" name="case" type="checkbox" id="solicitud-@m.IdSolicitudPermiso" />
                        </td>
                        <td>@m.IdSolicitudPermiso</td>
                        <td>@m.FechaIngresoLog</td>
                        <td>@m.DescripcionMotivo</td>
                        <td>@m.DescripcionLinea</td>
                        <td hidden>@m.DescripcionArea</td>
                        <td>@m.NombreEmpleado</td>
                        <td>@m.FechaBiometrico</td>
                        <td style="width:200px" id="tdAcciones">

                            <button data-toggle="tooltip" data-placement="top" title="Mostrar" class="btn iconStyle" id="Nuevo" onclick="Mostrar(@m.IdSolicitudPermiso)" style="border-color:#2c3e50" type="button">
                                <i class="fas fa-search"></i>
                            </button>
                            <button data-toggle="tooltip" data-placement="top" title="Aprobar" class="btn btn-link iconStyle" id="btnAprobarSolicitud" onclick="AprobarSolicitud(@m.IdSolicitudPermiso,this.id)" style="border-color:#2c3e50" type="button">
                                <i class="fas fa-check"></i>
                            </button>
                            <button data-toggle="tooltip" data-placement="top" title="Anular" class="btn iconStyle" id="btnObservacion" onclick="ObservacionModalAnular(@m.IdSolicitudPermiso,this.id)" style="border-color:#2c3e50" type="button">
                                <i class="fas fa-times text-danger"></i>
                            </button>
                            @*<input name="chkbox" type="button" value="Ver" onclick="Mostrar(@m.IdSolicitudPermiso)" class=" btn btn-link" />
                                <input name="chkbox" type="button" value="Aprobar" onclick="AprobarSolicitud(@m.IdSolicitudPermiso)" class=" btn btn-link" />
                                <input name="chkbox" type="button" value="Anular" onclick="Observacion(@m.IdSolicitudPermiso)" class=" btn btn-link" />*@
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<br />
<div class="container-fluid text-center">
    <input type="button" class="btn btn-info" name="name" value="Aprobar" onclick="AprobarSolitudes()" id="btnAprobar" />
    <button class="btn btn-info" type="button" disabled hidden id="btnArpobarEspera">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Espere...
    </button>
</div>


<div id="ModalMensaje"></div>

