

@model List<Asiservy.Automatizacion.Formularios.Models.SolicitudPermisoViewModel>

@{
    ViewBag.Title = "BandejaProduccion";
}
@{
    WebGrid webGrid = new WebGrid(source: Model, canSort: false, rowsPerPage: 5);
}
<style>
    input, select, textarea {
        max-width: 100%
    }
</style>
<h3>Bandeja de Aprobacion</h3>


<div class="row">
    <div class="col">
        <select class="form-control">
            <option value="value">Departamento..</option>
            <option value="value" selected>Produccion</option>
            <option value="value">RRHH</option>
        </select>
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>

</div>
<br />

<div class="table-responsive">
    <table id="TableBandeja" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>
                    @*<div style="float:left">
                        <label>Todos</label>
                        <input type="checkbox" name="name" value="" id="checkTodos" onchange="checkTodos()" />
                    </div>*@
                </th>
                <th>Solicitud</th>
                <th>Fecha Creación</th>
                <th>Motivo</th>
                <th>Linea</th>
                <th>Area</th>
                <th>Empleado</th>
                <th>Biométrico</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
          
           @if (Model != null)
           {
           foreach (var m in Model)
           {
            <tr>
                <td><input class="case" name="case" type="checkbox" id="solicitud-@m.IdSolicitudPermiso" /></td>
                <td>@m.IdSolicitudPermiso</td>
                <td>@m.FechaIngresoLog</td>
                <td>@m.DescripcionMotivo</td>
                <td>@m.DescripcionLinea</td>
                <td>@m.DescripcionArea</td>
                <td>@m.NombreEmpleado</td>
                <td>@m.FechaBiometrico</td>
                <td style="width:20%">
                    <input name="chkbox" type="button" value="Ver" onclick="Mostrar(@m.IdSolicitudPermiso)" class=" btn btn-link" />
                    <input name="chkbox" type="button" value="Aprobar" onclick="AprobarSolicitud(@m.IdSolicitudPermiso)" class=" btn btn-link" />
                    <input name="chkbox" type="button" value="Anular" onclick="Observacion(@m.IdSolicitudPermiso)" class=" btn btn-link" />
                </td>
            </tr>

           }
           }

        </tbody>
    </table>
</div>
<br />
<div class="container-fluid text-center">
    <input type="button" class="btn btn-info" name="name" value="Aprobar" onclick="AprobarSolitudes()" />
    
</div>


@* +++++++++++MODAL EDITAR SOLICITUD++++++++++++++++++++++ *@
<br />
<div class="modal fade" id="ModalAprobacion" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Solicitud Permiso</h4>
            </div>
            <div class="modal-body" id="modal_body">       
            </div>      
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- MODAL PARA INGRESO DE OBSERVACION -->
<div class="modal fade" id="ModalObservacion" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Ingrese motivo</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <textarea class="form-control" rows="5" id="txtObservaccionAnulacion"></textarea>
                <input type="text" name="name" value="" hidden id="txtIdSolicitud" />
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="Anular()">Aceptar</button>
            </div>

        </div>
    </div>
</div>
<div id="ModalMensaje"></div>

<link href="~/Content/DataTables/media/css/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTables/media/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTables/media/js/jquery.dataTables.js"></script>
<script src="~/Scripts/DataTables/media/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/SolicitudPermisoJS/Bandeja.js"></script>
<script src="~/Scripts/Mensajes/Mensajes.js"></script>