

@model List<Asiservy.Automatizacion.Formularios.Models.SolicitudPermisoViewModel>

@{
    ViewBag.Title = "BandejaProduccion";
}


<style>
    input, select, textarea {
        max-width: 100%
    }
    /*.btn + .tooltip > .tooltip-inner {
        background-color: #73AD21;
        color: #FFFFFF;
        border: 1px solid green;
        padding: 15px;
        font-size: 20px;
    }
    
    .btn + .tooltip.top > .tooltip-arrow {
        border-top: 5px solid green;
    }*/
</style>
<h3>Bandeja de Aprobacion</h3>
<div class="row">
    <div class="col-md-4 col-12">
        <input type="text" name="name" value="@ViewBag.Linea" class="form-control" disabled />
    </div>   
</div>
<br />

<div class="table-responsive">
    <table class="table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
        <thead>
            <tr>
                <th>
                    <label>Check</label>
                </th>
                <th>Solicitud</th>
                <th>Fecha Creación</th>
                <th>Motivo</th>
                <th>Línea</th>
                <th hidden>Area</th>
                <th>Empleado</th>
                <th>Biométrico</th>
                <th ><label  style="width:150px" >Acciones</label></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var m in Model)
                {
                    <tr>
                        <td>
                            <label class="btn btn-dark text-xs-center" for="solicitud-@m.IdSolicitudPermiso">
                                <input class="case" name="case" type="checkbox" id="solicitud-@m.IdSolicitudPermiso" />

                            </label>
                        </td>
                        <td>@m.IdSolicitudPermiso</td>
                        <td>@m.FechaIngresoLog</td>
                        <td>@m.DescripcionMotivo</td>
                        <td>@m.DescripcionLinea</td>
                        <td hidden>@m.DescripcionArea</td>
                        <td>@m.NombreEmpleado</td>
                        <td>@m.FechaBiometrico</td>
                        <td style="width:200px">
                            <button data-toggle="tooltip" data-placement="top" title="Mostrar" class="btn" id="Nuevo" onclick="Mostrar(@m.IdSolicitudPermiso)" style="border-color:#2c3e50" type="button">
                                <i class="fas fa-search"></i>
                            </button>
                            <button data-toggle="tooltip" data-placement="top" title="Aprobar" class="btn btn-link"  id="Nuevo" onclick="AprobarSolicitud(@m.IdSolicitudPermiso)" style="border-color:#2c3e50" type="button">
                                <i class="fas fa-check"></i>
                            </button>
                            <button data-toggle="tooltip" data-placement="top" title="Anular" class="btn btn-link" id="Nuevo" onclick="Observacion(@m.IdSolicitudPermiso)" style="border-color:#2c3e50" type="button">
                                <i class="fas fa-times text-danger"></i>
                            </button>
                            @*<input name="chkbox" type="button" value="Ver" onclick="Mostrar(@m.IdSolicitudPermiso)" class=" btn btn-link" />
                            <input name="chkbox" type="button" value="Aprobar" onclick="AprobarSolicitud(@m.IdSolicitudPermiso)" class=" btn btn-link" />
                            <input name="chkbox" type="button" value="Anular" onclick="Observacion(@m.IdSolicitudPermiso)" class=" btn btn-link" />*@
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<br />
<div class="container-fluid text-center">
    <input type="button" class="btn btn-info" name="name" value="Aprobar" onclick="AprobarSolitudes()" />

</div>


@* +++++++++++MODAL EDITAR SOLICITUD++++++++++++++++++++++ *@
<br />
<div class="modal fade" id="ModalAprobacion" data-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Solicitud Permiso</h4>
            </div>
            <div class="modal-body" id="modal_body">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- MODAL PARA INGRESO DE OBSERVACION -->
<div class="modal fade" id="ModalObservacion" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Ingrese motivo</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <textarea class="form-control" rows="5" id="txtObservaccionAnulacion"></textarea>
                <input type="text" name="name" value="" hidden id="txtIdSolicitud" />
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="Anular()">Aceptar</button>
            </div>

        </div>
    </div>
</div>
<div id="ModalMensaje"></div>


