@model List<Asiservy.Automatizacion.Formularios.Models.SolicitudPermisoViewModel>


            <table class="table table-bordered" id="tablasolicitudrpt">
                <thead>
                    <tr>
                        <th>Solicitud</th>
                        <th>Línea</th>
                        <th>Area</th>
                        <th>Empleado</th>
                        <th>Estado</th>
                        <th>Biometrico</th>
                        @if (ViewBag.Garita != null)
                        {
                            <td> Acción </td>
                        }
                    </tr>
                </thead>
                <tbody>
                   @foreach (var item in Model)
                   {
                       var estado = (item.EstadoSolicitud == "002" ? "text-success" : item.EstadoSolicitud=="001"?"text-warning":item.EstadoSolicitud=="003"? "text-danger" : "text-secondary");
                    <tr>
                        <td>@item.IdSolicitudPermiso</td>
                        <td>@item.DescripcionLinea</td>
                        <td>@item.DescripcionArea</td>
                        <td>@item.NombreEmpleado</td>
                        <td class="@estado">@item.DescripcionEstadoSolicitud</td>
                        <td>@item.FechaBiometrico</td>
                        @if (ViewBag.Garita != null)
                        {
                            <td> <input type="button" name="name" value="Marcar Salida" class="btn btn-primary" onclick="MarcarSalida(@item.IdSolicitudPermiso,'@item.FechaBiometrico')" /> </td>
                        }
                        </tr>
                   }
                </tbody>
            </table>


    <script>
        $('#tablasolicitudrpt').DataTable({
           
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            "pageLength": 5,
            "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
            "pagingType": "full_numbers"
        });
    </script>