@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaSolcitudesPermisos>
@using System.Globalization;

@{
    /**/
    CultureInfo ci = new CultureInfo("Es-Es");
}

<table class="table table-bordered table-striped " style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th>#</th>
            <th>Línea</th>
            <th hidden>Area</th>
            <th>Empleado</th>
            <th>Estado</th>
            <th>Biometrico</th>
            <th> Salida</th>

            @if (ViewBag.Garita != null)
            {
                <th> Médico </th>
                <th> Acción </th>
            }
            else
            {
                <th>Regreso</th>
                <th>Motivo</th>
                <th>Observación</th>
                <th>Fecha Ingreso</th>
                <th>Terminal Ingreso</th>
                <th>Usuario Ingreso</th>
                <th>Fecha Modificación</th>
                <th>Terminal Modificación</th>
                <th>Usuario Modificación</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string FechaBiometrico = string.Empty;
            if (item.FechaBiometrico != null)
            {
                FechaBiometrico = ci.DateTimeFormat.GetDayName(item.FechaBiometrico.Value.DayOfWeek) + ", " + @item.FechaBiometrico.Value.ToString("dd-MM-yyyy HH:mm");
            }

            var diaSalida = ci.DateTimeFormat.GetDayName(item.FechaSalida.DayOfWeek);
            var estado = (item.CodEstadoSolicitud == "002" ? "text-success" : item.CodEstadoSolicitud == "001" ? "text-warning" : item.CodEstadoSolicitud == "003" ? "text-secondary" : "text-danger");
            <tr>
                <td>@item.IdSolicitudPermiso</td>
                <td>@item.Linea</td>
                <td hidden>@item.Area</td>
                <td>@item.Nombre</td>
                <td class="@estado">@item.EstadoSolicitud</td>
                <td>@FechaBiometrico</td>
                <td>@diaSalida, @item.FechaSalida.ToString("dd-MM-yyyy HH:mm")</td>
                @if (ViewBag.Garita != null)
                {
                    <td class="text-center">
                        @if (item.Origen == "M")
                        {
                            <i class="fas fa-briefcase-medical" style="color:blue"></i>
                        }
                    </td>

                    <td> <input type="button" name="name" value="Marcar Salida" class="btn btn-outline-info" onclick="MarcarSalida(@item.IdSolicitudPermiso,'@item.FechaBiometrico','@item.FechaSalida')" /> </td>
                }
                else
                {
                    var diaEntrada = ci.DateTimeFormat.GetDayName(item.FechaRegreso.DayOfWeek);

                    <td>@diaEntrada, @item.FechaRegreso.ToString("dd-MM-yyyy HH:mm")</td>
                    <td>@item.Motivo</td>
                    <td>@item.Observacion</td>
                    <td>@item.FechaIngresoLog</td>
                    <td>@item.TerminalIngresoLog</td>
                    <td>@item.UsuarioIngresoLog</td>


                    <td>@item.FechaModificacionLog</td>
                    <td>@item.TerminalModificacionLog</td>
                    <td>@item.UsuarioModificacionLog</td>
                }
            </tr>
        }
    </tbody>
</table>