@model Asiservy.Automatizacion.Formularios.Models.SolicitudPermisoViewModel

@{
    ViewBag.Title = "SolicitudPermiso";
}


<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/SolicitudPermisoCss/SolicitudPermiso.css" rel="stylesheet" />
<style>
    input, select, textarea {
        max-width: 100%
    }
</style>
<br />
<div style="padding:0 5% 5% 5%" class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-">
            <h4>Solicitud de Permiso General</h4>
            <label>Fecha: @DateTime.Now.ToShortDateString()</label>
        </div>
    </div>

    <div class="row">

        <div class="col-md-2"></div>
        <div class="col-md-8 col-sm-12 border border-secondary">
            @using (Html.BeginForm("SolicitudPermiso", "SolicitudPermiso"))
            {
            <div class="row">
                @if (ViewBag.Supervisor != null)
                {
                    <div class="col-md-4 col-sm-12">
                        @Html.LabelFor(m => m.DescripcionLinea)
                        @Html.DropDownListFor(m => m.CodigoLinea, new SelectList(ViewBag.Lineas, "Codigo", "Descripcion"), "Seleccione la Línea", new { @onchange = "CambioLinea(this.value)", @class = "form-control", @id = "selectLinea" })
                        @Html.ValidationMessageFor(m => m.CodigoLinea, "", new { @class = "input-validation-error text-danger has-error" })

                    </div>

                    <div class="col-md-4 col-sm-12">
                        @Html.LabelFor(m => m.DescripcionArea)
                        @Html.DropDownListFor(m => m.CodigoArea, new SelectList("", "Codigo", "Descripcion"), "Seleccione el Área", new { @onchange = "CambioArea(this.value)", @class = "form-control", @id = "selectArea" })
                        @Html.ValidationMessageFor(m => m.CodigoArea, "", new { @class = "input-validation-error text-danger has-error" })
                    </div>

                    <div class="col-md-4 col-sm-12">
                        @Html.LabelFor(m => m.DescripcionCargo)
                        @Html.DropDownListFor(m => m.CodigoCargo, new SelectList("", "Codigo", "Descripcion"), "Seleccione el Cargo", new { @class = "form-control", @id = "selectCargo" })
                        @Html.ValidationMessageFor(m => m.CodigoCargo, "", new { @class = "input-validation-error text-danger has-error" })
                    </div>
                }
                
            </div>
                <div class="row">

                    <div class="col-md-4 col-sm-12">
                        <label>Empleado</label>
                        <div>
                            @if (ViewBag.Supervisor != null)
                            {
                                @Html.TextBoxFor(m => m.NombreEmpleado, null, new { style = "width: 65%;", @readonly = "readonly" })
                                @Html.HiddenFor(m => m.Identificacion)
                                <button type="button" onclick="CargarEmpleados('CargarEmpleadoPG');" id="CargarEmpleadoPG">
                                    <img src="~/Content/images/buscar.png" />
                                </button><br />
                                @Html.ValidationMessageFor(m => m.NombreEmpleado, "", new { @class = "input-validation-error text-danger has-error" })
                            }
                            else
                            {
                                @Html.HiddenFor(m => m.Identificacion)
                                <input type="text" readonly value="" class="form-control"/>   
                            }
                        </div>
                       
                    </div>

                    <div class="custom-control custom-radio">
                        @Html.LabelFor(m => m.DescripcionMotivo, new { @class = "" })
                        @Html.DropDownListFor(m => m.CodigoMotivo, new SelectList(ViewBag.MotivosPermiso, "CodigoMotivo", "Descripcion"), "Seleccione el Motivo", new { @class = "form-control", @id = "selectMotivo" })
                        @Html.ValidationMessageFor(m => m.CodigoMotivo, "", new { @class = "input-validation-error text-danger has-error" })

                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(m => m.Observacion)
                    @Html.TextAreaFor(m => m.Observacion, new { @class = "form-control" })
                </div>
                @Html.ValidationMessage("CustomError", "", new { @class = "input-validation-error text-danger has-error" })
                <div class="row">
                    <div class="col-md-2 col-sm-1">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="switchHoraFecha" onchange="CambioHoraFecha();">
                            <label class="custom-control-label" for="switchHoraFecha">Fecha/Hora</label>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <label>Fecha</label>
                        @Html.TextBoxFor(m => m.FechaSalidaEntrada, new { @type = "date", @id = "dateSalidaRegreso", @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-md-3 col-sm-5">
                        <label>Hora Salida</label>
                        @Html.TextBoxFor(m => m.HoraSalida, new { @type = "time", @id = "timeHoraSalida", @class = "form-control", @readonly = "readonly" })
                        @*<input class="form-control" type="time" name="name" value="" id="timeHoraDesde" readonly />*@
                    </div>
                    <div class="col-md-3  col-sm-5">
                        <label>Hora Regreso</label>
                        @Html.TextBoxFor(m => m.HoraRegreso, new { @type = "time", @id = "timeHoraRegreso", @class = "form-control", @readonly = "readonly" })
                        @*<input class="form-control" type="time" name="name" value="" id="timeHoraHasta" readonly />*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <label>Fecha Salida</label>
                        @Html.TextBoxFor(m => m.FechaSalida, new { @type = "date", @id = "dateSalida", @class = "form-control" })
                        @*<input class="form-control" type="date" name="name" value="" id="datetimeDesde" />*@
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label>Fecha Regreso</label>
                        @Html.TextBoxFor(m => m.FechaRegreso, new { @type = "date", @id = "dateRegreso", @class = "form-control" })

                    </div>
                </div>
                <br />
                <center><input type="submit" class="btn btn-info" name="name" value="Generar" id="GuardarSolicitudGeneral"/></center>
                <br />
            }
        </div>
        <div class="col-md-2"></div>
    </div>


</div>
<div id="ModelCargarEmpleados"></div>
<br /><br />
<script src="~/Scripts/SolicitudPermisoJS/SolicitudPermiso.js"></script>
<script src="~/Scripts/SolicitudPermisoJS/Empleado.js"></script>