@model Asiservy.Automatizacion.Formularios.Models.SolicitudPermisoViewModel


<style>
    input, select, textarea {
        max-width: 100%;
    }
</style>

@using (Html.BeginForm("SolicitudPermisoEdit"))
{
    @Html.AntiForgeryToken()
    @Html.TextArea("frm",new { @hidden="hidden", @id= "frmName" })

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                @Html.LabelFor(model => model.IdSolicitudPermiso, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.IdSolicitudPermiso, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.IdSolicitudPermiso, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                @Html.LabelFor(model => model.DescripcionCargo, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.DescripcionCargo, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.DescripcionCargo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                @Html.LabelFor(model => model.Identificacion, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Identificacion, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.Identificacion, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                @Html.LabelFor(model => model.NombreEmpleado, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.NombreEmpleado, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.NombreEmpleado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                @Html.LabelFor(model => model.DescripcionMotivo, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-12">
                    @Html.DropDownListFor(m => m.CodigoMotivo, new SelectList(ViewBag.MotivosPermiso, "CodigoMotivo", "DescripcionMotivo"), "Seleccione", new { @class = "form-control", @id = "selectMotivo" })
                    @Html.ValidationMessageFor(model => model.DescripcionMotivo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="exampleFormControlTextarea1" class="control-label col-md-6">Observacion</label>
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.Observacion,new { @class = "form-control", @rows = 4, @id = "exampleFormControlTextarea1", @maxlength="500" })
                    @Html.ValidationMessageFor(model => model.Observacion, "", new { @class = "text-danger"  })
                </div>
            </div>
        </div>
    </div>

    
    @if (Model.Origen == "M")
    {
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                @Html.LabelFor(model => model.CodigoDiagnostico, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.DropDownListFor(m => m.CodigoDiagnostico, new SelectList(ViewBag.CodigosEnfermedad, "codigo", "Descripcion"), "Seleccione", new { @class = "form-control", @id = "selectMotivo" })
                    @Html.ValidationMessageFor(model => model.CodigoDiagnostico, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                @Html.LabelFor(model => model.CodigoClasificador, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.DropDownListFor(m => m.CodigoClasificador, new SelectList(ViewBag.ClasificaroMedico, "codigo", "Descripcion",Model.CodigoClasificador), "Seleccione", new { @class = "form-control", @id = "selectMotivo" })
                    @Html.ValidationMessageFor(model => model.CodigoClasificador, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                @Html.LabelFor(model => model.NombreMedico, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.NombreMedico, new { @class = "form-control", @id = "selectMotivo" })
                    @Html.ValidationMessageFor(model => model.NombreMedico, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>


    }


    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                @Html.LabelFor(model => model.FechaSalida, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.FechaSalida, "{0:s}", new { @class = "form-control", @type = "datetime-local" })
                    @Html.ValidationMessageFor(model => model.FechaSalida, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                @Html.LabelFor(model => model.FechaRegreso, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.FechaRegreso, "{0:s}", new { @class = "form-control", @type = "datetime-local" })
                    @Html.ValidationMessageFor(model => model.FechaRegreso, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                @Html.LabelFor(model => model.FechaBiometrico, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.FechaBiometrico, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.FechaBiometrico, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                @Html.LabelFor(model => model.DescripcionOrigen, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.DescripcionOrigen, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.DescripcionOrigen, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>


    <div class="collapse" id="collapseJustificar">
        <div class="card card-body">
            <div style="overflow-x:auto;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Motivo</th>
                            <th>Fecha Salida</th>
                            <th>Fecha Regreso</th>
                        </tr>

                    </thead>
                    <tbody>
                        @for (var i = 0; i < 5; i++)
                        {
                            @Html.TextBoxFor(m => Model.JustificaSolicitudes[i].IdJustificaSolicitud, new { @hidden = "hidden" })
                            @Html.TextBoxFor(m => Model.JustificaSolicitudes[i].IdSolicitudPermiso, new { @hidden = "hidden", @value = Model.IdSolicitudPermiso })
                        <tr>
                            <td>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @if (Model.JustificaSolicitudes[i].EnvioOnlyControl == true)
                                        {
                                            @Html.DropDownListFor(m => m.JustificaSolicitudes[i].CodigoMotivo, new SelectList(ViewBag.MotivosPermiso, "CodigoMotivo", "DescripcionMotivo", Model.JustificaSolicitudes[i].CodigoMotivo), "Seleccione", new { @class = "form-control", disabled = "disabled" })

                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(m => m.JustificaSolicitudes[i].CodigoMotivo, new SelectList(ViewBag.MotivosPermiso, "CodigoMotivo", "DescripcionMotivo", Model.JustificaSolicitudes[i].CodigoMotivo), "Seleccione", new { @class = "form-control" })

                                        }
                                    </div>
                                </div>
                            </td>
                            @if (Model.JustificaSolicitudes[i].EnvioOnlyControl == true)
                            {
                                <td>@Html.TextBoxFor(m => m.JustificaSolicitudes[i].FechaSalida, "{0:s}", new { @class = "form-control", @type = "datetime-local", @readonly = "readonly" })</td>
                                <td>@Html.TextBoxFor(m => m.JustificaSolicitudes[i].FechaRegreso, "{0:s}", new { @class = "form-control", @type = "datetime-local", @readonly = "readonly" })</td>

                            }
                            else
                            {
                                <td>@Html.TextBoxFor(m => m.JustificaSolicitudes[i].FechaSalida, "{0:s}", new { @class = "form-control", @type = "datetime-local" })</td>
                                <td>@Html.TextBoxFor(m => m.JustificaSolicitudes[i].FechaRegreso, "{0:s}", new { @class = "form-control", @type = "datetime-local" })</td>

                            }

                        </tr>
                        }


                </table>

            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-12 text-center">
            @*<input type="submit" value="Grabar" class="btn btn-primary" />*@
            <button data-toggle="tooltip" data-placement="top" title="Grabar" class="btn" id="" onclick="" style="border-color:#2c3e50" type="submit">
                <img style="width:100%" src="~/Content/icons/save20.png" />
            </button>
            @if (ViewBag.Justifica != null)
            {
            <button data-toggle="collapse" data-placement="top" title="justificar" class="btn" data-target="#collapseJustificar" aria-expanded="false" aria-controls="collapseExample" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/justificar24.png" />
            </button>
            
            @*<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseJustificar" aria-expanded="false" aria-controls="collapseExample">
                    justificar
                </button>*@
            }
            @*<input type="button" value="Cancelar" class="btn btn-primary" data-dismiss="modal" />*@
            <button data-toggle="tooltip" data-placement="top" title="Cancelar" class="btn" data-dismiss="modal" id="" onclick="" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/cancel24.png" />
            </button>
        </div>
    </div>

</div>
}
<script>
   
    
</script>