@model Asiservy.Automatizacion.Datos.Datos.CC_ANALISIS_QUIMICO_PRECOCCION_CTRL
@using Asiservy.Automatizacion.Datos.Datos;
@using Newtonsoft.Json;
@{
    ViewBag.Title = "ControlAnalisisQuimico";
}


<style>
    input, select, textarea {
        max-width: 100%;
    }

    .selectbox {
        background: #fff;
        color: #1d3b4a;
        padding: 5px 8px;
        line-height: 18px;
        border-radius: 4px;
        border-width: 0 1px 4px;
        cursor: pointer;
        border: 1px solid #ddd;
    }

    .box_filters {
        float: right;
    }

    .itemFilter {
        float: left;
        margin-right: 4px;
    }

    .btnWait {
        cursor: no-drop !important;
    }

    ._bloque {
        margin-bottom: 10px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    fieldset {
        border: 1px solid #ddd !important;
        margin: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: #f5f5f5;
        padding-left: 10px !important;
    }

    legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px 5px 5px 10px;
        background-color: #ffffff;
    }

    .img {
        margin: 10px auto;
        border-radius: 5px;
        border: 1px solid #999;
        padding: 13px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

        .img img {
            width: 100%;
        }

    @@media all and (min-width: 500px) and (max-width: 1000px) {
        .img {
            margin: 20px auto;
            border-radius: 5px;
            border: 1px solid #999;
            padding: 13px;
            width: 300px;
            height: 300px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .img img {
        width: 100%;
    }
</style>

<div class="row">
    <div class="col-12  text-md-left text-center">
        <h5 style="float:left">CONTROL DE ÁNALISIS QUÍMICO PRECOCCIÓN<label id="lblAprobadoPendiente" class="badge badge-danger"></label></h5>
        <div class="col-md-3 col-12 col-sm-12 float-right text-right">
            @if (ViewBag.Link == null)
            {
                <a style="text-decoration:underline;" href="@ViewBag.Link" class="form-label disabled">Ir al Reporte</a>
            }
            else
            {<a style="text-decoration:underline;" href="@ViewBag.Link" class="form-label">Ir al Reporte</a>}
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-1 col-2 col-sm-2 float-left" id="divBotonCrear">
        <label class="" id="lblAcciones">NUEVO</label>
        <div class="form-group">
            <button data-toggle="tooltip" data-placement="top" title="Crear nuevo registro" class="btn" id="btnModalGenerarRegistro" onclick="ModalIngresoCabecera()" style="border-color:#2c3e50" type="button">
                <img style="width:100%" src="~/Content/icons/add24.png" />
            </button>
        </div>
    </div>
    <div class="col-md-2 col-5 col-sm-3">
        <label>TURNO</label>
        <div class="form-group">
            @if (ViewBag.Turno != null)
            {
                @Html.DropDownList("selectTurno", new SelectList(ViewBag.Turno, "Codigo", "Descripcion"), new { @Class = "form-control", @onchange = "CargarCabecera()" });
            }
            else
            { <label class="badge badge-danger">No existen turnos</label>}
        </div>
    </div>
    <div class="col-md-2 col-7 col-sm-4">
        FECHA PRODUCCIÓN
        <div class=" box_filters float-left">
            <div class="itemFilter">
                <input type="date" name="name" value="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="CargarCabecera()" id="txtFechaProduccion" class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-md-3 col-10 col-sm-5">
        FECHA ASIGNADA
        <div class="box_filters float-left">
            <div class="itemFilter">
                <input type="date" name="name" value="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="CargarParadas()" id="txtFecha" class="form-control" />
            </div>
            <div class="float-right">
                <a href="#" id="btnModalGenerarRegistro" title="Consultar registro" class="btn btn-primary btn-sm"><i onclick="CargarCabecera()" id="iconSearch" class="fas fa-search"></i></a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="card col-md-12" id="divMostrarCabecera" hidden>
    <div class="row">
        <div class="col-md-9 col-12 col-sm-12" style="float:left">
            <div class="form-group">
                <label>OBSERVACIÓN</label>
                <textarea type="text" name="name" disabled value="" onchange="OnChangeTextBox()" id="txtObservacionVer" class="form-control" rows="2"></textarea>
            </div>
        </div>
        <div class="col-md-3 col-12 col-sm-12 text-md-center text-center">
            <div class="form-group">
                <label>ACCIONES</label><br />
                <button data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn" id="btnModalEliminar" onclick="EliminarConfirmar()" style="border-color:#2c3e50" type="button">
                    <img style="width:100%" src="~/Content/icons/cancel24.png" />
                </button>
                <button data-toggle="tooltip" data-placement="top" title="Editar" class="btn" id="btnModalEditar" onclick="ActualizarCabecera(true)" style="border-color:#2c3e50" type="button">
                    <img style="width:100%" src="~/Content/icons/edit24.png" />
                </button>
            </div>
        </div>
    </div>
</div>
<hr />

@*MODAL MOSTRAR TABLA DETALLE*@
<div id="divMostarTablaDetallesVer" class="table-responsive">
</div>

@*MODAL ELIMINAR REGISTRO CABECERA*@
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modalEliminarControl">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
                <input type="hidden" id="txtEliminarDetalle" name="name" value="" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" onclick="EliminarCabeceraSi()" id="modal-detalle-si">Si</button>
                <button type="button" class="btn btn-outline-primary" onclick="EliminarCabeceraNo()" id="modal-detalle-no">No</button>
            </div>
        </div>
    </div>
</div>

@*MODAL ELIMINAR REGISTRO DETALLE*@
@*<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modalEliminarControlDetalle">*@
<div class="modal" style="background-color:rgba(224, 224, 235, .4)" id="modalEliminarControlDetalle" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabelDetalle"></h5>
                <button type="button" class="close" data-dismiss="modal" onclick="EliminarDetalleNo()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" onclick="EliminarDetalleSi()" id="modal-detalle-si">Si</button>
                <button type="button" class="btn btn-outline-primary" onclick="EliminarDetalleNo()" id="modal-detalle-no">No</button>
            </div>
        </div>
    </div>
</div>

@* MODAL PARA EL INGRESO NUEVO REGISTRO CABECERA*@
<div class="modal" tabindex="-1" id="ModalIngresoCabecera" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">NUEVO CONTROL</h5>
                <button type="button" class="close" data-dismiss="modal" onclick="LimpiarModalIngresoCabecera()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-12 col-sm-12">
                        <div class="form-group">
                            <label>FECHA</label>
                            <input type="date" name="name" value="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="OnChangeTextBox(0)" max="@DateTime.Now.ToString("yyyy-MM-dd")" id="txtIngresoFecha" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-sm-12">
                        <label>TURNO</label>
                        <div class="form-group">
                            @if (ViewBag.Turno != null)
                            {
                                @Html.DropDownList("selectTurnoInsertar", new SelectList(ViewBag.Turno, "Codigo", "Descripcion"), new { @Class = "form-control" });
                            }
                            else
                            { <label class="badge badge-danger">No existen turnos</label>}
                        </div>

                    </div>
                    <div class="col-md-12 col-12 col-sm-12">
                        <div class="form-group">
                            <label>OBSERVACIÓN</label>
                            <textarea type="text" name="name" value="" maxlength="200" id="txtIngresoObservacion" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="ValidarDatosVacios(0)" id="btnGenerarControlRegistro">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="LimpiarModalIngresoCabecera()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalIngresoSubDetalle" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6>INGRESO SUBDETALLE</h6>
                <button type="button" class="close" data-dismiss="modal" onclick="LimpiarDetalle()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-12 col-sm-12">
                        <b><label id="lblCocinador"></label></b>
                        <b><label id="lblParada"></label></b>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link show active" data-toggle="tab" href="#divParametros" id="areproc">PARÁMETROS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#DivFotos" id="areaemp" onclick="CargarImagen()">IMAGENES</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane container-fluid active" id="divParametros">
                                <div class="row">
                                    <div class="col-md-12 col-12 col-sm-12">
                                        <button type="button" class="btn btn-primary" onclick="GuardarElemento()" id="btnGuadarElemento">Agregar</button>
                                        <button data-toggle="tooltip" data-placement="top" title="Nuevo" class="btn " id="btnNuevo" onclick="NewElement()" style="border-color:#2c3e50;padding:0px" type="button">
                                            <img style="width:100%" src="~/Content/icons/clear24.png" />
                                        </button>
                                    </div>
                                    <div class="col-md-12 col-12 col-sm-12">
                                        <br />
                                        <div class="form-group" style="text-transform:capitalize">
                                            @if (ViewBag.Turno != null)
                                            {
                                                @Html.DropDownList("selectParametros", new SelectList(ViewBag.listaParametros, "IdParametro", "NombreParametro"), new { @Class = "form-control", @onchange = "ConsultarElemento()" });
                                            }
                                            else
                                            { <label class="badge badge-danger">No existen turnos</label>}
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12 col-sm-12">
                                        <label>LOTE - BARCO</label>
                                        <div class="form-group">
                                            <select id="selectIngresarLote" class="form-control"></select>
                                        </div>
                                    </div>
                                    @{
                                        var json = (from x in ViewBag.listaParametros as List<CC_PARAMETROS_LABORATORIO> select new { x.IdParametro, x.Mascara }).ToList();
                                        <div class="col-md-12 col-12 col-sm-12">
                                            <label>VALOR</label>
                                            <div class="form-group">
                                                @foreach (var item in json)
                                                {
                                                    <input hidden type="text" autocomplete="off" name="name" id="txtValor_@item.IdParametro" maxlength="8" class="form-control" />
                                                }
                                            </div>
                                        </div>
                                    }
                                    <input type="hidden" value="@JsonConvert.SerializeObject(json)" id="inputMask" />
                                    <div class="col-md-12 col-12 col-sm-12">
                                        <label>GUARDADO</label>
                                        <div class="table-responsive" id="divElementos">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane container-fluid fade" id="DivFotos">
                                <div class="row">
                                    <div class="col-md-12 col-12 col-sm-12">
                                        <button type="button" class="btn btn-primary" onclick="GuardarImagen()" id="btnFotos">Agregar</button>
                                        <button data-toggle="tooltip" data-placement="top" title="Nueva Foto" class="btn" id="btnNuevo" onclick="LimpiarDatosImagen()" style="border-color:#2c3e50; padding:0px" type="button">
                                            <img style="width:100%" src="~/Content/icons/clear24.png" />
                                        </button>
                                    </div>
                                    <div class="col-md-12 col-12 col-sm-12">
                                        <br />
                                        <div class="form-group">
                                            <label>OBSERVACIÓN</label>
                                            <textarea class="form-control" id="txtObservacionFoto" onchange="OnChangeTextBoxAccion()" maxlength="200" style="font-size:10px" type="text" name="name" rows="2"></textarea>
                                        </div>
                                    </div>
                                    <div id="divInputLoad" class="col-md-12 col-12 col-sm-12">
                                        <label>ADJUNTAR IMAGEN</label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="file-upload" onclick="OnChangeTextBoxAccion()" accept="image/*">
                                            <label class="custom-file-label" for="customFile" onclick="OnChangeTextBoxAccion()" id="lblfoto">Seleccione archivo</label>
                                        </div>
                                        <div class="text-center" style="justify-content:center">
                                            <br />
                                            <div id="file-preview-zone" style="height:auto">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="divListarImagen" class="table-responsive"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="LimpiarDetalle()">Salir</button>
            </div>
        </div>
    </div>
</div>

@*MODAL ELIMINAR REGISTRO ACCION CORRECTIVA*@
<div class="modal" style="background-color:rgba(224, 224, 235, .4)" id="modalEliminarImagen" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="accionCorrectiva"></h5>
                <button type="button" class="close" onclick="EliminarImagenNo()" aria-label="Close"><span>&times;</span></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" onclick="EliminarImagenSi()" id="btnEliminarSi">Si</button>
                <button type="button" class="btn btn-outline-primary" onclick="EliminarImagenNo()" id="btnEliminarNo">No</button>
            </div>
        </div>
    </div>
</div>

@*CONFIRMACION EDICION DETALLE DE FECHAS FUTURAS*@
<div class="modal" style="background-color:dimgrey" id="modalConfirmarEdicion" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title" id="confirmarIngreso"></label>
                <button type="button" class="close" onclick="ConfirmarIngreso()" aria-label="Close"><span>&times;</span></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" onclick="ConfirmarIngreso()" id="btnEliminarNo">OK</button>
            </div>
        </div>
    </div>
</div>