@model IEnumerable<Asiservy.Automatizacion.Formularios.Models.OrdenFabricacionAvance>


<table class="table table-bordered text-uppercase">
    <thead style="font-size:11px">
        <tr>
            <th>COCINADOR</th>
            <th>PARADA</th>
            <th>LOTE/COD. BARCO</th>
            <th>ESP. TALLA</th>      
            <th>Nº COCHE</th>
            <th>SAL</th>
            <th>PROM</th>
            <th>HISTAMINA ppm</th>
            <th>VALOR MAX</th>
            <th>VALOR MIN</th>
            <th>HUMEDAD %</th>
            <th>PROM</th>
            <th>TURNO</th>
            <th>ANALISTA</th>
            <th>ACCIONES</th>
        </tr>
    </thead>

    <tbody style="font-size:10px">
        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td></td>
                <td>
                    @item.Lote / @item.OrdenFabricacion
                </td>                
                <td>
                    @item.Especie - @item.Talla
                </td>
                <td>
                    coche
                </td>
                <td onclick="ModalIngresoDetalle()">
                    sal
                </td>
                <td>
                    @item.Promedio
                </td>
                <td>
                    histamina
                </td>
                <td>
                    vlorMax
                </td>
                <td>
                   valor min
                </td>
                <td>
                    humedad
                </td>
                <td>
                    Prom
                </td>
                <td>
                    turno
                </td>
                <td>analista</td>
                <td>
                    botones
                </td>
            </tr>
        }
    </tbody>
</table>
