@model Asiservy.Automatizacion.Datos.Datos.CONTROL_HUESO

@{
    ViewBag.Title = "ControlHueso";
}

<h3>Control de Huesos</h3>
<h4>@ViewBag.Linea</h4>
<h4>@DateTime.Now.ToShortDateString()</h4>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">            

        <input type="hidden" name="name" id="txtLinea" value="@ViewBag.CodLinea" />
        <div class="offset-md-3 col-md-3 col-sm-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Hora, htmlAttributes: new { @class = "control-label col-md-2" })
                <select class="form-control" id="SelectHora" onchange="ValidaControlHueso(this.value)">
                    <option value="0">Seleccione</option>
                    <option value="08:00">08:00</option>
                    <option value="09:00">09:00</option>
                    <option value="10:00">10:00</option>
                    <option value="11:00">11:00</option>
                    <option value="12:00">12:00</option>
                    <option value="13:00">13:00</option>
                    <option value="14:00">14:00</option>
                    <option value="15:00">15:00</option>
                    <option value="16:00">16:00</option>
                    <option value="17:00">17:00</option>
                    <option value="1">Salida</option>
                </select>

                @Html.ValidationMessageFor(model => model.Hora, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Lote, htmlAttributes: new { @class = "control-label col-md-2" })
                <select class="form-control" id="SelectLote" onchange="seleccionLote(this.value)">
                    <option value="0">Seleccione</option>
                    <option value="A1">A1</option>
                    <option value="B1">B1</option>
                    <option value="B2">B2</option>
                    <option value="B3">B3</option>
                </select>
                @Html.ValidationMessageFor(model => model.Lote, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
    <br />
    <div class="row">
        <div id="DivTableControlHueso" class="table-responsive">

        </div>

        <div class="col-12 text-center">
            <input type="button" id="btnGenerar" name="Generar" value="Generar" class="btn btn-primary" onclick="GenerarControlHueso()" hidden/>
        </div>
    </div>


</div>
}


<script src="~/Scripts/Empleado/ControlHueso.js"></script>