@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsutaEmpleadosFiltro>


<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <td>
                
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" checked class="custom-control-input" id="Empleado" onclick="SeleccionarTodos(this.checked)">
                    <label class="custom-control-label" for="Empleado">Todos</label>
                </div>
                
            </td>
            <th>
                @Html.DisplayNameFor(model => model.CEDULA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOMBRES)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CARGO)
            </th>
        
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" checked class="custom-control-input" id="Empleado-@item.CEDULA">
                        <label class="custom-control-label" for="Empleado-@item.CEDULA"></label>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CEDULA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBRES)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CARGO)
                </td>

            </tr>
        }
    </tbody>
</table>


<script>
    $('#tblDataTable').DataTable({
        "language": {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        },
        "dom": 'Bfrtip',
        "order": [[0, "desc"], [1, "desc"]],
        "scrollY": '30vh',
        "scrollCollapse": true,
        "paging": false

       
    });
</script>