@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsutaReporteEmpleadosTurnos>

@{
    ViewBag.Title = "ReporteEmpleadoTurnoPartial";
}


<table class="table-hover table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CEDULA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOMBRES)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LINEA)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.TURNO)
            </th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.PRESTADO==true)
                        {
                            @Html.TextBoxFor(modelItem => item.CEDULA, new { @class = "form-control", @readonly = "readonly", @style = "background:darkseagreen;color: white" })
                        }
                        else
                        {
                            @Html.TextBoxFor(modelItem => item.CEDULA, new { @class = "form-control", @readonly = "readonly" })
                        }

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NOMBRES)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LINEA)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.TURNO)
                    </td>

                </tr>
            }
        }
    </tbody>
</table>