@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.spConsultaDistribucionPorLinea>

<table class="table-bordered table-striped table" style="cursor: pointer" id="tblDataTable">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuestoTrabajo)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Presente)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Falta)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.PermisoMedico)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.CambioArea)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.PermisoGeneral)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Total)
            </th>

        </tr>
    </thead>
    <tbody>
        @{ 
            int TotalPresente = 0;
            int TotalFalta = 0;
            int TotalPermisoMedico = 0;
            int TotalCambioArea = 0;
            int TotalPermisoGeneral = 0;
            int Total = 0;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.Cargo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PuestoTrabajo)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Presente)
                    @{ TotalPresente = TotalPresente + item.Presente??0;}
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Falta)
                    @{ TotalFalta = TotalFalta + item.Falta??0;}

                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.PermisoMedico)
                    @{ TotalPermisoMedico = TotalPermisoMedico + item.PermisoMedico ?? 0;}

                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.CambioArea)
                    @{ TotalCambioArea = TotalCambioArea + item.CambioArea ?? 0;}

                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.PermisoGeneral)
                    @{ TotalPermisoGeneral = TotalPermisoGeneral + item.PermisoGeneral ?? 0;}

                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Total)
                    @{ Total = Total + item.Total ?? 0;}

                </td>

            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>Totales:</td>
            <td class="text-center">@TotalPresente</td>
            <td class="text-center">@TotalFalta</td>
            <td class="text-center">@TotalPermisoMedico</td>
            <td class="text-center">@TotalCambioArea</td>
            <td class="text-center">@TotalPermisoGeneral</td>
            <td class="text-center">@Total</td>
        </tr>
    </tfoot>
</table>
