
@{
    ViewBag.Title = "ReporteDistribucionPorLinea";
}
<style>
    input, select, textarea {
        max-width: 100%;
    }
</style>

<h3>Distribucion del personal por linea</h3>
<input type="hidden" name="name" id="txtProceso" value="@ViewBag.Proceso" />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-6">
            <div class="form-group">
               
                @if (ViewBag.SupervisorGeneral != null)
                {
                    @Html.DropDownList("Linea", new SelectList(ViewBag.Lineas, "Codigo", "Descripcion"), "Seleccione", new { @class = "form-control", @id = "selectLinea" })
                }
                else
                {
                    @Html.DropDownList("Linea", new SelectList(ViewBag.Lineas, "Codigo", "Descripcion", ViewBag.LineaEmpleado), "Seleccione", new { @class = "form-control", @readonly = "@readonly", @onchange = "CambioLinea(this.id)", @id = "selectLinea" })
                    <script>
                    function CambioLinea(id) {

                        $('#' + id).val('@ViewBag.LineaEmpleado');
                    }
                    </script>

                }
            </div>
        </div>
        <div class="col-6">
            <button class="btn btn-primary" type="button" disabled hidden id="btnGuardarCargando">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Espere...
            </button>
            <input type="button" id="btnGuardar" class="btn btn-primary" name="name" onclick="CargarReporteDistribucion()" value="Consultar" />
        </div>

    </div>

    <div class="row">
        <div class="table-responsive" id="DivTableReporteDistribucion"></div>
    </div>
</div>
<script src="~/Scripts/Empleado/ReporteDistribucionPorLinea.js"></script>