@using Asiservy.Automatizacion.Datos.Datos
@{

    ViewBag.Title = "ProtocoloMateriaPrima";
}

@{
    var Parametros = (List<CC_MANTENIMIENTO_PARAMETRO_SENSORIAL_AS>)ViewBag.Parametros;
    var Calificaciones = (List<CC_MANTENIMIENTO_CALIFICACION_AS>)ViewBag.Calificaciones;
    var Apariencia = (List<CC_MANTENIMIENTO_APARIENCIA_AS>)ViewBag.Apariencia;

    <script>
        parametros = [];
        calificaciones = [];
        apariencia = [];

        parametros= @Html.Raw(Json.Encode(Parametros));
        calificaciones = @Html.Raw(Json.Encode(Calificaciones));
        apariencia = @Html.Raw(Json.Encode(Apariencia));
        //console.log(parametros);
        //console.log(calificaciones);
    </script>

}
<style>
    input, select, textarea {
        max-width: 100%;
    }

    .blue {
        border-color: blue;
    }
</style>



<div class="row">
    <div class="col-md-12 ">
        <h4 class="text-md-left text-center text-uppercase" style="float:left">Protocolo de Materia Prima <label id="lblAprobadoPendiente" class="badge"> </label></h4>
        <div class="col-md-3 col-12 col-sm-12 float-right text-right">
            <a style="text-decoration:underline;" href="@ViewBag.Link" class="form-label">Ir al Reporte</a>
        </div>
    </div>
</div>

<hr />
<div class="card shadow" id="divCabecera" style="padding:10px">
    <div class="card-header">
        <div class="row" id="">

            <div class="col-md-3 col-6 col-sm-6">
                <div class="form-group">
                    <label>Fecha</label>
                    <input type="date" class="form-control" id="txtFecha" name="name" onchange="ConsultarControl()" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                </div>
            </div>
            <div class="col-md-9 col-6 col-sm-6 text-left">
                <label class="">Acciones</label>
                <div class="form-group">
                    <button data-toggle="tooltip" data-placement="top" title="Generar" class="btn" id="btnGenerar" onclick="MostrarModal()" style="border-color:#2c3e50" type="button">
                        <img style="width:100%" src="~/Content/icons/add24.png" />
                    </button>

                </div>
            </div>

        </div>

    </div>

    <div class="card-body">

        <div id="divCuerpo">

        </div>
    </div>
</div>

<br />
<div id="divDetalle" hidden>

    <div class="card shadow" id="">
        <div class="card-header text-center">
            <div class="row">
                <div class="col-md-2 col-sm-6 col-4 text-left">

                    <h6 id="">Lote: <label id="hMensaje"></label></h6>
                    <h6 id="">O.F.: <label id="hMensajeOf"></label></h6>
                    <h6 id="">PCC: <label id="hMensajePCC"></label></h6>


                </div>
                <div class="col-md-9 col-sm-6 col-8">
                    <label class="">Acciones</label>
                    <div class="form-group">
                        <button data-toggle="tooltip" data-placement="top" title="Regresar" class="btn" id="btnEditar" onclick="EditarControl()" style="border-color:#2c3e50" type="button">
                            <img style="width:100%" src="~/Content/icons/edit24.png" />
                        </button>
                        <button data-toggle="tooltip" data-placement="top" title="Regresar" class="btn" id="btnEliminar" onclick="EliminarControl()" style="border-color:#2c3e50" type="button">
                            <img style="width:100%" src="~/Content/icons/cancel24.png" />
                        </button>
                        <button data-toggle="tooltip" data-placement="top" title="Regresar" class="btn" id="btnAtras" onclick="Atras()" style="border-color:#2c3e50" type="button">
                            <img style="width:100%" src="~/Content/icons/atras24.png" />
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="card shadow">
        <div class="card-body">
            <div class="card-header">
                <div class="form-group">
                    <button data-toggle="tooltip" data-placement="top" title="Generar" class="btn" id="btnGenerar" onclick="MostrarModalDetalle()" style="border-color:#2c3e50" type="button">
                        <img style="width:100%" src="~/Content/icons/add24.png" />
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="text-center text-warning">
                    <h4 id="h4Mensaje"></h4>
                </div>
                <div id="tblPartial" class="table-responsive">

                </div>

            </div>
        </div>
    </div>

</div>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modalEliminarControlDetalle">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="txtEliminarDetalle" name="name" value="" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">¿Eliminar el control?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id="modal-detalle-si">Si</button>
                <button type="button" class="btn btn-outline-primary" id="modal-detalle-no">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modalControl">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="txtIdControl" name="name" value="0" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Fecha Ingreso Planta</label>
                            <input type="date" class="form-control" id="txtFechaDescarga" name="name" value="" />
                        </div>
                    </div>
                    <div class="col-md-3 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Fecha Evaluación</label>
                            <input type="date" class="form-control" id="txtFechaEvaluación" name="name" value="" />
                        </div>
                    </div>
                    <div class="col-md-3 col-12 col-sm-12">
                        <div class="form-group">
                            <label>Orden Fabricación</label>
                            <div class="input-group">
                                @Html.TextBox("txtOrdenFabricacion", null, new { style = "width: 75%; border: 1px solid #d1d3e2; border-radius: 0.35rem", @readonly = "readonly" })
                                <button type="button" onclick="" id="btnOrden">
                                    <img src="~/Content/images/buscar.png" />
                                </button><br />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Lote</label>
                            <select class="form-control" id="selectLote">
                                <option value="">Seleccione</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Código Protocolo</label>
                            <input type="text" maxlength="20" class="form-control" id="txtCodigoProtocolo" name="name" value="" />
                        </div>
                    </div>
                    <div class="col-md-2 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Lote Descarga</label>
                            <input type="text" class="form-control" id="txtLoteDescarga" name="name" value="" />
                        </div>
                    </div>
                    <div class="col-md-2 col-6 col-sm-6">
                        <div class="form-group">
                            <label>Pcc</label>
                            @Html.DropDownList("selectPcc", new SelectList(ViewBag.Pcc, "Numero", "Numero"), "Seleccione", new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="col-md-5 col-12 col-sm-12">
                        <div class="form-group">
                            <label>Observación</label>
                            <input type="text" maxlength="250" class="form-control" id="txtObservación" name="name" value="" />

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="GuardarControl()">Guardar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="ModalDetalle">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="txtIdControlDetalle" name="name" value="0" />
                <h5 class="modal-title">Protocolo de Materia Prima Detalle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">

                    @{
                        if (Parametros != null)
                        {
                            foreach (var x in Parametros)
                            {
                                <div class="col-md-4 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label>@x.Descripcion</label>
                                        <select class="form-control" id="select-@x.IdParametroSensorial">
                                            <option value="" id="">Seleccione</option>
                                            @if (Calificaciones != null)
                                            {
                                                foreach (var y in Calificaciones)
                                                {
                                                    <option value="@y.IdCalificacion">@y.Descripcion</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            }
                        }
                        <div class="col-md-4 col-sm-6 col-12">
                            <form class="was-validated">
                                @if (Apariencia != null)
                                {
                                    foreach (var a in Apariencia)
                                    {
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" checked class="custom-control-input" id="chk-@a.IdApariencia" required>
                                            <label class="custom-control-label" for="chk-@a.IdApariencia">@a.Descripcion</label>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <label>No existen registros activos en el mantenimiento de apariencia.</label>
                                }
                            </form>
                        </div>
                    }


                    @*<div class="custom-control custom-checkbox">
                            <input type="checkbox" checked class="custom-control-input" id="customControlValidation1" required>
                            <label class="custom-control-label" for="customControlValidation1">No Maltratado</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" checked class="custom-control-input" id="customControlValidation2" required>
                            <label class="custom-control-label" for="customControlValidation2">No honey</label>
                        </div>*@



                </div>

            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <label>Muestras</label>
                    <input type="text" class="form-control" id="txtCantidad" name="name" value="1" />
                </div>
                <button type="button" class="btn btn-primary" onclick="GuardarDetalle()">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>



<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modalEliminarDetalle">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="txtEliminarDetalle" name="name" value="" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">¿Eliminar el detalle?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id="modal-si">Si</button>
                <button type="button" class="btn btn-outline-primary" id="modal-no">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="ModalOrdenes">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ordenes de fabricación</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>Fecha</label>
                            <input type="date" class="form-control" id="txtFechaOrden" name="name" value="" onchange="CargarOrdenFabricacion()" />
                            <p class="text-danger" hidden id="validaFecha">No existen ordenes</p>
                        </div>

                    </div>
                    <div class="col-6">
                        <label>Orden:</label>
                        <select id="SelectOrdenFabricacion" , class="form-control">
                            <option value="0">Seleccione</option>
                        </select>
                        <p class="text-danger" hidden id="validaOrden">Seleccione una orden</p>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" id="modal-orden-si">Aceptar</button>
                <button type="button" class="btn btn-outline-dark" id="modal-orden-no">Cancelar</button>
            </div>
        </div>
    </div>
</div>




