@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.CC_PROTOCOLO_MATERIA_PRIMA_DETALLE_AS>
@using Asiservy.Automatizacion.Datos.Datos
@using Newtonsoft.Json;

@{
    var Parametros = (List<CC_MANTENIMIENTO_PARAMETRO_SENSORIAL_AS>)ViewBag.Parametros;
    var Apariencia = (List<CC_MANTENIMIENTO_APARIENCIA_AS>)ViewBag.Apariencia;


    int cont = 1;

}


<table class="table table-hover table-striped" id="tblDataTable">
    <thead>
        <tr>
            <th>
               
            </th>
            <th hidden></th>
            <th style="white-space:normal">Nº Pescados</th>
            @{
                if (Parametros != null)
                {
                    foreach (var p in Parametros)
                    {
                        <th style="white-space:normal">@p.Descripcion</th>
                    }
                }
                if (Apariencia != null)
                {
                    foreach (var a in Apariencia)
                    {
                        <th style="white-space:normal">@a.Descripcion</th>
                    }
                }
            }
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center ">
                    <div class="custom-control custom-checkbox td_muestra">
                        <input type="checkbox" data-cedula="@item.IdProtocoloMateriaPrimaDetalle"  class="custom-control-input detallecheck" id="ChkControl-@item.IdProtocoloMateriaPrimaDetalle">
                        <label class="custom-control-label" for="ChkControl-@item.IdProtocoloMateriaPrimaDetalle"></label>
                    </div>
                </td>
                <td hidden>@item.IdProtocoloMateriaPrimaDetalle</td>
                <td>@cont</td>
                @{

                    if (Parametros != null)
                    {
                        foreach (var p in Parametros)
                        {
                            var detalle = item.CC_PROTOCOLO_MATERIA_PRIMA_SUBDETALLE_AS.FirstOrDefault(x => x.IdParametroSensorial == p.IdParametroSensorial);
                            if (detalle != null)
                            {
                                <td class="text-center">@detalle.IdCalificacion</td>
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                    }

                    if (Apariencia != null)
                    {
                        foreach (var p in Apariencia)
                        {
                            var detalle = item.CC_PROTOCOLO_MATERIA_PRIMA_SUBDETALLE_APARIENCIA_AS.FirstOrDefault(x => x.IdApariencia == p.IdApariencia);
                            if (detalle != null)
                            {
                                <td class="text-center">
                                    @if (detalle.Valor)
                                    {
                                        <i class="fa fa-check-circle text-success" aria-hidden="true"></i>

                                    }
                                    else
                                    {
                                        <i class="fa fa-times text-danger" aria-hidden="true"></i>
                                    }
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                    }
                    cont = cont + 1;
                }
                <td>
                    @{

                        CC_PROTOCOLO_MATERIA_PRIMA_DETALLE_AS prueba = new CC_PROTOCOLO_MATERIA_PRIMA_DETALLE_AS()
                        {
                            //CC_PROTOCOLO_MATERIA_PRIMA_SUBDETALLE_APARIENCIA_AS = item.CC_PROTOCOLO_MATERIA_PRIMA_SUBDETALLE_APARIENCIA_AS.ToList(),
                            //CC_PROTOCOLO_MATERIA_PRIMA_SUBDETALLE_AS = item.CC_PROTOCOLO_MATERIA_PRIMA_SUBDETALLE_AS.ToList(),
                            EstadoRegistro = item.EstadoRegistro,
                            IdProtocoloMateriaPrimaDetalle = item.IdProtocoloMateriaPrimaDetalle
                        };

                        foreach (var x in item.CC_PROTOCOLO_MATERIA_PRIMA_SUBDETALLE_AS)
                        {
                            prueba.CC_PROTOCOLO_MATERIA_PRIMA_SUBDETALLE_AS.Add(new CC_PROTOCOLO_MATERIA_PRIMA_SUBDETALLE_AS()
                            {
                                IdCalificacion = x.IdCalificacion,
                                IdParametroSensorial = x.IdParametroSensorial
                            });
                        }

                        foreach (var x in item.CC_PROTOCOLO_MATERIA_PRIMA_SUBDETALLE_APARIENCIA_AS)
                        {
                            prueba.CC_PROTOCOLO_MATERIA_PRIMA_SUBDETALLE_APARIENCIA_AS.Add(new CC_PROTOCOLO_MATERIA_PRIMA_SUBDETALLE_APARIENCIA_AS()
                            {
                                IdApariencia = x.IdApariencia,
                                Valor = x.Valor
                            });
                        }

                        string json = Json.Encode(prueba);
                    }
                    <button id="btnActualizar" style="padding:0px" class="btn btn-link" onclick="EditarControlDetalle(@json)">Editar</button>
                   @* <button id="btnEliminar" style="padding:0px" class="btn btn-link" onclick="EliminarControlDetalle(@json)">Eliminar</button>*@

                </td>
            </tr>
        }
    </tbody>
</table>

