@model IEnumerable<Asiservy.Automatizacion.Datos.Datos.CC_PROTOCOLO_MATERIA_PRIMA_AS>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdProtocoloMateriaPrima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaEvaluacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDescarga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrdenFabricacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoteDescarga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoProtocolo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pcc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoReporte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaAprobacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AprobadoPor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaIngresoLog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioIngresoLog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TerminalIngresoLog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaModificacionLog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioModificacionLog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TerminalModificacionLog)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdProtocoloMateriaPrima)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEvaluacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDescarga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrdenFabricacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoteDescarga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoProtocolo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pcc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoReporte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaAprobacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AprobadoPor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaIngresoLog)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioIngresoLog)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TerminalIngresoLog)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaModificacionLog)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioModificacionLog)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TerminalModificacionLog)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
